[Desktop Entry]
Encoding=UTF-8
Name=KMahjongg
Name[x-test]=xxKMahjonggxx
Exec=kmahjongg -caption "%c"
Type=Application
GenericName=Mahjongg-like Tile Game
GenericName[fr]=Jeu de tuiles dans le style du Mahjongg
GenericName[x-test]=xxMahjongg-like Tile Gamexx
Terminal=false
Icon=kmahjongg
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
