[Desktop Entry]
Name=KMahjongg
Name[af]=Kmahjong
Name[ar]=لعبة KMahjongg
Name[be]=Маджонг
Name[bn]=কে-মাহজং
Name[eo]=Mahjongo
Name[hi]=के-महजोंग
Name[ne]=केडीई माहजोङ
Name[pa]=ਕੇ-ਮਹਿਜੋਂਗ
Name[pl]=Mahjongg
Name[sv]=Kmahjongg
Name[tg]=KМаҷонг
Name[th]=มาจง - K
Name[zh_TW]=KMahjongg 麻將
Exec=kmahjongg %i %m -caption "%c"
Type=Application
GenericName=Mahjongg-like Tile Game
GenericName[be]=Гульня ў маджонг
GenericName[bg]=Игра с плочки
GenericName[bn]=মাহজং-জাতীয় টালির খেলা
GenericName[br]=Ur c'hoari teol a seurt gant Mahjongg
GenericName[bs]=Igra nalik na Mahjongg
GenericName[ca]=Joc de mosaics a l'estil Mahjongg
GenericName[cs]=Hra s dlaždicemi podobná Mahjongg
GenericName[cy]=Gêm Deiliau sy'n debyg i Mahjongg
GenericName[da]=Mahjongg-lignende flisespil
GenericName[de]=Mahjongg-ähnliches Spiel mit Steinen
GenericName[el]=Παιχνίδι παρόμοιο με το Mahjongg
GenericName[eo]=Mahjongg-simila ludo
GenericName[es]=Juego de fichas similar al Mahjongg
GenericName[et]=Mahjonggi moodi klotsimäng
GenericName[eu]=Mahjongg-en antzeko fitxa-jokoa
GenericName[fa]=بازی کاشی شبیه Mahjongg
GenericName[fi]=Mahjonggin kaltainen peli
GenericName[fr]=Jeu de tuiles dans le style du Mahjongg
GenericName[ga]=Cluiche Tíleanna Mar Mahjongg
GenericName[he]=חיקוי Mahjongg, משחק אבנים (קלפים)
GenericName[hr]=Igra s pločicama poput Mahjongga
GenericName[hu]=Mahjongg
GenericName[is]=Leikur sem líkist Mahjongg
GenericName[it]=Gioco di tessere simile a Mahjongg
GenericName[ja]=上海マージャン牌ゲーム
GenericName[km]=ល្បែង​ក្បឿងដូច Mahjongg
GenericName[ko]=시센-쇼 마작과 같은 타일 게임
GenericName[lt]=Mahjongg primenantis žaidimas
GenericName[lv]=Mahjongg līdzīga spēle
GenericName[mk]=Игра со плочки слична на Mahjongg
GenericName[nb]=Mahjongg-aktig brikkespill
GenericName[nds]=Mahjongg-liek Speel
GenericName[ne]=माहजोङ जस्तै टायल खेल
GenericName[nl]=Mahjongg-achtig stenenspel
GenericName[nn]=Mahjongg-aktig brikkespel
GenericName[pl]=Gra typu Mahjonng
GenericName[pt]=Jogo de Padrões tipo Mahjongg
GenericName[pt_BR]=Jogo de Ladrilhos parecido com Mahjongg
GenericName[ru]=Маджонг
GenericName[se]=Mahjongg-lágan bihttáspeallu
GenericName[sk]=Hra typu Mahjongg
GenericName[sl]=Igra s ploščicami, podobna Mahjonggu
GenericName[sr]=Игра са пољима налик на Mahjongg
GenericName[sr@Latn]=Igra sa poljima nalik na Mahjongg
GenericName[sv]=Mahjongg-liknande brickspel
GenericName[ta]=மாஹ்ஜோங்-போன்ற ஓடு விளையாட்டு
GenericName[uk]=Гра з плитками подібна до Mahjongg
GenericName[zh_CN]=对对碰
GenericName[zh_TW]=麻將牌遊戲
Terminal=false
Icon=kmahjongg
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
