[Desktop Entry]
Name=Mahjongg
Name[eo]=Mahjongo
Name[ja]=¾å³¤
Name[sr]=Mahjong
Exec=kmahjongg %i %m -caption "%c"
Type=Application
DocPath=kmahjongg/index.html
Comment=Smart mahjongg game
Comment[ca]=Joc mahjongg murri
Comment[cs]=Inteligentní hra - Mahjongg
Comment[da]=Et mahjongg spil
Comment[de]=Hübsches Mahjongg-Spiel
Comment[eo]=inteligenta Mahjongoludo
Comment[es]=Un juego de inteligencia
Comment[fi]=Mahjongg peli
Comment[fr]=kmahjongg : Un beau jeu de Mahjongg
Comment[hr]=Inteligentna igra Mahjongga
Comment[hu]=Jópofa mahjongg tábla játék
Comment[is]=kmahjongg:  Öflugur mahjongg leikur
Comment[ja]=¥¹¥Þ¡¼¥È¤Ê¾å³¤¥²¡¼¥à
Comment[mi]=Jópofa mahjongg tábla játék
Comment[no]=Et smart Mahjongg-spill
Comment[no_NY]=Smart mahjongg-spel
Comment[pl]=Gra w Mahjongg
Comment[pt]=Jogo de Mahjongg inteligente
Comment[pt_BR]=Jogo de Mahjongg
Comment[ro]=Joc de Mahjongg (destul de inteligent)
Comment[ru]=õÍÎÙÊ mahjongg
Comment[sk]=Inteligentná hra - Mahjongg
Comment[sl]=Igra mahjongg
Comment[sr]=Pametna mahjong igra
Comment[sv]=Smart mahjongg-spel
Terminal=0
Icon=kmahjongg
