[KMahjonggLayout]
Name=4 Winds
Name[sv]=Fyra vindar
Name[uk]=4 Вітри
Description=A layout resembling a fortress
Description[sv]=Ett utlägg som liknar en fästning
Description[uk]=Розкладка, яка нагадує фортецю
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=4_winds.layout
