[KMahjonggLayout]
Name=4 Winds
Name[bs]=4 vjetra
Name[ca]=4 vents
Name[ca@valencia]=4 vents
Name[cs]=4 větry
Name[da]=4 Winds
Name[de]=Vier Winde
Name[el]=4 άνεμοι
Name[en_GB]=4 Winds
Name[es]=4 vientos
Name[et]=4 tiiba
Name[eu]=4 haizeak
Name[fi]=Neljä tuulta
Name[fr]=Les 4 vents
Name[ga]=Ceithre Ghaoth
Name[gl]=Catro ventos
Name[hr]=4 Winds
Name[hu]=4 szél
Name[id]=Persegi 4
Name[it]=4 venti
Name[kk]=4 қанатты
Name[km]=ខ្យល់​ ៤
Name[lt]=4 vėjai
Name[lv]=4 vēji
Name[nb]=Fire vinder
Name[nds]=Veer Winnen
Name[nl]=4 Windstreken
Name[nn]=Fire vindar
Name[pl]=4 wiatry
Name[pt]=4 Ventos
Name[pt_BR]=4 ventos
Name[ro]=4 vînturi
Name[ru]=4 крыла
Name[sk]=4 vetre
Name[sl]=4 vetrovi
Name[sq]=4 Winds
Name[sr]=Четири ветра
Name[sr@ijekavian]=Четири ветра
Name[sr@ijekavianlatin]=Četiri vetra
Name[sr@latin]=Četiri vetra
Name[sv]=Fyra vindar
Name[tr]=4 Rüzgar
Name[uk]=4 Вітри
Name[wa]=4 vints
Name[x-test]=xx4 Windsxx
Name[zh_CN]=四风牌
Name[zh_TW]=風牌
Description=A layout resembling a fortress
Description[bs]=Izgleda kao tvrđava
Description[ca]=Una disposició semblant a una fortalesa
Description[ca@valencia]=Una disposició semblant a una fortalesa
Description[cs]=Rozložení připomínající pevnost
Description[da]=Et layout der ligner en fæstning
Description[de]=Ein Design, das einer Festung ähnelt.
Description[el]=Μια διάταξη που μοιάζει με οχυρό
Description[en_GB]=A layout resembling a fortress
Description[es]=Un diseño que se asemeja a una fortaleza
Description[et]=Kindlust meenutav paigutus
Description[eu]=Gotorlerkua dirudien diseinua
Description[fi]=Linnoitusmainen asettelu
Description[fr]=Une forme de forteresse
Description[ga]=Leagan amach cosúil le dún
Description[gl]=Un deseño que semella unha fortaleza
Description[hu]=Erődszerűen kialakított elrendezés
Description[id]=Sebuah tata letak laksana benteng
Description[it]=Una disposizione simile ad una fortezza
Description[kk]=Қорғанға ұқсас салынуы
Description[km]=ប្លង់​ដែល​ស្រដៀង​នឹង​បន្ទាយ
Description[lt]=Išdėstymas primenantis tvirtovę
Description[lv]=Izvietojums, kas atgādina cietoksni
Description[nb]=Et oppsett som likner på et fort
Description[nds]=Lett liek en Bollwark
Description[nl]=Een indeling die lijkt op een fort
Description[nn]=Oppsett som liknar på eit fort.
Description[pl]=Układ przypominający fortecę
Description[pt]=Um formato que lembra uma fortaleza
Description[pt_BR]=Um formato que lembra uma fortaleza
Description[ro]=Aranjament ce amintește de o fortăreață
Description[ru]=Раскладка, похожая на крепость
Description[sk]=Rozloženie pripomínajúce pevnosť
Description[sl]=Postavitev podobna utrdbi
Description[sr]=Распоред налик на тврђаву
Description[sr@ijekavian]=Распоред налик на тврђаву
Description[sr@ijekavianlatin]=Raspored nalik na tvrđavu
Description[sr@latin]=Raspored nalik na tvrđavu
Description[sv]=Ett utlägg som liknar en fästning
Description[tr]=Kaleyi andıran bir yerleşim
Description[uk]=Розкладка, яка нагадує фортецю
Description[wa]=Èn adjinçmint ki rshonne a on tchestea
Description[x-test]=xxA layout resembling a fortressxx
Description[zh_CN]=森林布局
Description[zh_TW]=森林式佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=4_winds.layout
