[KMahjonggLayout]
Name=4 Winds
Name[ca]=4 vents
Name[de]=Vier Winde
Name[el]=4 άνεμοι
Name[es]=4 vientos
Name[et]=4 tiiba
Name[eu]=4 haizeak
Name[fr]=Les 4 vents
Name[ga]=Ceithre Ghaoth
Name[it]=4 venti
Name[lv]=4 vēji
Name[nds]=Veer Winnen
Name[nl]=4 Windstreken
Name[nn]=Fire vindar
Name[pa]=4 ਵਿੰਡ
Name[pt]=4 Ventos
Name[pt_BR]=4 ventos
Name[ru]=4 крыла
Name[sl]=4 vetrovi
Name[sr]=Четири ветра
Name[sr@latin]=Četiri vetra
Name[sv]=Fyra vindar
Name[uk]=4 Вітри
Name[wa]=4 vints
Name[x-test]=xx4 Windsxx
Name[zh_CN]=四风牌
Name[zh_TW]=風牌
Description=A layout resembling a fortress
Description[ca]=Una disposició semblant a una fortalesa
Description[da]=Et layout der ligner en fæstning
Description[de]=Ein Design, das einer Festung ähnelt.
Description[el]=Μια διάταξη που μοιάζει με οχυρό
Description[es]=Un diseño que se parece a una fortaleza
Description[et]=Kindlust meenutav paigutus
Description[eu]=Gotorlerkua dirudien diseinua
Description[fr]=Une forme de forteresse
Description[ga]=Leagan amach cosúil le dún
Description[it]=Una disposizione simile ad una fortezza
Description[km]=ប្លង់​ដែល​ស្រដៀង​បន្ទាយ
Description[lv]=Izvietojums, kas atgādina cietoksni
Description[nds]=Lett liek en Bollwark
Description[nl]=Een indeling die lijkt op een fort
Description[nn]=Oppsett som liknar på eit fort.
Description[pt]=Um formato que lembra uma fortaleza
Description[pt_BR]=Um formato que lembra uma fortaleza
Description[ru]=Раскладка, похожая на крепость
Description[sl]=Postavitev podobna utrdbi
Description[sr]=Распоред налик на тврђаву
Description[sr@latin]=Raspored nalik na tvrđavu
Description[sv]=Ett utlägg som liknar en fästning
Description[uk]=Розкладка, яка нагадує фортецю
Description[wa]=Èn adjinçmint ki rshonne a on tchestea
Description[x-test]=xxA layout resembling a fortressxx
Description[zh_CN]=森林布局
Description[zh_TW]=森林式佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=4_winds.layout
