[KMahjonggLayout]
Name=Alien
Name[bs]=Alien
Name[ca]=Alien
Name[ca@valencia]=Alien
Name[cs]=Vetřelec
Name[da]=Alien
Name[de]=Außerirdischer
Name[el]=Εξωγήινος
Name[en_GB]=Alien
Name[es]=Alien
Name[et]=Tulnukas
Name[eu]=Alien
Name[fi]=Muukalainen
Name[fr]=Extra-terrestre
Name[ga]=Eachtrán
Name[gl]=Extraterrestre
Name[hr]=Alien
Name[hu]=Idegen
Name[id]=Alien
Name[it]=Alieni
Name[kk]=Келімсек
Name[km]=Alien
Name[lt]=Ateivis
Name[lv]=Citplanētietis
Name[mr]=एलियन
Name[nb]=Romvesen
Name[nds]=Alien
Name[nl]=Buitenaards
Name[nn]=Romvesen
Name[pl]=Obcy
Name[pt]=Extraterrestre
Name[pt_BR]=Alien
Name[ro]=Extraterestru
Name[ru]=Чужой
Name[sk]=Alien
Name[sl]=Vesoljec
Name[sq]=Alien
Name[sr]=Туђинац
Name[sr@ijekavian]=Туђинац
Name[sr@ijekavianlatin]=Tuđinac
Name[sr@latin]=Tuđinac
Name[sv]=Utomjording
Name[tr]=Uzaylı
Name[uk]=Чужинець
Name[wa]=Mårsyin
Name[x-test]=xxAlienxx
Name[zh_CN]=异性
Name[zh_TW]=異形
Description=A humanoid made up of Mahjongg tiles
Description[bs]=Humanoid sastavljen od Mahjongg pločice
Description[ca]=Fitxes del Mahjongg fetes amb humanoides
Description[ca@valencia]=Fitxes del Mahjongg fetes amb humanoides
Description[cs]=Humanoid složený z kamenů Mahjonggu
Description[da]=En humanoid lavet af Mahjongg-fliser
Description[de]=Ein menschenähnliches Wesen aus Mahjongg-Spielsteinen.
Description[el]=Ένα ανθρωποειδές από κομμάτια mahjongg
Description[en_GB]=A humanoid made up of Mahjongg tiles
Description[es]=Humanoide hecho de fichas de Mahjongg
Description[et]=Humanoid Mahjonggi klotsidest
Description[eu]=Mahkongg lauzekin osatutako estralurtarra
Description[fi]=Mahjong-tiilistä rakennettu humanoidi
Description[fr]=Une fabrication humanoïde de tuiles de Mahjongg
Description[ga]=Daonóid déanta as tíleanna Mahjongg
Description[gl]=Un conxunto de fichas artesanais de Mahjongg
Description[hu]=Egy emberi alak Mahjongg-kövekből kirakva
Description[id]=Sebuah humanoid tediri dari tile Mahjongg
Description[it]=Tessere per Mahjongg fatte da umanoidi
Description[kk]=Маджонг тастарын гуманоидтер құрады
Description[km]=លក្ខណៈ​ជា​មនុស្ស​​កើត​ឡើង​ពី​ក្រឡា​ក្បឿង​ Mahjongg 
Description[lt]=Humanoidas padarytas iš Mahjongg kaladėlių
Description[lv]=Cilvēciska būtne, kas salikta no Mahjongg kauliņiem
Description[nb]=En humanoide av Mahjongg-brikker.
Description[nds]=En Buteneerdschen ut Mahjongg-Steen
Description[nl]=Een mensachtige gemaakt uit Mahjongg-stenen
Description[nn]=Ein humanoide av Mahjongg-brikker.
Description[pl]=Humanoidalny kształt z kostek Mahjongga
Description[pt]=Um humanóide feito com peças do Mahjongg
Description[pt_BR]=Um humanoide feito com peças do Mahjongg
Description[ru]=Похоже, что плитки расставляли гуманоиды
Description[sk]=Humanoid z hracích kameňov Mahjongg
Description[sl]=Humanoid ustvarjen iz ploščic za Mahjongg
Description[sr]=Хуманоид сачињен од маџонг плочица
Description[sr@ijekavian]=Хуманоид сачињен од маџонг плочица
Description[sr@ijekavianlatin]=Humanoid sačinjen od madžong pločica
Description[sr@latin]=Humanoid sačinjen od madžong pločica
Description[sv]=En humanoid skapad av Mahjongg-brickor
Description[tr]=Mahjongg döşemelerinden yapılmış bir insansı robot
Description[uk]=Форма тіла людини, викладена з плиток Маджонґ
Description[x-test]=xxA humanoid made up of Mahjongg tilesxx
Description[zh_CN]=拟人化的麻将牌
Description[zh_TW]=看起來像個人的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=alien.layout
