[KMahjonggLayout]
Name=Alien
Name[de]=Außerirdischer
Name[el]=Εξωγήινος
Name[et]=Tulnukas
Name[ga]=Eachtrán
Name[pt]=Extraterrestre
Name[sr]=Туђинац
Name[sr@latin]=Tuđinac
Name[sv]=Utomjording
Name[uk]=Чужинець
Name[x-test]=xxAlienxx
Name[zh_CN]=异性
Name[zh_TW]=異形
Description=A humanoid made up of Mahjongg tiles
Description[ca]=Fitxes del Mahjongg fetes amb humanoides
Description[da]=En humanoid lavet af Mahjongg-fliser
Description[de]=Ein menschenähnliches Wesen aus Mahjongg-Spielsteinen.
Description[el]=Ένα ανθρωποειδές από κομμάτια mahjongg
Description[es]=Fichas de Mahjongg hechas de humanoides
Description[et]=Humanoid Mahjonggi klotsidest
Description[ga]=Daonóid déanta as tíleanna Mahjongg
Description[nds]=En Buteneerdschen ut Mahjongg-Steen
Description[pt]=Um humanóide feito com peças do Mahjongg
Description[pt_BR]=Um humanóide feito com peças do Mahjongg
Description[sr]=Хуманоид сачињен од махђонг плочица
Description[sr@latin]=Humanoid sačinjen od mahđong pločica
Description[sv]=En humanoid skapad av Mahjongg-brickor
Description[uk]=Форма тіла людини, викладена з плиток Маджонг
Description[x-test]=xxA humanoid made up of Mahjongg tilesxx
Description[zh_CN]=拟人化的麻将牌
Description[zh_TW]=看起來像個人的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=alien.layout
