[KMahjonggLayout]
Name=Altar
Description=An elevated surface with stairs and columns aside
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=altar.layout
