[KMahjonggLayout]
Name=Arena
Name[el]=Αρένα
Name[et]=Areen
Name[eu]=Borroka-lekua
Name[ga]=Airéine
Name[mai]=अरीना
Name[nds]=Strietsteed
Name[ru]=Арена
Name[sr]=Арена
Name[uk]=Арена
Name[x-test]=xxArenaxx
Name[zh_CN]=竞技场
Name[zh_TW]=競技場
Description=Circular-aligned seats around a performance area
Description[ca]=Seients alineats circularment al voltant d'un àrea d'acompliment
Description[da]=Stole i ring omkring et optræderareal
Description[de]=Kreisförmig-angeordnete Sitze um eine Vorführ-Fläche.
Description[el]=Μια αρένα περιστοιχισμένη κυκλικά από θέσεις
Description[es]=Asientos distribuidos en círculo alrededor de un área de representación
Description[et]=Ringis istmed näitelava ümber
Description[eu]=Zirkulu batean lerrokatutako eserlekuak ikuskizunaren inguruan
Description[it]=Sedili disposti in circolo attorno ad un'area di spettacolo
Description[nds]=Sittplätz rund en Arena
Description[pt]=Lugares alinhados de forma circular em torno de uma área de espectáculo
Description[pt_BR]=Lugares alinhados de forma circular em torno de uma área de espectáculo
Description[sr]=Позорница окружена седиштима
Description[sr@latin]=Pozornica okružena sedištima
Description[sv]=Cirkulärt utplacerade sittplatser omkring ett skådespelsområde
Description[uk]=Викладені колом місця навколо поля для гри
Description[x-test]=xxCircular-aligned seats around a performance areaxx
Description[zh_CN]=环绕着座位的竞技场
Description[zh_TW]=競技場，兩邊有座位
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=arena.layout
