[KMahjonggLayout]
Name=Arena
Name[bs]=Arena
Name[ca]=Arena
Name[ca@valencia]=Arena
Name[cs]=Aréna
Name[da]=Arena
Name[de]=Arena
Name[el]=Αρένα
Name[en_GB]=Arena
Name[eo]=Arena
Name[es]=Campo de batalla
Name[et]=Areen
Name[eu]=Borroka-lekua
Name[fi]=Kenttä
Name[fr]=Arène
Name[ga]=Airéine
Name[gl]=Arena
Name[hr]=Arena
Name[hu]=Aréna
Name[id]=Arena
Name[it]=Arena
Name[kk]=Майдан
Name[km]=សៃវៀន
Name[lt]=Arena
Name[lv]=Arēna
Name[mai]=अरीना
Name[nb]=Arena
Name[nds]=Strietsteed
Name[nl]=Arena
Name[nn]=Amfi
Name[pl]=Arena
Name[pt]=Arena
Name[pt_BR]=Arena
Name[ro]=Arena
Name[ru]=Арена
Name[sk]=Aréna
Name[sl]=Arena
Name[sq]=Arena
Name[sr]=Арена
Name[sr@ijekavian]=Арена
Name[sr@ijekavianlatin]=Arena
Name[sr@latin]=Arena
Name[sv]=Arena
Name[tr]=Arena
Name[uk]=Арена
Name[wa]=Arena
Name[x-test]=xxArenaxx
Name[zh_CN]=竞技场
Name[zh_TW]=競技場
Description=Circular-aligned seats around a performance area
Description[bs]=Kružno-poravnata sjedišta oko izvedbenog područja
Description[ca]=Seients alineats circularment al voltant d'una àrea d'acompliment
Description[ca@valencia]=Seients alineats circularment al voltant d'una àrea d'acompliment
Description[cs]=Kruhově zarovná sedadla okolo prostoru představení
Description[da]=Stole i ring omkring et optræderareal
Description[de]=Kreisförmig-angeordnete Sitze um eine Vorführ-Fläche.
Description[el]=Μια αρένα περιστοιχισμένη κυκλικά από θέσεις
Description[en_GB]=Circular-aligned seats around a performance area
Description[es]=Asientos distribuidos en círculo alrededor de un área de representación
Description[et]=Ringis istmed näitelava ümber
Description[eu]=Zirkulu batean lerrokatutako eserlekuak ikuskizunaren inguruan
Description[fi]=Pelialueen ympärille kaarevasti asetellut istuimet
Description[fr]=Des places alignées de façon circulaire autour d'une zone de jeu
Description[gl]=Asentos aliñados de xeito circular arredor da zona de xogo
Description[hu]=Kör alakú ülések egy porond körül
Description[id]=Kursi melingkar sejajar di sekitar area kinerja
Description[it]=Sedili disposti in circolo attorno ad un'area di spettacolo
Description[kk]=Сахнаны айнала көрермен отыратын орындары
Description[km]=កៅអី​​​​​​​​​​​ដែល​បាន​រៀប​ជា​រង្វង់​ជុំវិញ​តំបន់​សម្ដែង
Description[lv]=Aplī izvietoti sēdekļi ap izpildījuma laukumu
Description[nb]=Seter i ring rundt en hovedscene
Description[nds]=Sittplätz rund en Arena
Description[nl]=Cirkelvormig - rij met zetels rond een podium
Description[nn]=Ein open sirkel rundt hovudscena.
Description[pl]=Siedzenia ustawione w koło
Description[pt]=Lugares alinhados de forma circular em torno de uma área de espectáculo
Description[pt_BR]=Lugares alinhados de forma circular em torno de uma área de espetáculo
Description[ro]=Scaune aliniate circulat în jurul unei scene
Description[ru]=Зрительные места вокруг арены
Description[sk]=Kruhovo zoradené sedadlá okolo priestoru vstúpenia
Description[sl]=Krožno urejeni sedeži okrog prizorišča
Description[sr]=Позорница окружена седиштима
Description[sr@ijekavian]=Позорница окружена сједиштима
Description[sr@ijekavianlatin]=Pozornica okružena sjedištima
Description[sr@latin]=Pozornica okružena sedištima
Description[sv]=Cirkulärt utplacerade sittplatser omkring ett skådespelsområde
Description[tr]=Gösteri alanı çevresinde daire şeklinde dizilmiş oturaklar
Description[uk]=Викладені колом місця навколо поля для гри
Description[x-test]=xxCircular-aligned seats around a performance areaxx
Description[zh_CN]=环绕着座位的竞技场
Description[zh_TW]=競技場，兩邊有座位
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=arena.layout
