[KMahjonggLayout]
Name=Arrow
Name[ca]=Fletxa
Name[da]=Pil
Name[de]=Pfeil
Name[el]=Βέλος
Name[es]=Flecha
Name[et]=Nool
Name[eu]=Gezia
Name[ga]=Saighead
Name[it]=Freccia
Name[km]=ព្រួញ
Name[lv]=Bulta
Name[mai]=तीर
Name[nds]=Piel
Name[nl]=Pijl
Name[nn]=Pil
Name[pt]=Seta
Name[pt_BR]=Seta
Name[ru]=Стрела
Name[sr]=Стрелца
Name[sr@latin]=Strelca
Name[sv]=Pil
Name[tr]=Ok
Name[uk]=Стрілка
Name[wa]=Fletche
Name[x-test]=xxArrowxx
Name[zh_CN]=箭头
Name[zh_TW]=箭頭
Description=A big arrow pointing in the right direction
Description[ca]=Una gran fletxa apuntant cap a la dreta
Description[da]=En stor pil der peger i den rigtige retning
Description[de]=Ein großer, nach rechts zeigender Pfeil.
Description[el]=Ένα μεγάλο βέλος που σκοπεύει στη σωστή κατεύθυνση
Description[es]=Una gran flecha que apunta en la dirección correcta
Description[et]=Suur paremale osutav nool
Description[eu]=Gezi handi bat norabide zuzenera bideratzen duena
Description[ga]=Saighdead mhór dírithe ar dheis
Description[it]=Una grande freccia che punta verso destra
Description[km]=ព្រួញ​ធំ​ចង្អុល​ទៅ​ទិស​ខាងស្ដាំ
Description[lv]=Liela bulta, kas norāda pareizajā virzienā
Description[nds]=En groot, na rechts wiesen Piel
Description[nn]=Ei stor pil som peikar til høgre.
Description[pt]=Uma grande seta a apontar para a direita
Description[pt_BR]=Uma grande seta apontando para a direita
Description[sr]=Велика стрелица која показује прави смер
Description[sr@latin]=Velika strelica koja pokazuje pravi smer
Description[sv]=En stor pil som pekar åt höger
Description[uk]=Велика стрілка, що вказує праворуч
Description[x-test]=xxA big arrow pointing in the right directionxx
Description[zh_CN]=指向右侧的大箭头
Description[zh_TW]=指向右方的大箭頭
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=arrow.layout
