[KMahjonggLayout]
Name=Arrow
Name[bs]=Strelica
Name[ca]=Fletxa
Name[ca@valencia]=Fletxa
Name[cs]=Šíp
Name[da]=Pil
Name[de]=Pfeil
Name[el]=Βέλος
Name[en_GB]=Arrow
Name[eo]=Sago
Name[es]=Flecha
Name[et]=Nool
Name[eu]=Gezia
Name[fi]=Nuoli
Name[fr]=Flèche
Name[ga]=Saighead
Name[gl]=Frecha
Name[hr]=Arrow
Name[hu]=Nyíl
Name[id]=Panah
Name[it]=Freccia
Name[kk]=Жебе
Name[km]=ព្រួញ​
Name[lt]=Rodyklė
Name[lv]=Bulta
Name[mai]=तीर
Name[mr]=बाण
Name[nb]=Pil
Name[nds]=Piel
Name[nl]=Pijl
Name[nn]=Pil
Name[pl]=Strzałka
Name[pt]=Seta
Name[pt_BR]=Seta
Name[ro]=Săgeată
Name[ru]=Стрела
Name[sk]=Šípka
Name[sl]=Puščica
Name[sq]=Shigjetë
Name[sr]=Стрелица
Name[sr@ijekavian]=Стрелица
Name[sr@ijekavianlatin]=Strelica
Name[sr@latin]=Strelica
Name[sv]=Pil
Name[tr]=Ok
Name[ug]=يا ئوق
Name[uk]=Стрілка
Name[wa]=Fletche
Name[x-test]=xxArrowxx
Name[zh_CN]=箭头
Name[zh_TW]=箭頭
Description=A big arrow pointing in the right direction
Description[bs]=Velika strelica okrenuta u pravom smjeru
Description[ca]=Una gran fletxa apuntant cap a la dreta
Description[ca@valencia]=Una gran fletxa apuntant cap a la dreta
Description[cs]=Velký šíp směřující doprava
Description[da]=En stor pil der peger i den rigtige retning
Description[de]=Ein großer, nach rechts zeigender Pfeil.
Description[el]=Ένα μεγάλο βέλος που σκοπεύει στη σωστή κατεύθυνση
Description[en_GB]=A big arrow pointing in the right direction
Description[es]=Una gran flecha que apunta en la dirección correcta
Description[et]=Suur paremale osutav nool
Description[eu]=Gezi handi bat norabide zuzenera bideratzen duena
Description[fi]=Suuri oikealle osoittava nuoli
Description[fr]=Une grosse flèche pointant vers la droite
Description[ga]=Saighdead mhór dírithe ar dheis
Description[gl]=Unha frecha grande sinalando a dirección correcta
Description[hu]=Egy nagy nyíl mutat a helyes irányba
Description[id]=Sebuah panah besar yang menunjuk ke arah kanan
Description[it]=Una grande freccia che punta verso destra
Description[kk]=Дұрыс бағдарды көрсететін үлкен жебе
Description[km]=ព្រួញ​ធំ​ដែល​ចង្អុល​ទៅ​​ទិស​ខាង​ស្ដាំ
Description[lt]=Didelė rodyklė rodanti į dešinę
Description[lv]=Liela bulta, kas norāda pareizajā virzienā
Description[nb]=En stor pil som peker i riktig retning
Description[nds]=En groot, na rechts wiesen Piel
Description[nl]=Een grote pijl die in de juiste richting wijst
Description[nn]=Ei stor pil som peikar til høgre.
Description[pl]=Duża strzałka w prawo
Description[pt]=Uma grande seta a apontar para a direita
Description[pt_BR]=Uma grande seta apontando para a direita
Description[ro]=Săgeată mare arătînd în direcția dreaptă
Description[ru]=Большая стрела, указывающая направо
Description[sk]=Veľký šípka ukazujúca správnym smerom
Description[sl]=Velika puščica usmerjena v pravo smer
Description[sr]=Велика стрелица која показује прави смер
Description[sr@ijekavian]=Велика стрелица која показује прави смјер
Description[sr@ijekavianlatin]=Velika strelica koja pokazuje pravi smjer
Description[sr@latin]=Velika strelica koja pokazuje pravi smer
Description[sv]=En stor pil som pekar åt höger
Description[tr]=Doğru yönü gösteren büyük bir ok
Description[uk]=Велика стрілка, що вказує праворуч
Description[x-test]=xxA big arrow pointing in the right directionxx
Description[zh_CN]=指向右侧的大箭头
Description[zh_TW]=指向右方的大箭頭
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=arrow.layout
