[KMahjonggLayout]
Name=Atlantis
Name[bs]=Atlantida
Name[ca]=Atlantis
Name[ca@valencia]=Atlantis
Name[cs]=Atlantis
Name[da]=Atlantis
Name[de]=Atlantis
Name[el]=Ατλαντίδα
Name[en_GB]=Atlantis
Name[eo]=Atlantis
Name[es]=Atlantis
Name[et]=Atlantis
Name[eu]=Atlantis
Name[fi]=Atlantis
Name[fr]=Atlantis
Name[ga]=Atlantas
Name[gl]=Atlantis
Name[hu]=Atlantisz
Name[id]=Atlantis
Name[it]=Atlantis
Name[kk]=Атлантида
Name[km]=Atlantis
Name[lt]=Atlantis
Name[lv]=Atlantis
Name[nb]=Atlantis
Name[nds]=Atlantis
Name[nl]=Atlantis
Name[nn]=Atlantis
Name[pl]=Atlantis
Name[pt]=Atlantis
Name[pt_BR]=Atlantis
Name[ro]=Atlantis
Name[ru]=Атлантида
Name[sk]=Atlantis
Name[sl]=Atlantis
Name[sq]=Atlantis
Name[sr]=Атлантида
Name[sr@ijekavian]=Атлантида
Name[sr@ijekavianlatin]=Atlantida
Name[sr@latin]=Atlantida
Name[sv]=Atlantis
Name[tr]=Atlantis
Name[ug]=ئاتلانتىس
Name[uk]=Атлантида
Name[wa]=Atlantis
Name[x-test]=xxAtlantisxx
Name[zh_CN]=亚特兰蒂斯
Name[zh_TW]=亞特蘭提斯
Description=The starship-city from Stargate Atlantis
Description[bs]=Starship-grad od Stargate Atlantide
Description[ca]=La nau-ciutat de l'Stargate Atlantis
Description[ca@valencia]=La nau-ciutat de l'Stargate Atlantis
Description[cs]=Hvězdné město ze Stargate Atlantis
Description[da]=Rumfartøjsbyen fra Stargate Atlantis
Description[de]=Ein Sternenschiff aus Stargate Atlantis.
Description[el]=Η πόλη αστρόπλοιο από το Stargate Atlantis
Description[en_GB]=The starship-city from Stargate Atlantis
Description[es]=La nave-ciudad de Stargate Atlantis
Description[et]=Linn-tähelaev Stargate Atlantisest
Description[eu]=Stargate Atlantis-eko espazio-untzia
Description[fi]=Stargate Atlantis -sarjan tähtilaivakaupunki
Description[fr]=La cité stellaire de « Stargate Atlantis »
Description[gl]=A cidade espacial de Stargate Atlantis
Description[hu]=Űrkikötő a Stargate Atlantis-ból
Description[id]=Kapal kota luar angkasa dari Stargate Atlantis
Description[it]=L'astronave-città di Stargate Atlantis
Description[kk]="Stargate Atlantis" хикаядағы кеме-қаласы
Description[km]=ទី​ក្រុង​អវកាស​មក​ពី​​ Stargate Atlantis
Description[lt]=Žvaigždėlaivis-miestas iš Žvaigdžių vartų Atlantidos
Description[lv]=Zvaigžņu kuģu pilsēta no Stargate Atlantis
Description[nb]=Stjerneskipbyen fra Stargate Atlantis
Description[nds]=De Antikers ehr Weltruumstadt ut "Stargate Atlantis"
Description[nl]=De starship-city uit Stargate Atlantis
Description[nn]=Stjerneskipbyen frå Stargate Atlantis.
Description[pl]=Miasto-statek kosmiczny z Stargate Atlantis
Description[pt]=A cidade-nave do Stargate Atlantis
Description[pt_BR]=A cidade-nave do Stargate Atlantis
Description[ro]=Orașul de pe nava cosmică din Stargate Atlantis
Description[ru]=Корабль-город из сериала «Звёздные врата: Атлантида»
Description[sk]=Vesmírna loď-mesto zo Stargate Atlantis
Description[sl]=Vesoljska ladja-mesto iz Stargate Atlantis
Description[sr]=Звездани брод‑град из „Звездане капије: Атлантида“
Description[sr@ijekavian]=Звјездани брод‑град из „Звјездане капије: Атлантида“
Description[sr@ijekavianlatin]=Zvjezdani brod‑grad iz „Zvjezdane kapije: Atlantida“
Description[sr@latin]=Zvezdani brod‑grad iz „Zvezdane kapije: Atlantida“
Description[sv]=Stjärnskeppsstaden från Stargate Atlantis
Description[tr]=Yıldız Kapısı Atlantis'ten bir uzaygemisi-şehri
Description[uk]=Місто-зоряний корабель з «Зоряних воріт: Атлантиди»
Description[x-test]=xxThe starship-city from Stargate Atlantisxx
Description[zh_CN]=亚特兰蒂斯的古城，星之门
Description[zh_TW]=星空之門，亞特蘭提斯的城市
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=atlantis.layout
