[KMahjonggLayout]
Name=Aztec
Name[ca]=Azteca
Name[da]=Aztek
Name[de]=Azteke
Name[el]=Αζτέκοι
Name[es]=Azteca
Name[et]=Asteek
Name[ga]=Aisticeach
Name[nds]=Azteeksch
Name[pt]=Azteca
Name[pt_BR]=Asteca
Name[sr]=Астечки
Name[sr@latin]=Astečki
Name[uk]=Ацтецька
Name[x-test]=xxAztecxx
Name[zh_CN]=阿兹特克
Name[zh_TW]=阿茲特克
Description=A layout resembling Aztec buildings
Description[ca]=Una disposició semblant a una construcció azteca
Description[da]=Et layout der ligner aztekiske bygninger
Description[de]=Ein Design, das einem aztekischen Bauwerk ähnelt.
Description[el]=Μια διάταξη που μοιάζει με τα κτίρια των Αζτέκων
Description[es]=Un diseño que se parece a una construcción azteca
Description[et]=Asteegi ehitisi meenutav paigutus
Description[ga]=Leagan amach cosúil le foirgnimh Aisticeacha
Description[nds]=En Anornen liek to azteeksch Buuwarken
Description[pt]=Um formato que lembra os edifícios aztecas
Description[pt_BR]=Um formato que lembra os edifícios astecas
Description[sr]=Распоред налик на астечке грађевине
Description[sr@latin]=Raspored nalik na astečke građevine
Description[sv]=Ett utlägg som liknar Aztec-byggnader
Description[uk]=Розкладка у формі будівель ацтеків
Description[x-test]=xxA layout resembling Aztec buildingsxx
Description[zh_CN]=阿兹特克风格建筑的布局
Description[zh_TW]=模仿阿茲特克的建築
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=aztec.layout
