[KMahjonggLayout]
Name=Aztec
Name[de]=Azteke
Name[et]=Asteek
Name[ga]=Aisticeach
Name[nds]=Azteeksch
Name[pt]=Azteca
Name[pt_BR]=Azteca
Name[uk]=Ацтецька
Name[x-test]=xxAztecxx
Name[zh_TW]=阿茲特克
Description=A layout resembling Aztec buildings
Description[de]=Ein Design, das einem aztekischen Bauwerk ähnelt.
Description[et]=Asteegi ehitisi meenutav paigutus
Description[ga]=Leagan amach cosúil le foirgnimh Aisticeacha
Description[nds]=En Anornen liek to azteeksch Buuwarken
Description[pt]=Um formato que lembra os edifícios aztecas
Description[pt_BR]=Um formato que lembra os edifícios aztecas
Description[sv]=Ett utlägg som liknar Aztec-byggnader
Description[uk]=Розкладка у формі будівель ацтеків
Description[x-test]=xxA layout resembling Aztec buildingsxx
Description[zh_TW]=模仿阿茲特克的建築
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=aztec.layout
