[KMahjonggLayout]
Name=Balance
Description=Time to weight every decision carefully!
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=balance.layout
