[KMahjonggLayout]
Name=Bat
Name[de]=Fledermaus
Name[el]=Νυχτερίδα
Name[et]=Nahkhiir
Name[ga]=Ialtóg
Name[nds]=Fleddermuus
Name[pt]=Morcego
Name[pt_BR]=Morcego
Name[sr]=Шишмиш
Name[sr@latin]=Šišmiš
Name[sv]=Fladdermus
Name[uk]=Летюча миша
Name[x-test]=xxBatxx
Name[zh_CN]=蝙蝠
Name[zh_TW]=蝙蝠
Description=A bat-shaped layout
Description[de]=Ein fledermaus-ähnliches Design.
Description[el]=Μια διάταξη σε σχήμα νυχτερίδας
Description[et]=Nahkhiire kujuline paigutus
Description[ga]=Leagan amach cosúil le hialtóg
Description[nds]=En Fladdermuus
Description[pt]=Um formato com o aspecto de um morcego
Description[pt_BR]=Um formato com o aspecto de um morcego
Description[sr]=Распоред у облику шишмиша
Description[sr@latin]=Raspored u obliku šišmiša
Description[sv]=Ett fladdermusformat utlägg
Description[uk]=Розкладка у формі летючої миші
Description[x-test]=xxA bat-shaped layoutxx
Description[zh_CN]=蝙蝠造型的布局
Description[zh_TW]=蝙蝠形佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=bat.layout
