[KMahjonggLayout]
Name=Bug
Name[bs]=Buba
Name[ca]=Cuca
Name[ca@valencia]=Cuca
Name[cs]=Brouk
Name[da]=Bug
Name[de]=Wanze
Name[el]=Ζουζούνι
Name[en_GB]=Bug
Name[es]=Bicho
Name[et]=Putukas
Name[eu]=Akatsa
Name[fi]=Ötökkä
Name[fr]=Insecte
Name[ga]=Feithid
Name[gl]=Bicho
Name[hr]=Bug
Name[hu]=Bogár
Name[id]=Bug
Name[it]=Insetto
Name[kk]=Қоңыз
Name[km]=សត្វល្អិត​
Name[lt]=Vabalas
Name[lv]=Vabole
Name[nb]=Insekt
Name[nds]=Sever
Name[nl]=Insect
Name[nn]=Insekt
Name[pl]=Pluskwa
Name[pt]=Insecto
Name[pt_BR]=Inseto
Name[ro]=Gîndac
Name[ru]=Жук
Name[sk]=Chrobák
Name[sl]=Hrošč
Name[sq]=Bug
Name[sr]=Буба
Name[sr@ijekavian]=Буба
Name[sr@ijekavianlatin]=Buba
Name[sr@latin]=Buba
Name[sv]=Insekt
Name[tr]=Hata
Name[ug]=كەمتۈك
Name[uk]=Жучок
Name[x-test]=xxBugxx
Name[zh_CN]=臭虫
Name[zh_TW]=蟲
Description=The bug. Let us take it apart!
Description[bs]=Greška. Pustite nam da rastavimo djelove!
Description[ca]=La cuca. Deixa-la a banda!
Description[ca@valencia]=La cuca. Deixa-la a banda!
Description[cs]=Brouk. Dovolte nám vzít to po částech!
Description[da]=Bug'en. Lad os skille den ad!
Description[de]=Entfernen Sie die Wanze.
Description[el]=Το ζουζούνι. Ας το διαλύσουμε!
Description[en_GB]=The bug. Let us take it apart!
Description[es]=El bicho. ¡Desmontémoslo!
Description[et]=Putukas. Rebime ta tükkideks!
Description[eu]=Akatsa. Utz gaitzazu hori baztertzen.
Description[fi]=Ötökkä. Puretaan se osiinsa!
Description[fr]=L'insecte. Essayons de l'éloigner !
Description[gl]=O bicho. A por el!
Description[hu]=Bogár. Lehet szétszedni...
Description[id]=Wah bug. Mari kita pisahkan!
Description[it]=L'insetto. Stanne lontano!
Description[kk]=Қоңыз. Шешіп көріңіз!
Description[km]=សត្វ​ល្អិត​ ។ តោះយក​វា​ចេញ​​!
Description[lt]=Vabalas. Sudraskykime jį į gabalėlius!
Description[lv]=Vabole. Pavedīsim to sānis!
Description[nb]=Innsikt med innsekt!
Description[nds]=De Sever. Nehmt wi em utenanner.
Description[nl]=Het insect. Laten we het uit elkaar halen!
Description[nn]=Innsikt med innsekt.
Description[pl]=Pluskwa. Zdemontujmy ją!
Description[pt]=O insecto. Vamos desfazê-lo!
Description[pt_BR]=O inseto. Vamos desfazê-lo!
Description[ro]=Gîndacul. Să-l disecăm!
Description[ru]=Жук. Оставьте нас в стороне!
Description[sk]=Chyba. Nechajte nám to rozobrať!
Description[sl]=Hrošč. Razstavimo ga!
Description[sr]=Буба. Раставимо је!
Description[sr@ijekavian]=Буба. Раставимо је!
Description[sr@ijekavianlatin]=Buba. Rastavimo je!
Description[sr@latin]=Buba. Rastavimo je!
Description[sv]=Insekten. Låt oss plocka isär den!
Description[tr]=Hata. Bize bırakın!
Description[uk]=Жучок. Спробуйте розібрати!
Description[x-test]=xxThe bug. Let us take it apart!xx
Description[zh_CN]=有臭虫，快干掉！
Description[zh_TW]=小蟲，把它解決掉吧！
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=bug.layout
