[KMahjonggLayout]
Name=Bug
Name[ca]=Cuca
Name[de]=Wanze
Name[el]=Ζουζούνι
Name[es]=Bicho
Name[et]=Putukas
Name[ga]=Feithid
Name[it]=Insetto
Name[nds]=Sever
Name[pt]=Insecto
Name[pt_BR]=Insecto
Name[sr]=Буба
Name[sr@latin]=Buba
Name[sv]=Insekt
Name[uk]=Жучок
Name[x-test]=xxBugxx
Name[zh_CN]=臭虫
Name[zh_TW]=蟲
Description=The bug. Let us take it apart!
Description[ca]=La cuca. Deixa-la a banda!
Description[da]=Bug'en. Lad os skille den ad!
Description[de]=Entfernen Sie die Wanze.
Description[el]=Το ζουζούνι. Ας το διαλύσουμε!
Description[es]=El bicho. ¡Desmontémoslo!
Description[et]=Putukas. Rebime ta tükkideks!
Description[it]=L'insetto. Stanne lontano!
Description[nds]=De Sever. Nehmt wi em utenanner.
Description[pt]=O insecto. Vamos desfazê-lo!
Description[pt_BR]=O insecto. Vamos desfazê-lo!
Description[sr]=Буба. Раставимо је!
Description[sr@latin]=Buba. Rastavimo je!
Description[sv]=Insekten. Låt oss plocka isär den!
Description[uk]=Жучок. Спробуйте розібрати!
Description[x-test]=xxThe bug. Let us take it apart!xx
Description[zh_CN]=有臭虫，快干掉！
Description[zh_TW]=小蟲，把它解決掉吧！
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=bug.layout
