[KMahjonggLayout]
Name=Castle
Name[bs]=Dvorac
Name[ca]=Castell
Name[ca@valencia]=Castell
Name[cs]=Hrad
Name[da]=Slot
Name[de]=Burg
Name[el]=Κάστρο
Name[en_GB]=Castle
Name[es]=Castillo
Name[et]=Linnus
Name[eu]=Gaztelua
Name[fi]=Linna
Name[fr]=Château
Name[ga]=Caisleán
Name[gl]=Castelo
Name[hr]=Castle
Name[hu]=Kastély
Name[id]=Istana
Name[it]=Castello
Name[kk]=Қорған
Name[km]=ប្រាសាទ
Name[lt]=Pilis
Name[lv]=Pils
Name[nb]=Slott
Name[nds]=Slott
Name[nl]=Kasteel
Name[nn]=Slott
Name[pl]=Zamek
Name[pt]=Castelo
Name[pt_BR]=Castelo
Name[ro]=Castel
Name[ru]=Замок
Name[sk]=Zámok
Name[sl]=Grad
Name[sq]=Kështjella
Name[sr]=Замак
Name[sr@ijekavian]=Замак
Name[sr@ijekavianlatin]=Zamak
Name[sr@latin]=Zamak
Name[sv]=Slott
Name[tr]=Kale
Name[uk]=Замок
Name[wa]=Tchestea
Name[x-test]=xxCastlexx
Name[zh_CN]=城堡
Name[zh_TW]=城堡
Description=Vista-styled castle layout
Description[bs]=Izgled dvorca u Vista stilu
Description[ca]=Disposició amb la forma d'un castell
Description[ca@valencia]=Disposició amb la forma d'un castell
Description[cs]=Rozložení ve stylu pohledu na hrad shora
Description[da]=Slotslayout i Vista-stil
Description[de]=Eine Burg im Vista-Stil.
Description[el]=Διάταξη με θέμα ένα κάστρο
Description[en_GB]=Vista-styled castle layout
Description[es]=Diseño en forma de castillo estilo Vista
Description[et]=Vista stiilis linnuse paigutus
Description[eu]=Vista itxurako gaztelu diseinua
Description[fi]=Vista-tyylinen linnamainen asettelu
Description[fr]=Forme d'un château dans le style « Vista »
Description[gl]=Deseño visual dun castelo
Description[hu]=Vista-stílusú kastélyos elrendezés
Description[id]=Tata letak yang bergaya istana
Description[it]=Una disposizione a castello in stile Vista
Description[kk]=Vista-стиліндегі қорған қалыпты салынуы
Description[km]=ប្លង់​ប្រាសាទ​ដែល​មាន​រចនាប័ទ្ម​វីស្តា
Description[lv]=Perspektīvas stila pils izvietojums
Description[nb]=Et slott i Vista-stil.
Description[nds]=En Slott in Vista-Stil
Description[nl]=Indeling volgens een kasteel in vista-stijl 
Description[nn]=Eit slott i Vista-stil.
Description[pl]=Układ przypominający zamek
Description[pt]=Um formato em castelo
Description[pt_BR]=Um formato que lembra um castelo
Description[ro]=Aranjament de castel în stil Vista
Description[ru]=Раскладка замка
Description[sk]=Vista štýl rozloženia hradu
Description[sl]=Postavitev gradu, podobna kot v Visti
Description[sr]=Распоред замка у стилу Висте
Description[sr@ijekavian]=Распоред замка у стилу Висте
Description[sr@ijekavianlatin]=Raspored zamka u stilu Viste
Description[sr@latin]=Raspored zamka u stilu Viste
Description[sv]=Slottsutlägg med Vista-stil
Description[tr]=Manzara-stilli kale yerleşimi
Description[uk]=Розкладка у формі замка у стилі Vista
Description[x-test]=xxVista-styled castle layoutxx
Description[zh_CN]=城堡风格布局
Description[zh_TW]=城堡式佈局
VersionFormat=1
Author=alchark
AuthorEmail=alchark@gmail.com
FileName=castle.layout
