[KMahjonggLayout]
Name=Castle View
Name[ca]=Vista del castell
Name[da]=Slotsudsigt
Name[de]=Burgansicht
Name[el]=Όψη κάστρου
Name[es]=Vista de castillo
Name[et]=Linnusevaade
Name[eu]=Gazteluaren ikuspegia
Name[ga]=Amharc Caisleáin
Name[it]=Sagoma di castello
Name[nds]=Slottansicht
Name[nn]=Slott – frå sida
Name[pt]=Vista do Castelo
Name[pt_BR]=Vista do castelo
Name[ru]=Вид на замок
Name[sr]=Поглед на замак
Name[sr@latin]=Pogled na zamak
Name[sv]=Slottsvy
Name[uk]=Вид на замок
Name[x-test]=xxCastle Viewxx
Name[zh_CN]=城堡外景
Name[zh_TW]=城堡景觀
Description=A castle as viewed from one side
Description[ca]=Un castell vist des d'una cara
Description[da]=Et slot set fra siden
Description[de]=Eine Burg von der Seite betrachtet.
Description[el]=Μια όψη ενός κάστρου
Description[es]=Un castillo visto por un lado
Description[et]=Linnus vaadatuna ühest küljest
Description[eu]=Gaztelua bere albo batetik ikusita
Description[it]=Un castello visto da un lato
Description[nds]=En Slott vun de Siet ankeken
Description[nn]=Eit slott sett frå sida.
Description[pt]=Um castelo visto de um dos lados
Description[pt_BR]=Um castelo visto de um dos lados
Description[ru]=Замок, показанный с одной стороны
Description[sr]=Замак како се види с једне стране
Description[sr@latin]=Zamak kako se vidi s jedne strane
Description[sv]=Ett slott sett från en sida
Description[uk]=Форма замка, вид збоку
Description[x-test]=xxA castle as viewed from one sidexx
Description[zh_CN]=城堡的侧面景观
Description[zh_TW]=從某一邊觀賞城堡的景觀
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=castle2.layout
