[KMahjonggLayout]
Name=Castle View
Name[de]=Burgansicht
Name[et]=Linnusevaade
Name[ga]=Amharc Caisleáin
Name[nds]=Slottansicht
Name[pt]=Vista do Castelo
Name[pt_BR]=Vista do Castelo
Name[sv]=Slottsvy
Name[uk]=Вид на замок
Name[x-test]=xxCastle Viewxx
Name[zh_TW]=城堡景觀
Description=A castle as viewed from one side
Description[de]=Eine Burg von der Seite betrachtet.
Description[et]=Linnus vaadatuna ühest küljest
Description[nds]=En Slott vun de Siet ankeken
Description[pt]=Um castelo visto de um dos lados
Description[pt_BR]=Um castelo visto de um dos lados
Description[sv]=Ett slott sett från en sida
Description[uk]=Форма замка, вид збоку
Description[x-test]=xxA castle as viewed from one sidexx
Description[zh_TW]=從某一邊觀賞城堡的景觀
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=castle2.layout
