[KMahjonggLayout]
Name=Castle
Description=Vista-styled castle layout
VersionFormat=1
Author=alchark
AuthorEmail=alchark@gmail.com
FileName=castle.layout
