[KMahjonggLayout]
Name=Chains
Name[bs]=Lanci
Name[ca]=Cadenes
Name[ca@valencia]=Cadenes
Name[cs]=Řetězy
Name[da]=Kæder
Name[de]=Ketten
Name[el]=Αλυσίδες
Name[en_GB]=Chains
Name[es]=Cadenas
Name[et]=Ahelad
Name[eu]=Kateak
Name[fi]=Ketjut
Name[fr]=Chaînes
Name[ga]=Slabhraí
Name[gl]=Cadeas
Name[hr]=Chains
Name[hu]=Láncok
Name[id]=Rantai
Name[it]=Catene
Name[kk]=Шынжыр
Name[km]=ច្រវាក់
Name[lt]=Grandinės
Name[lv]=Ķēdes
Name[nb]=Kjeder
Name[nds]=Keden
Name[nl]=Kettingen
Name[nn]=Kjede
Name[pl]=Łańcuchy
Name[pt]=Correntes
Name[pt_BR]=Correntes
Name[ro]=Lanțuri
Name[ru]=Цепи
Name[sk]=Reťaze
Name[sl]=Verige
Name[sq]=Zinxhirët
Name[sr]=Ланци
Name[sr@ijekavian]=Ланци
Name[sr@ijekavianlatin]=Lanci
Name[sr@latin]=Lanci
Name[sv]=Kedjor
Name[tr]=Zincirler
Name[uk]=Ланцюжки
Name[wa]=Tchinnes
Name[x-test]=xxChainsxx
Name[zh_CN]=锁链
Name[zh_TW]=鍊條
Description=Four chains making up a single structure
Description[bs]=Četiri lanca koja prave jedinstvenu strukturu
Description[ca]=Quatre cadenes que formen una estructura única
Description[ca@valencia]=Quatre cadenes que formen una estructura única
Description[cs]=Čtyři řetězy tvořící jednu strukturu
Description[da]=Fire kæder der udgør en enkelt struktur
Description[de]=Ein Gebilde aus vier Ketten.
Description[el]=Τέσσερις αλυσίδες που δημιουργούν μια κατασκευή
Description[en_GB]=Four chains making up a single structure
Description[es]=Cuatro cadenas que forman una única estructura
Description[et]=Neli ühendatud ahelat
Description[eu]=Lau kate egitura bakun bat sortuz
Description[fi]=Neljä ketjua, jotka muodostavat yhden rakennelman
Description[fr]=Quatre chaînes formant une seule structure
Description[gl]=Catro cadeas formando unha única estrutura
Description[hu]=Struktúra négy láncból
Description[id]=Empat rantai membentuk struktur tunggal
Description[it]=Quattro catene formanti un'unica struttura
Description[kk]=Біріккен төрт шынжыр
Description[km]=ច្រវាក់​បួន​បង្កើត​បាន​ជា​រចនាសម្ព័ន្ធ​តែមួយ
Description[lv]=Četras ķēdes, kas izveido vienu struktūru
Description[nb]=Fire kjeder lenket sammen
Description[nds]=Veer Keden maakt en Enkelstruktuur
Description[nl]=Vier kettingen die een samen een structuur vormen
Description[nn]=Fire kjeder lenkja saman.
Description[pl]=Cztery łańcuchy tworzące jedną strukturę
Description[pt]=Quatro correntes que formam uma única estrutura
Description[pt_BR]=Quatro correntes que formam uma única estrutura
Description[ro]=Patru lanțuri ce formează o singură structură
Description[ru]=Четыре цепи создают единую структуру
Description[sk]=Štyri reťazce, ktoré tvoria jedinú štruktúru
Description[sl]=Štiri verige, ki sestavljajo eno zgradbo
Description[sr]=Четири ланца чине јединствену структуру
Description[sr@ijekavian]=Четири ланца чине јединствену структуру
Description[sr@ijekavianlatin]=Četiri lanca čine jedinstvenu strukturu
Description[sr@latin]=Četiri lanca čine jedinstvenu strukturu
Description[sv]=Fyra kedjor som skapar en enda struktur
Description[tr]=Tek bir yapı meydana getiren dört zincir
Description[uk]=Чотири ланцюжки, що створюють одну конструкцію
Description[x-test]=xxFour chains making up a single structurexx
Description[zh_CN]=四条锁链构成的造型
Description[zh_TW]=四個鍊條形成的結構
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=chains.layout
