[KMahjonggLayout]
Name=Checkered
Name[de]=Schachbrett
Name[ga]=Breac-chearnógach
Name[nds]=Kariert
Name[pt]=Axadrezado
Name[pt_BR]=Axadrezado
Name[sv]=Rutigt
Name[uk]=Картата
Name[x-test]=xxCheckeredxx
Name[zh_TW]=棋盤式佈局
Description=What if the chess board was not square?
Description[de]=Ein nicht ganz quadratisches Schachbrett.
Description[nds]=Wat, wenn dat Schachbrett nich quadraatsch weer?
Description[pt]=E se o tabuleiro de xadrez não fosse quadrado?
Description[pt_BR]=E se o tabuleiro de xadrez não fosse quadrado?
Description[sv]=Vad skulle hända om schackbrädet inte var fyrkantigt?
Description[uk]=Що було б, якби шахова дошка не була квадратною?
Description[x-test]=xxWhat if the chess board was not square?xx
Description[zh_TW]=若棋盤不是方形的呢？
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=checkered.layout
