[KMahjonggLayout]
Name=Clubs
Name[bs]=Klubovi
Name[ca]=Trèvols
Name[ca@valencia]=Trèvols
Name[cs]=Kříže
Name[da]=Klør
Name[de]=Kreuz
Name[el]=Σπαθιά
Name[en_GB]=Clubs
Name[es]=Tréboles
Name[et]=Risti
Name[eu]=Klubak
Name[fi]=Ristit
Name[fr]=Trèfle
Name[ga]=Clubs
Name[gl]=Clubs
Name[hr]=Clubs
Name[hu]=Káró
Name[id]=Cengkeh
Name[it]=Picche
Name[kk]=Шытыр
Name[km]=ជួង​
Name[lv]=Kreiči
Name[nb]=Kløver
Name[nds]=Krüüz
Name[nl]=Klavers
Name[nn]=Kløver
Name[pl]=Kara
Name[pt]=Paus
Name[pt_BR]=Paus
Name[ro]=Treflă
Name[ru]=Трефы
Name[sk]=Kluby
Name[sl]=Karo
Name[sq]=Klubet
Name[sr]=Карташи
Name[sr@ijekavian]=Карташи
Name[sr@ijekavianlatin]=Kartaši
Name[sr@latin]=Kartaši
Name[sv]=Klöver
Name[tr]=Sinek
Name[ug]=چىتتىر
Name[uk]=Трефи
Name[x-test]=xxClubsxx
Name[zh_CN]=棍棒
Name[zh_TW]=梅花
Description=A layout resembling a multitude of card clubs
Description[bs]=Izgleda kao mnoštvo kartica klubova
Description[ca]=Un disseny semblant a un gran nombre de trèvols de cartes
Description[ca@valencia]=Un disseny semblant a un gran nombre de trèvols de cartes
Description[cs]=Rozložení připomínající řady křížů
Description[da]=Et layout der ligner en mangfoldighed af kort-klør
Description[de]=Dieses Design zeigt mehrere Kreuzkarten.
Description[el]=Μια διάταξη που μοιάζει ένα πλήθος χαρτιών σπαθιών
Description[en_GB]=A layout resembling a multitude of card clubs
Description[es]=Un diseño que se parece a una multitud de tréboles de cartas
Description[et]=Ristimastist kaarte meenutav paigutus
Description[eu]=Klubetako txartelak dirudien diseinua
Description[fi]=Korttipelien ristien joukkoa muistuttava asettelu
Description[fr]=Une forme de trèfle
Description[gl]=Un deseño visual que semella unha morea de tarxetas de clubs
Description[hu]=Kártyafigurákra emlékeztető elrendezés.
Description[id]=Sebuah tata letak menyerupai banyak kartu cengkeh
Description[it]=Una disposizione che sembra un ammasso di carte di picche
Description[kk]=Ойын карталардағы шытыр белгілеріне ұқсас салынуы
Description[km]=ប្លង់​ដែល​ស្រដៀង​នឹង​សន្លឹក​ជួង​ច្រើន​សន្លឹក
Description[lv]=Izvietojums, kas atgādina lielu skaitu kreiču
Description[nb]=Et oppsett som likner på en mengde kløverkort
Description[nds]=En Anornen liek to vele Krüzen op Koorten
Description[nl]=Een indeling die lijkt op een veelvoud van kaartspelschoppen
Description[nn]=Ei mengd med kløverkort.
Description[pl]=Układ przypominający dużą liczbę symboli kara w kartach
Description[pt]=Um formato que lembra os paus de muitas cartas de jogo
Description[pt_BR]=Um formato que lembra os paus de muitas cartas de jogo
Description[ru]=Раскладка, повторяющая множество треф из карт
Description[sk]=Rozloženie pripomínajúce veľké množstvo kartových klubov
Description[sl]=Postavitev podobna veliko kartam barve karo
Description[sr]=Распоред налик на карташке кругове
Description[sr@ijekavian]=Распоред налик на карташке кругове
Description[sr@ijekavianlatin]=Raspored nalik na kartaške krugove
Description[sr@latin]=Raspored nalik na kartaške krugove
Description[sv]=Ett utlägg som liknar klöver på ett stort antal spelkort
Description[tr]=Sinek destesini temsilen bir yerleşim
Description[uk]=Розкладка, що нагадує позначку масті у картах
Description[x-test]=xxA layout resembling a multitude of card clubsxx
Description[zh_CN]=扑克牌的梅花样式布局
Description[zh_TW]=撲克牌的梅花式佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=clubs.layout
