[KMahjonggLayout]
Name=Clubs
Name[ca]=Piques
Name[da]=Klør
Name[de]=Kreuz
Name[el]=Μπαστούνια
Name[es]=Tréboles
Name[et]=Risti
Name[eu]=Klubak
Name[it]=Picche
Name[nds]=Krüüz
Name[pt]=Paus
Name[pt_BR]=Paus
Name[sr]=Карташи
Name[sr@latin]=Kartaši
Name[sv]=Klöver
Name[tr]=Sinek
Name[uk]=Трефи
Name[x-test]=xxClubsxx
Name[zh_CN]=梅花
Name[zh_TW]=梅花
Description=A layout resembling a multitude of card clubs
Description[ca]=Un disseny semblant a un gran nombre de piques de carta
Description[da]=Et layout der ligner en mangfoldighed af kort-klør
Description[de]=Dieses Design zeigt mehrere Kreuzkarten.
Description[el]=Μια διάταξη που μοιάζει ένα πλήθος χαρτιών μπαστουνιών
Description[es]=Un diseño que se parece a una multitud de tréboles de cartas
Description[et]=Ristimastist kaarte meenutav paigutus
Description[eu]=Klubetako txartelak dirudien diseinua
Description[it]=Una disposizione che sembra un ammasso di carte di picche
Description[nds]=En Anornen liek to vele Krüzen op Koorten
Description[pt]=Um formato que lembra os paus de muitas cartas de jogo
Description[pt_BR]=Um formato que lembra os paus de muitas cartas de jogo
Description[sr]=Распоред налик на карташке кругове
Description[sr@latin]=Raspored nalik na kartaške krugove
Description[sv]=Ett utlägg som liknar klöver på ett stort antal spelkort
Description[uk]=Розкладка, що нагадує позначку масті у картах
Description[x-test]=xxA layout resembling a multitude of card clubsxx
Description[zh_CN]=扑克牌的梅花样式布局
Description[zh_TW]=撲克牌的梅花式佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=clubs.layout
