[KMahjonggLayout]
Name=Columns
Name[nds]=Striepen
Name[pt]=Colunas
Name[pt_BR]=Colunas
Name[sv]=Kolumner
Name[uk]=Колонки
Name[x-test]=xxColumnsxx
Name[zh_TW]=圓柱
Description=A circular arena covered with columns of varying height
Description[pt]=Uma arena circular com colunas de altura variável
Description[pt_BR]=Uma arena circular com colunas de altura variável
Description[sv]=Ett cirkulärt område täckt med kolumner av olika höjd
Description[uk]=Кругова арена, вкрита колонами різної висоти
Description[x-test]=xxA circular arena covered with columns of varying heightxx
Description[zh_TW]=圓形競技場，有不同高度的圓柱形
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=columns.layout
