[KMahjonggLayout]
Name=Columns
Name[bs]=Kolone
Name[ca]=Columnes
Name[ca@valencia]=Columnes
Name[cs]=Sloupce
Name[da]=Søjler
Name[de]=Säulen
Name[el]=Στήλες
Name[en_GB]=Columns
Name[eo]=Kolumnoj
Name[es]=Columnas
Name[et]=Sambad
Name[eu]=Zutabeak
Name[fi]=Pylväät
Name[fr]=Colonnes
Name[ga]=Colúin
Name[gl]=Columnas
Name[hr]=Columns
Name[hu]=Oszlopok
Name[id]=Tiang-tiang
Name[it]=Colonne
Name[kk]=Бағандар
Name[km]=សសរ
Name[ko]=열
Name[lv]=Kolonnas
Name[mai]=कालम
Name[mr]=स्थंभ
Name[nb]=Søyler
Name[nds]=Striepen
Name[nl]=Kolommen
Name[nn]=Søyler
Name[pl]=Kolumny
Name[pt]=Colunas
Name[pt_BR]=Colunas
Name[ro]=Coloane
Name[ru]=Столбики
Name[sk]=Stĺpy
Name[sl]=Stolpci
Name[sq]=Shtyllat
Name[sr]=Стубови
Name[sr@ijekavian]=Стубови
Name[sr@ijekavianlatin]=Stubovi
Name[sr@latin]=Stubovi
Name[sv]=Kolumner
Name[tr]=Sütunlar
Name[ug]=ئىستونلار
Name[uk]=Колонки
Name[wa]=Colones
Name[x-test]=xxColumnsxx
Name[zh_CN]=栏
Name[zh_TW]=圓柱
Description=A circular arena covered with columns of varying height
Description[bs]=Kružna arena pokrivena sa kolonama različitih visina
Description[ca]=Un escenari circular cobert amb columnes d'alçada variable
Description[ca@valencia]=Un escenari circular cobert amb columnes d'alçària variable
Description[cs]=Kruhová aréna zastřená sloupy různé výšky
Description[da]=En rund arena fyldt med søjler af forskellig højde
Description[de]=Eine kreisförmige Fläche mit unterschiedlich hohen Säulen.
Description[el]=Μια κυκλική αρένα καλυμμένη με στήλες διαφόρων υψών
Description[en_GB]=A circular arena covered with columns of varying height
Description[es]=Un estadio circular cubierto con columnas de altura variable
Description[et]=Ringareen, mida katavad mitmes pikkuses sambad
Description[eu]=Altuera desberdineko zutabez osatutako hondar zirkulua
Description[fi]=Pyöreä pelialue, jonka peittävät erikorkuiset pylväät
Description[fr]=Une arène circulaire couverte de colonnes de tailles variées
Description[gl]=Unha arena circular cuberta de columnas de diversas alturas
Description[hu]=Kör alakú aréna eltérő vastagságú oszlopokkal
Description[id]=Sebuah arena melingkar ditutupi dengan tiang-tiang tinggi yang bervariasi
Description[it]=Un'arena circolare piena di colonne di varia altezza
Description[kk]=Биіктігі түрлі бағандар орналасқан дөңгелек алаң
Description[km]=សៃវៀន​រាង​មូល​​ដោយមាន​​សសរ​ដែល​មាន​កម្ពស់​ខុស​ៗ​គ្នា
Description[lv]=Apaļa arēna aptverta ar dažāda augstuma kolonnām
Description[nb]=En sirkulær arena dekket med søyler av varierende høyde
Description[nds]=En Krinkrebeet mit Sülen vun verscheden Hööchde
Description[nl]=Een cirkelvormige arena bedekt met kolommen met verschillende hoogten
Description[nn]=Sirkelforma område med søyler av ulike høgder.
Description[pl]=Kołowa arena otoczona kolumnami o różnej wysokości
Description[pt]=Uma arena circular com colunas de altura variável
Description[pt_BR]=Uma arena circular com colunas de altura variável
Description[ru]=Круглая арена, покрытая столбиками различной высоты
Description[sk]=Kruhová aréna pokrytá stĺpmi rôznej výšky
Description[sl]=Krožna arena s stolpci različnih višin
Description[sr]=Кружна арена са стубовима разнолике висине
Description[sr@ijekavian]=Кружна арена са стубовима разнолике висине
Description[sr@ijekavianlatin]=Kružna arena sa stubovima raznolike visine
Description[sr@latin]=Kružna arena sa stubovima raznolike visine
Description[sv]=Ett cirkulärt område täckt med kolumner av olika höjd
Description[tr]=Değişen boylarda kolonlarla kaplı dairesel bir arena
Description[uk]=Кругова арена, вкрита колонами різної висоти
Description[x-test]=xxA circular arena covered with columns of varying heightxx
Description[zh_CN]=众多圆柱结构矗立其中的圆形竞技场
Description[zh_TW]=圓形競技場，有不同高度的圓柱形
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=columns.layout
