[KMahjonggLayout]
Name=Crab
Name[bs]=Kraba
Name[ca]=Cranc
Name[ca@valencia]=Cranc
Name[cs]=Krab
Name[da]=Krabbe
Name[de]=Krabbe
Name[el]=Καβούρι
Name[en_GB]=Crab
Name[es]=Cangrejo
Name[et]=Vähk
Name[eu]=Karramarroa
Name[fi]=Rapu
Name[fr]=Crabe
Name[ga]=Portán
Name[gl]=Caranguexo
Name[hr]=Crab
Name[hu]=Rák
Name[id]=Kepiting
Name[is]=Krabbi
Name[it]=Granchio
Name[kk]=Шаян
Name[km]=ក្ដាម​
Name[lt]=Krabas
Name[lv]=Krabis
Name[nb]=Krabbe
Name[nds]=Dwarslöper
Name[nl]=Krab
Name[nn]=Krabbe
Name[pl]=Krab
Name[pt]=Lagosta
Name[pt_BR]=Caranguejo
Name[ro]=Crab
Name[ru]=Краб
Name[sk]=Krab
Name[sl]=Rakovica
Name[sq]=Crab
Name[sr]=Рак
Name[sr@ijekavian]=Рак
Name[sr@ijekavianlatin]=Rak
Name[sr@latin]=Rak
Name[sv]=Krabba
Name[tr]=Yengeç
Name[uk]=Краб
Name[wa]=Crantche
Name[x-test]=xxCrabxx
Name[zh_CN]=螃蟹
Name[zh_TW]=螃蟹
Description=Vista-styled crab layout
Description[bs]=Vista-izgled rakova sa stilom
Description[ca]=Disposició amb la forma d'un cranc
Description[ca@valencia]=Disposició amb la forma d'un cranc
Description[cs]=Kříž při pohledu shora
Description[da]=Krabbelayout i Vista-stil
Description[de]=Eine Krabbe im Vista-Stil.
Description[el]=Διάταξη καβουριού
Description[en_GB]=Vista-styled crab layout
Description[es]=Diseño en forma de cangrejo estilo Vista
Description[et]=Vista stiilis vähi paigutus
Description[eu]=Vista itxurako karramarroaren diseinua
Description[fi]=Vista-tyylinen rapuasettelu
Description[fr]=Forme d'un crabe dans le style « Vista »
Description[gl]=Deseño visual dun caranguexo
Description[hu]=Vista-stílusú rákszerű elrendezés
Description[id]=Tata letak yang bergaya kepiting
Description[it]=Una disposizione a forma di granchio in stile Vista
Description[kk]=Vista-стиліндегі шаян қалыпты салынуы
Description[km]=ប្លង់​ក្ដាម​ដែល​មាន​រចនាប័ទ្ម​វីស្តា
Description[lt]=Vista stiliaus krabo išdėstymas
Description[lv]=Perspektīvas stila krabja izvietojums
Description[nb]=En krabbe i Vista-stil
Description[nds]=Dwarslöper in Vista-Stil
Description[nl]=Indeling volgens een krab in vista-stijl 
Description[nn]=Ein krabbe i Vista-stil.
Description[pl]=Układ przypominający kraba
Description[pt]=Um formato que lembra uma lagosta
Description[pt_BR]=Um formato que lembra uma lagosta
Description[ro]=Aranjament de crab în stil Vista
Description[ru]=Раскладка в виде краба
Description[sk]=Vista štýl rozloženia kraba
Description[sl]=Postavitev rakovice, podobna kot v Visti
Description[sr]=Распоред рака у стилу Висте
Description[sr@ijekavian]=Распоред рака у стилу Висте
Description[sr@ijekavianlatin]=Raspored raka u stilu Viste
Description[sr@latin]=Raspored raka u stilu Viste
Description[sv]=Krabbutlägg med Vista-stil
Description[tr]=Manzara-stili yengeç yerleşimi
Description[uk]=Розкладка у стилі краба з Vista
Description[x-test]=xxVista-styled crab layoutxx
Description[zh_CN]=螃蟹形布局
Description[zh_TW]=螃蟹形佈局
VersionFormat=1
Author=alchark
AuthorEmail=alchark@gmail.com
FileName=crab.layout
