[KMahjonggLayout]
Name=Cross
Name[ca]=Creu
Name[da]=Kors
Name[de]=Schneeball
Name[el]=Σταυρός
Name[es]=Cruz
Name[et]=Rist
Name[eu]=Gurutzea
Name[ga]=Cros
Name[it]=Asterisco
Name[nds]=Krüüz
Name[nn]=Kross
Name[pt]=Cruz
Name[pt_BR]=Cruz
Name[ro]=Cruce
Name[ru]=Крест
Name[sl]=Križ
Name[sr]=Укрштење
Name[sr@latin]=Ukrštenje
Name[sv]=Kors
Name[tr]=Çapraz
Name[uk]=Хрестик
Name[x-test]=xxCrossxx
Name[zh_CN]=十字
Name[zh_TW]=十字型
Description=A six-ended cross resembling the Cyrillic letter Zh
Description[ca]=Una creu de sis puntes semblant a la lletra ciríl·lica Zh
Description[da]=Et sekstakket kors der ligner det kyrilliske bogstav Zh
Description[de]=Ein Schneeball mit sechs Enden (ähnlich dem kyrillischen Zh). 
Description[el]=Ένας σταυρός έξι άκρων που μοιάζει με το κυριλλικό γράμμα Zh
Description[es]=Una cruz de seis puntas que se parece a la letra cirílica Zh
Description[et]=Kuueharuline rist, mis meenutab vene tähestiku ž-tähte
Description[eu]=Zh hizki zirilikoa dirudien sei izkineko gurutzea
Description[it]=Un asterisco a sei punte simile alla lettera cirillica Zh
Description[nds]=En Krüüz mit söss Ennen, liek to den kyrillschen Bookstaav "Sch"
Description[nn]=Ein seksarma kross som liknar på den kyrilliske bokstaven Ж.
Description[pt]=Uma cruz de seis pontas que lembra a letra cirílica Zh
Description[pt_BR]=Uma cruz de seis pontas que lembra a letra cirílica Zh
Description[ro]=Cruce cu șase capete ce amintește de litera chirilică J
Description[ru]=Шестиконечный крест, похожий на букву «Ж»
Description[sl]=Šesterokraki križ v podobi črke Ž v cirilici
Description[sr]=Шестокрако укрштење налик на ћирилично слово Ж
Description[sr@latin]=Šestokrako ukrštenje nalik na ćirilično slovo Ž
Description[sv]=Ett kors med sex spetsar som påminner om den kyrilliska bokstaven Zh
Description[uk]=Шестикутний хрест у формі літери «Ж»
Description[x-test]=xxA six-ended cross resembling the Cyrillic letter Zhxx
Description[zh_CN]=犹如西里尔字母 Zh 的六端点十字形
Description[zh_TW]=仿造斯拉夫字母 Zh，有六個端點的十字架
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=cross.layout
