[KMahjonggLayout]
Name=Cross
Name[uk]=Хрестик
Name[x-test]=xxCrossxx
Description=A six-ended cross resembling the Cyrillic letter Zh
Description[uk]=Шестикутний хрест у формі літери «Ж»
Description[x-test]=xxA six-ended cross resembling the Cyrillic letter Zhxx
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=cross.layout
