[KMahjonggLayout]
Name=Default
Name[be]=Прадвызначаны
Name[br]=Dre ziouer
Name[ca]=Predeterminat
Name[cs]=Výchozí
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hne]=डिफाल्ट
Name[hu]=Alapértelmezés
Name[it]=Predefinito
Name[ja]=標準
Name[km]=លំនាំដើម
Name[ko]=기본
Name[lt]=Numatyta
Name[lv]=Noklusējuma
Name[mai]=मूलभूत
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[pl]=Domyślne
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[sl]=Privzeto
Name[sr]=Подразумевано
Name[sr@latin]=Podrazumevano
Name[sv]=Förval
Name[te]=అప్రమెయం
Name[tr]=Öntanımlı
Name[uk]=Типові
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Default KMahjongg game layout
Description[ca]=Disposició predeterminada de KMahjongg
Description[cs]=Výchozí rozložení pro KMahjongg
Description[da]=Standard spillayout for KMahjongg
Description[de]=Standard-Spiellayout für KMahjongg
Description[el]=Προκαθορισμένη διάταξη του KMahjongg
Description[es]=Distribución de juego predeterminada de KMahjongg
Description[et]=KMahjonggi vaikimisi mängiväli
Description[fa]=طرح پیش‌فرض بازی فال Mahjongg
Description[fi]=KMahjongg-oletusasettelu
Description[fr]=Répartition par défaut du jeu KMahjongg
Description[ga]=Leagan amach réamhshocraithe le haghaidh KMahjongg
Description[gl]=Disposición por omisión para KMahjongg
Description[hne]=डिफाल्ट के-महजोंग खेल खाका
Description[hu]=Alapértelmezett KMahjongg-elrendezés
Description[it]=Disposizione dei pezzi predefinita di KMahjongg
Description[ja]=KMahjongg の標準レイアウト
Description[km]=ប្លង់​ល្បែង KMahjongg លំនាំដើម
Description[ko]=기본 KMahjongg 게임 레이아웃
Description[lv]=KMahjongg noklusējuma izkārtojums
Description[nds]=Standard-Speelopbuu för KMahjongg
Description[nl]=Standaard bordopstelling voor KMahjongg
Description[nn]=Standard KMahjongg-oppsett
Description[pl]=Domyślny układ Mahjongga
Description[pt]=Disposição predefinida de jogo do KMahjongg
Description[pt_BR]=Formato de tabuleiro padrão KMahjongg
Description[ru]=Игровая раскладка по умолчанию
Description[sl]=Privzeta razporeditev igre KMahjongg
Description[sr]=Подразумеван играчки распоред K‑махђонга
Description[sr@latin]=Podrazumevan igrački raspored K‑mahđonga
Description[sv]=Standardlayout för spelet Kmahjongg
Description[uk]=Типовий вигляд гри KMahjongg
Description[x-test]=xxDefault KMahjongg game layoutxx
Description[zh_CN]=默认 KMahjongg 游戏布局
Description[zh_TW]=預設 KMahjongg 遊戲佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=default.layout
