[KMahjonggLayout]
Name=Default
Name[be]=Прадвызначаны
Name[br]=Dre ziouer
Name[bs]=Podrazumijevani
Name[ca]=Predeterminat
Name[ca@valencia]=Predeterminat
Name[cs]=Výchozí
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[en_GB]=Default
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hne]=डिफाल्ट
Name[hu]=Alapértelmezés
Name[id]=Baku
Name[it]=Predefinito
Name[ja]=標準
Name[kk]=Әдетті
Name[km]=លំនាំដើម
Name[ko]=기본
Name[lt]=Numatyta
Name[lv]=Noklusējuma
Name[mai]=मूलभूत
Name[mr]=मूलभूत
Name[nb]=Standard
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[pl]=Domyślne
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[si]=පෙරනිමිය
Name[sk]=Štandardná
Name[sl]=Privzeto
Name[sq]=I Parazgjedhur
Name[sr]=Подразумевано
Name[sr@ijekavian]=Подразумијевано
Name[sr@ijekavianlatin]=Podrazumijevano
Name[sr@latin]=Podrazumevano
Name[sv]=Förval
Name[te]=అప్రమెయం
Name[tr]=Öntanımlı
Name[ug]=كۆڭۈلدىكى
Name[uk]=Типова
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Default KMahjongg game layout
Description[bs]=Igra KMahjongg zadanog izgleda
Description[ca]=Disposició predeterminada de KMahjongg
Description[ca@valencia]=Disposició predeterminada de KMahjongg
Description[cs]=Výchozí rozložení pro KMahjongg
Description[da]=Standard spillayout for KMahjongg
Description[de]=Standard-Design für KMahjongg.
Description[el]=Προκαθορισμένη διάταξη του KMahjongg
Description[en_GB]=Default KMahjongg game layout
Description[es]=Diseño de juego predeterminado de KMahjongg
Description[et]=KMahjonggi vaikimisi mängiväli
Description[eu]=KMahjongg jokoaren diseinu lehenetsia
Description[fa]=طرح پیش‌فرض بازی فال Mahjongg
Description[fi]=KMahjongg-oletusasettelu
Description[fr]=Répartition par défaut du jeu KMahjongg
Description[ga]=Leagan amach réamhshocraithe le haghaidh KMahjongg
Description[gl]=Deseño visual predeterminado de KMahjongg
Description[hne]=डिफाल्ट के-महजोंग खेल खाका
Description[hu]=Alapértelmezett KMahjongg-elrendezés
Description[id]=Tata letak permainan KMahjongg bawaan
Description[it]=Disposizione dei pezzi predefinita di KMahjongg
Description[ja]=KMahjongg の標準レイアウト
Description[kk]=Әдетті KMahjongg ойынның салынуы
Description[km]=ប្លង់​ល្បែង KMahjongg លំនាំដើម
Description[ko]=기본 KMahjongg 게임 레이아웃
Description[lt]=Numatytas KMahjongg žaidimo išdėstymas
Description[lv]=KMahjongg noklusējuma izkārtojums
Description[nb]=Standard KMahjongg-oppsett
Description[nds]=Standard-Speelopbuu för KMahjongg
Description[nl]=Standaard bordopstelling voor KMahjongg
Description[nn]=Standard KMahjongg-oppsett.
Description[pl]=Domyślny układ Mahjongga
Description[pt]=Disposição predefinida de jogo do KMahjongg
Description[pt_BR]=Formato de tabuleiro padrão KMahjongg
Description[ru]=Игровая раскладка по умолчанию
Description[sk]=Štandardné rozloženie pre KMahjongg
Description[sl]=Privzeta razporeditev igre KMahjongg
Description[sr]=Подразумеван играчки распоред К‑маџонга
Description[sr@ijekavian]=Подразумијеван играчки распоред К‑маџонга
Description[sr@ijekavianlatin]=Podrazumijevan igrački raspored K‑madžonga
Description[sr@latin]=Podrazumevan igrački raspored K‑madžonga
Description[sv]=Standardlayout för spelet Kmahjongg
Description[tr]=Öntanımlı KMahjongg oyun yerleşimi
Description[uk]=Типовий вигляд гри KMahjongg
Description[wa]=Prémetou adjinçmint di djeu po KMahjongg
Description[x-test]=xxDefault KMahjongg game layoutxx
Description[zh_CN]=默认 KMahjongg 游戏布局
Description[zh_TW]=預設 KMahjongg 遊戲佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=default.layout
