[KMahjonggLayout]
Name=Dragon
Name[ca]=Drac
Name[da]=Drage
Name[de]=Drache
Name[el]=Δράκος
Name[es]=Dragón
Name[et]=Lohemadu
Name[eu]=Erensugea
Name[ga]=Dragan
Name[it]=Dragone
Name[km]=នាគ
Name[nds]=Draken
Name[nl]=Draak
Name[nn]=Drage
Name[pt]=Dragão
Name[pt_BR]=Dragão
Name[ru]=Дракон
Name[sl]=Zmaj
Name[sr]=Змај
Name[sr@latin]=Zmaj
Name[sv]=Drake
Name[uk]=Дракон
Name[x-test]=xxDragonxx
Name[zh_CN]=龙
Name[zh_TW]=龍
Description=Vista-styled dragon layout
Description[ca]=Disposició amb la forma d'un drac
Description[da]=Dragelayout i Vista-stil
Description[de]=Ein Drache im Vista-Stil.
Description[el]=Διάταξη δράκου
Description[es]=Un diseño en forma de dragón
Description[et]=Vista stiilis draakoni paigutus
Description[eu]=Vista itxurako erensugeraren diseinua
Description[it]=Una disposizione a forma di dragone in stile Vista
Description[km]=ប្លង់​នាគ​ដែល​មាន​រចនាប័ទ្ម​វីស្តា
Description[nds]=Draken in Vista-Stil
Description[nn]=Ein drage i Vista-stil.
Description[pt]=Um formato que lembra um dragão
Description[pt_BR]=Um formato que lembra um dragão
Description[sl]=Postavitev zmaja, podobna kot v Visti
Description[sr]=Распоред змаја у стилу Висте
Description[sr@latin]=Raspored zmaja u stilu Viste
Description[sv]=Drakutlägg med Vista-stil
Description[uk]=Розкладка у формі дракона з Vista
Description[x-test]=xxVista-styled dragon layoutxx
Description[zh_CN]=龙形布局
Description[zh_TW]=龍形佈局
VersionFormat=1
Author=alchark
AuthorEmail=alchark@gmail.com
FileName=dragon.layout
