[KMahjonggLayout]
Name=Dragon
Name[bs]=Zmaj
Name[ca]=Drac
Name[ca@valencia]=Drac
Name[cs]=Drak
Name[da]=Drage
Name[de]=Drache
Name[el]=Δράκος
Name[en_GB]=Dragon
Name[es]=Dragón
Name[et]=Lohemadu
Name[eu]=Erensugea
Name[fi]=Lohikäärme
Name[fr]=Dragon
Name[ga]=Dragan
Name[gl]=Dragón
Name[hr]=Dragon
Name[hu]=Sárkány
Name[id]=Naga
Name[it]=Dragone
Name[kk]=Айдаһар
Name[km]=នាគ
Name[lt]=Drakonas
Name[lv]=Pūķis
Name[mai]=ड्रैगन
Name[nb]=Drage
Name[nds]=Draken
Name[nl]=Draak
Name[nn]=Drage
Name[pa]=ਰਾਖਸ਼
Name[pl]=Smok
Name[pt]=Dragão
Name[pt_BR]=Dragão
Name[ro]=Dragon
Name[ru]=Дракон
Name[sk]=Drak
Name[sl]=Zmaj
Name[sq]=Dragoi
Name[sr]=Змај
Name[sr@ijekavian]=Змај
Name[sr@ijekavianlatin]=Zmaj
Name[sr@latin]=Zmaj
Name[sv]=Drake
Name[tr]=Ejderha
Name[ug]=ئەجدىھا
Name[uk]=Дракон
Name[wa]=Dragon
Name[x-test]=xxDragonxx
Name[zh_CN]=龙
Name[zh_TW]=龍
Description=Vista-styled dragon layout
Description[bs]=Vista-izgled zmaja sa stilom
Description[ca]=Disposició amb la forma d'un drac
Description[ca@valencia]=Disposició amb la forma d'un drac
Description[cs]=Rozložení ve stylu pohledu na draka shora
Description[da]=Dragelayout i Vista-stil
Description[de]=Ein Drache im Vista-Stil.
Description[el]=Διάταξη δράκου
Description[en_GB]=Vista-styled dragon layout
Description[es]=Diseño en forma de dragón estilo Vista
Description[et]=Vista stiilis draakoni paigutus
Description[eu]=Vista itxurako erensugeraren diseinua
Description[fi]=Vista-tyylinen lohikäärmeasettelu
Description[fr]=Forme d'un dragon dans le style « Vista »
Description[gl]=Deseño visual dun dragón
Description[hu]=Vista-stílusú sárkányos elrendezés
Description[id]=Tata letak yang bergaya naga
Description[it]=Una disposizione a forma di dragone in stile Vista
Description[kk]=Vista-стиліндегі айдаһар қалыпты салынуы
Description[km]=ប្លង់​នាគ​ដែល​មាន​រចនាប័ទ្ម​វីស្តា
Description[lt]=Vista stiliaus drakono išdėstymas
Description[lv]=Perspektīvas stila pūķa izvietojums
Description[nb]=En drage i Vista-stil
Description[nds]=Draken in Vista-Stil
Description[nl]=Indeling volgens een draak in vista-stijl 
Description[nn]=Ein drage i Vista-stil.
Description[pl]=Układ przypominający smoka
Description[pt]=Um formato que lembra um dragão
Description[pt_BR]=Um formato que lembra um dragão
Description[ro]=Aranjament de dragon în stil Vista
Description[ru]=Раскладка в виде дракона
Description[sk]=Vista štýl rozloženia draka
Description[sl]=Postavitev zmaja, podobna kot v Visti
Description[sr]=Распоред змаја у стилу Висте
Description[sr@ijekavian]=Распоред змаја у стилу Висте
Description[sr@ijekavianlatin]=Raspored zmaja u stilu Viste
Description[sr@latin]=Raspored zmaja u stilu Viste
Description[sv]=Drakutlägg med Vista-stil
Description[tr]=Manzara-stili ejderha yerleşimi
Description[uk]=Розкладка у формі дракона з Vista
Description[x-test]=xxVista-styled dragon layoutxx
Description[zh_CN]=龙形布局
Description[zh_TW]=龍形佈局
VersionFormat=1
Author=alchark
AuthorEmail=alchark@gmail.com
FileName=dragon.layout
