[KMahjonggLayout]
Name=Eagle
Name[de]=Adler
Name[el]=Αετός
Name[et]=Kotkas
Name[ga]=Iolar
Name[nds]=Aadler
Name[pt]=Águia
Name[pt_BR]=Águia
Name[sv]=Örn
Name[uk]=Орел
Name[x-test]=xxEaglexx
Name[zh_CN]=鹰
Name[zh_TW]=老鷹
Description=A large carnivore bird in Mahjongg tiles
Description[de]=Ein großer fleischfressender Vogel aus Mahjongg-Spielsteinen.
Description[el]=Ένα μεγάλο σαρκοφάγο πτηνό με κομμάτια mahjongg
Description[et]=Suur lihasööja lind Mahjonggi klotsidest
Description[nds]=En groot Roofvagel ut Mahjongg-Steen
Description[pt]=Um grande pássaro carnívoro feito com peças do Mahjongg
Description[pt_BR]=Um grande pássaro carnívoro feito com peças do Mahjongg
Description[sv]=En stor rovfågel av Mahjongg-brickor
Description[uk]=Великий хижий птах, викладений з плиток Маджонг
Description[x-test]=xxA large carnivore bird in Mahjongg tilesxx
Description[zh_CN]=绘有大型食肉鸟类的麻将牌
Description[zh_TW]=老鷹形佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=eagle.layout
