[KMahjonggLayout]
Name=Enterprise
Name[el]=Εντερπράιζ
Name[sr]=Ентерпрајз
Name[sr@latin]=Enterprajz
Name[tr]=Kuruluş
Name[uk]=Ентерпрайз
Name[x-test]=xxEnterprisexx
Name[zh_CN]=企业号
Name[zh_TW]=企業號
Description=A layout for Star Trek fans
Description[da]=Et layout til Star Trek-fans
Description[de]=Ein Design für Fans von Star Trek.
Description[el]=Μια διάταξη για τους φίλους του Σταρ Τρεκ
Description[et]=Paigutus Star Treki fännidele
Description[ga]=Leagan amach le haghaidh leantóirí Star Trek
Description[nds]=En Muster för "Treckies"
Description[pt]=Um formato para os fãs do Caminho das Estrelas
Description[pt_BR]=Um formato para os fãs do Caminho das Estrelas
Description[sr]=Распоред за љубитеље „Звезданих стаза“
Description[sr@latin]=Raspored za ljubitelje „Zvezdanih staza“
Description[sv]=Ett utlägg för de som gillar Star Trek
Description[uk]=Розкладка для фанів «Стар-Трек»
Description[x-test]=xxA layout for Star Trek fansxx
Description[zh_CN]=给星际迷航爱好者们的布局
Description[zh_TW]=星際大戰迷的最愛
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=enterprise.layout
