[KMahjonggLayout]
Name=Enterprise
Name[uk]=Ентерпрайз
Name[x-test]=xxEnterprisexx
Description=A layout for Star Trek fans
Description[uk]=Розкладка для фанів «Стар-Трек»
Description[x-test]=xxA layout for Star Trek fansxx
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=enterprise.layout
