[KMahjonggLayout]
Name=Enterprise
Description=A layout for Star Trek fans
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=enterprise.layout
