[KMahjonggLayout]
Name=Explosion
Name[be]=Выбух
Name[bn]=বিস্ফোরণ
Name[br]=Tarzhad
Name[ca]=Explosió
Name[cs]=Exploze
Name[cy]=Ffrwydriad
Name[da]=Eksplosion
Name[el]=Έκρηξη
Name[eo]=Eksplodo
Name[es]=Explosión
Name[et]=Plahvatus
Name[eu]=Eztanda
Name[fa]=انفجار
Name[fi]=Räjähdys
Name[ga]=Pléasc
Name[gl]=Explosión
Name[he]=פיצוץ
Name[hne]=विस्फोटक
Name[hr]=Eksplozija
Name[hu]=Robbanás
Name[is]=Sprenging
Name[it]=Esplosione
Name[ja]=爆発
Name[km]=ការ​ផ្ទុះ
Name[ko]=폭발
Name[lt]=Sprogimas
Name[lv]=Eksplozija
Name[mai]=विस्फोट
Name[mk]=Експлозија
Name[nds]=Exploschoon
Name[nl]=Explosie
Name[nn]=Eksplosjon
Name[pa]=ਧਮਾਕੇ
Name[pl]=Wybuch
Name[pt]=Explosão
Name[pt_BR]=Explosão
Name[ro]=Explozie
Name[ru]=Взрыв
Name[sk]=Výbuch
Name[sl]=Eksplozija
Name[sr]=Експлозија
Name[sr@latin]=Eksplozija
Name[ta]=அதிர்வெடி
Name[tg]=Таркиш
Name[tr]=Patlama
Name[uk]=Вибух
Name[uz]=Portlash
Name[uz@cyrillic]=Портлаш
Name[wa]=Esplôzaedje
Name[x-test]=xxExplosionxx
Name[zh_CN]=雷炸了
Name[zh_TW]=爆炸
Description=Something has exploded. Collect the pieces.
Description[ca]=Alguna cosa ha explotat. Recull les peces.
Description[da]=Noget er eksploderet. Saml stykkerne.
Description[de]=Irgendetwas ist explodiert - sammeln Sie die Teile ein.
Description[el]=Κάτι ανατινάχτηκε. Συλλέξτε τα κομμάτια.
Description[es]=Algo ha explotado. Recoge las piezas.
Description[et]=Midagi plahvatas. Korja nüüd tükid kokku.
Description[eu]=Zerbait lehertu da. Bildu zatiak.
Description[fr]=Quelque chose a explosé. Récoltez les pièces.
Description[ga]=Phléasc rud éigin. Bailigh na píosaí.
Description[it]=Qualcosa è esploso. Recuperane i pezzi.
Description[lv]=Kaut kas ir uzsprādzis. Savāciet gabaliņus.
Description[nds]=Dor is wat hoochgungen. Klei de Steen tohoop.
Description[nl]=Er is iets geëxplodeerd. Verzamel de brokken.
Description[nn]=Noko har eksplodert. Plukk opp bitane.
Description[pt]=Algo explodiu. Recolha os pedaços.
Description[pt_BR]=Algo expodiu. Colete as peças.
Description[ro]=A explodat ceva. Strîngeți bucățile.
Description[ru]=Что-то взорвалось. Соберите кусочки.
Description[sl]=Nekaj je eksplodiralo. Zberite delčke.
Description[sr]=Нешто је пукло. Сакупите делиће.
Description[sr@latin]=Nešto je puklo. Sakupite deliće.
Description[sv]=Något har exploderat. Samla ihop bitarna.
Description[uk]=Щось вибухнуло. Зберіть шматки.
Description[x-test]=xxSomething has exploded. Collect the pieces.xx
Description[zh_CN]=有东西爆炸了，慢慢收拾吧。
Description[zh_TW]=有東西爆炸了，慢慢收拾吧。
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=explosion.layout
