[KMahjonggLayout]
Name=Explosion
Name[be]=Выбух
Name[bn]=বিস্ফোরণ
Name[br]=Tarzhad
Name[ca]=Explosió
Name[cs]=Exploze
Name[cy]=Ffrwydriad
Name[da]=Eksplosion
Name[el]=Έκρηξη
Name[eo]=Eksplodo
Name[es]=Explosión
Name[et]=Plahvatus
Name[eu]=Eztanda
Name[fa]=انفجار
Name[fi]=Räjähdys
Name[ga]=Pléasc
Name[gl]=Explosión
Name[he]=פיצוץ
Name[hne]=विस्फोटक
Name[hr]=Eksplozija
Name[hu]=Robbanás
Name[is]=Sprenging
Name[it]=Esplosione
Name[ja]=爆発
Name[km]=ការ​ផ្ទុះ
Name[ko]=폭발
Name[lt]=Sprogimas
Name[lv]=Eksplozija
Name[mk]=Експлозија
Name[nds]=Exploschoon
Name[nl]=Explosie
Name[nn]=Eksplosjon
Name[pa]=ਧਮਾਕੇ
Name[pl]=Wybuch
Name[pt]=Explosão
Name[pt_BR]=Explosão
Name[ro]=Explozie
Name[ru]=Взрыв
Name[sk]=Výbuch
Name[sl]=Eksplozija
Name[ta]=அதிர்வெடி
Name[tg]=Таркиш
Name[tr]=Patlama
Name[uk]=Вибух
Name[uz]=Portlash
Name[uz@cyrillic]=Портлаш
Name[x-test]=xxExplosionxx
Name[zh_CN]=雷炸了
Name[zh_TW]=爆炸
Description=Something has exploded. Collect the pieces.
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=explosion.layout
