[KMahjonggLayout]
Name=Flowers
Name[af]=Blomme
Name[be]=Кветкі
Name[bn]=ফুল
Name[br]=Bleunioù
Name[bs]=Cvijeće
Name[ca]=Flors
Name[ca@valencia]=Flors
Name[cs]=Květiny
Name[cy]=Blodau
Name[da]=Blomster
Name[de]=Blumen
Name[el]=Λουλούδια
Name[en_GB]=Flowers
Name[eo]=Floroj
Name[es]=Flores
Name[et]=Lilled
Name[eu]=Loreak
Name[fa]=گلها
Name[fi]=Kukat
Name[fr]=Fleurs
Name[ga]=Bláthanna
Name[gl]=Flores
Name[he]=פרחים
Name[hr]=Flowers
Name[hu]=Virágok
Name[id]=Bunga-bungaan
Name[is]=Blóm
Name[it]=Fiori
Name[kk]=Гүлдер
Name[km]=ផ្កា
Name[lt]=Gėlės
Name[lv]=Ziedi
Name[mai]=फूल
Name[mk]=Цвеќиња
Name[mr]=फूले
Name[nb]=Blomster
Name[nds]=Blomen
Name[ne]=फूल
Name[nl]=Bloemen
Name[nn]=Blomar
Name[pa]=ਫੁੱਲ
Name[pl]=Kwiaty
Name[pt]=Flores
Name[pt_BR]=Flores
Name[ro]=Flori
Name[ru]=Цветы
Name[sk]=Kvety
Name[sl]=Rože
Name[sq]=Lulet
Name[sr]=Цветићи
Name[sr@ijekavian]=Цвјетићи
Name[sr@ijekavianlatin]=Cvjetići
Name[sr@latin]=Cvetići
Name[sv]=Blommor
Name[ta]=மலர்கள்
Name[tg]=Гулҳо
Name[tr]=Çiçekler
Name[ug]=گۈللەر
Name[uk]=Квіти
Name[uz]=Gullar
Name[uz@cyrillic]=Гуллар
Name[vi]=Hoa 
Name[wa]=Fleurs
Name[xh]=Iintyatyambo
Name[x-test]=xxFlowersxx
Name[zh_CN]=花簇
Name[zh_TW]=花兒
Description=A layout consisting of six flowers
Description[bs]=Izgled sastavljen od šest cvjetova
Description[ca]=Una disposició que consta de sis flors
Description[ca@valencia]=Una disposició que consta de sis flors
Description[cs]=Rozložení sestávající ze šesti květin
Description[da]=Et layout bestående af seks blomster
Description[de]=Ein Design aus sechs Blumen.
Description[el]=Μια διάταξη που αποτελείται από έξι λουλούδια
Description[en_GB]=A layout consisting of six flowers
Description[es]=Un diseño que consiste en seis flores
Description[et]=Kuuest lillest paigutus
Description[eu]=Sei loreko diseinu bat
Description[fi]=Kuudesta kukasta koostuva asettelu
Description[fr]=Une forme de six fleurs
Description[ga]=Leagan amach déanta as sé bhláth
Description[gl]=Un deseño visual formado por seis flores
Description[hu]=Hat virágból álló elrendezés
Description[id]=Sebuah tata letak terdiri dari enam bunga
Description[it]=Una disposizione formata da sei fiori.
Description[kk]=Алты гүлді салынуы
Description[km]=ប្លង់​ដែល​មាន​​ផ្កា​ប្រាំមួយ​ទង​
Description[lv]=Izvietojums, kas sastāv no sešiem ziediem
Description[nb]=Seks blomster
Description[nds]=En Opbuu ut söss Blööm
Description[nl]=Een indeling bestaande uit zes bloemen
Description[nn]=Seks blomar.
Description[pl]=Układ składający się z sześciu kwiatów
Description[pt]=Um formato que consiste em seis flores
Description[pt_BR]=Um layout que consiste em seis flores
Description[ro]=Aranjement din șase flori
Description[ru]=Раскладка, содержащая шесть цветов
Description[sk]=Rozloženie sa skladá zo šiestich kvetín
Description[sl]=Postavitev iz šestih rož
Description[sq]=Një pamje që ka të bëjë me gjashtë lule
Description[sr]=Распоред у шест цветића
Description[sr@ijekavian]=Распоред у шест цвјетића
Description[sr@ijekavianlatin]=Raspored u šest cvjetića
Description[sr@latin]=Raspored u šest cvetića
Description[sv]=Ett utlägg som består av sex blommor
Description[tr]=Altı çiçekten oluşan bir yerleşim
Description[uk]=Розкладка, що складається з шістьох квіток
Description[x-test]=xxA layout consisting of six flowersxx
Description[zh_CN]=六朵花布局
Description[zh_TW]=含有六朵花的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=flowers.layout
