[KMahjonggLayout]
Name=Flowers
Name[af]=Blomme
Name[be]=Кветкі
Name[bn]=ফুল
Name[br]=Bleunioù
Name[cy]=Blodau
Name[de]=Blumen
Name[eo]=Floroj
Name[eu]=Loreak
Name[fa]=گلها
Name[ga]=Bláthanna
Name[he]=פרחים
Name[hr]=Cvjetovi
Name[is]=Blóm
Name[mk]=Цвеќиња
Name[ne]=फूल
Name[ro]=Flori
Name[ru]=Цветы
Name[sl]=Rože
Name[ta]=மலர்கள்
Name[tg]=Гулҳо
Name[tr]=Çiçekler
Name[uz]=Gullar
Name[uz@cyrillic]=Гуллар
Name[vi]=Hoa 
Name[wa]=Fleurs
Name[xh]=Iintyatyambo
Description=A layout consisting of six flowers
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=flowers.layout
