[KMahjonggLayout]
Name=Future
Name[ca]=Futur
Name[da]=Fremtid
Name[de]=Zukunft
Name[el]=Μέλλον
Name[et]=Tulevik
Name[ga]=Todhchaí
Name[nds]=Tokunft
Name[pt]=Futuro
Name[pt_BR]=Futuro
Name[sr]=Будућност
Name[sr@latin]=Budućnost
Name[sv]=Framtid
Name[tr]=Gelecek
Name[uk]=Футуристичний
Name[x-test]=xxFuturexx
Name[zh_CN]=未来
Name[zh_TW]=未來
Description=An abstract image resembling an asterisk
Description[ca]=Una imatge abstracta que sembla un asterisc
Description[da]=Et abstrakt billede der ligner en stjerne
Description[de]=Ein abstraktes Bild, das einen Stern darstellen soll.
Description[el]=Μια αφηρημένη εικόνα που μοιάζει με αστερίσκο
Description[et]=Tärni meenutav abstraktne pilt
Description[ga]=Íomhá theibí cosúil le réiltín
Description[nds]=En afstrakt Bild, liek en Steern
Description[pt]=Uma imagem abstracta que lembra um asterisco
Description[pt_BR]=Uma imagem abstracta que lembra um asterisco
Description[sr]=Апстрактна слика налик на звездицу
Description[sr@latin]=Apstraktna slika nalik na zvezdicu
Description[sv]=En abstrakt form som liknar en asterisk
Description[uk]=Абстрактне зображення, що нагадує зірку
Description[x-test]=xxAn abstract image resembling an asteriskxx
Description[zh_CN]=组成一个星号的抽象图
Description[zh_TW]=抽象的圖像組成一個星號
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=future.layout
