[KMahjonggLayout]
Name=Galaxy
Name[bs]=Galaksija
Name[ca]=Galàxia
Name[ca@valencia]=Galàxia
Name[cs]=Galaxie
Name[da]=Galakse
Name[de]=Sternsystem
Name[el]=Γαλαξίας
Name[en_GB]=Galaxy
Name[eo]=Galaksio
Name[es]=Galaxia
Name[et]=Galaktika
Name[eu]=Galaxia
Name[fi]=Galaksi
Name[fr]=Galaxie
Name[ga]=Réaltra
Name[gl]=Galaxia
Name[hr]=Galaxy
Name[hu]=Galaxis
Name[id]=Galaksi
Name[it]=Galassia
Name[kk]=Галактика
Name[km]=កញ្ចុំ​ផ្កាយ
Name[lt]=Galaktika
Name[lv]=Galaktika
Name[nb]=Galakse
Name[nds]=Galaxie
Name[nl]=Sterrenstelsel
Name[nn]=Galakse
Name[pl]=Galaktyka
Name[pt]=Galáxia
Name[pt_BR]=Galáxia
Name[ro]=Galaxie
Name[ru]=Галактика
Name[sk]=Galaxia
Name[sl]=Galaksija
Name[sq]=Galaktikë
Name[sr]=Галаксија
Name[sr@ijekavian]=Галаксија
Name[sr@ijekavianlatin]=Galaksija
Name[sr@latin]=Galaksija
Name[sv]=Galax
Name[tr]=Galaksi
Name[ug]=ساما يولى
Name[uk]=Галактика
Name[wa]=Galacseye
Name[x-test]=xxGalaxyxx
Name[zh_CN]=银河
Name[zh_TW]=銀河
Description=Diversely sized piles of matter
Description[bs]=Gomile materijala različitih veličina
Description[ca]=Piles de matèria de diverses mides
Description[ca@valencia]=Piles de matèria de diverses mides
Description[cs]=Různě velké kupy hmoty
Description[da]=Stabler af materiale i forskelig størrelse
Description[de]=Unterschiedlich große Haufen von Materie.
Description[el]=Ποικίλου μεγέθους κομμάτια ύλης
Description[en_GB]=Diversely sized piles of matter
Description[es]=Montones de materia de diversos tamaños
Description[et]=Mitmesuguses suuruses ainetombud
Description[eu]=Tamaina desberdinetako material pilak
Description[fi]=Erikokoisia ainekappaleita
Description[fr]=Des piles de matières de tailles arbitraires
Description[gl]=Montóns de materia de diversas dimensións
Description[hu]=Különféle méretű anyaghalmazok
Description[id]=Beragam ukuran materi yang bertumpuk
Description[it]=Ammassi di materia di varia grandezza
Description[kk]=Түрлі өлшемді заттар шоғыры
Description[km]=វត្ថុ​ដែល​មាន​ទំហំ​ផ្សេង​ៗ​គ្នា
Description[lv]=Dažādu izmēru matērijas kopumi
Description[nb]=Stabler med stoff, i forskjellig størrelse
Description[nds]=Verscheden grott Materiebülten
Description[nl]=Hopen materie met verschillende afmetingen
Description[nn]=Små stablar med materie.
Description[pl]=Zbiory materii o różnym rozmiarze
Description[pt]=Pilhas de matéria de diferentes tamanhos
Description[pt_BR]=Pilhas de matéria de diferentes tamanhos
Description[ro]=Grămezi de materie de dimensiuni diferite
Description[ru]=Скопления материи разного размера
Description[sk]=Rôzne veľké hromady hmoty
Description[sl]=Neenako veliki kosi snovi
Description[sq]=Blloqe materieje me përmasa të ndryshme
Description[sr]=Скупине материје разноликих величина
Description[sr@ijekavian]=Скупине материје разноликих величина
Description[sr@ijekavianlatin]=Skupine materije raznolikih veličina
Description[sr@latin]=Skupine materije raznolikih veličina
Description[sv]=Materiehögar av olika storlekar
Description[tr]=Muhtelif boyutlarda madde yığınları
Description[uk]=Закручені у протилежних напрямках рукави матерії
Description[x-test]=xxDiversely sized piles of matterxx
Description[zh_CN]=众多花式的集合
Description[zh_TW]=各式各樣的花樣
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=galaxy.layout
