[KMahjonggLayout]
Name=Garden
Name[bs]=Vrt
Name[ca]=Jardí
Name[ca@valencia]=Jardí
Name[cs]=Zahrada
Name[da]=Have
Name[de]=Garten
Name[el]=Κήπος
Name[en_GB]=Garden
Name[es]=Jardín
Name[et]=Aed
Name[eu]=Lorategia
Name[fi]=Puutarha
Name[fr]=Jardin
Name[ga]=Gairdín
Name[gl]=Xardín
Name[hr]=Garden
Name[hu]=Kert
Name[id]=Taman
Name[it]=Giardino
Name[kk]=Бақ
Name[km]=សួនច្បារ
Name[lt]=Sodas
Name[lv]=Dārzs
Name[nb]=Hage
Name[nds]=Goorn
Name[nl]=Tuin
Name[nn]=Hage
Name[pa]=ਬਾਗ
Name[pl]=Ogród
Name[pt]=Jardim
Name[pt_BR]=Jardim
Name[ro]=Grădină
Name[ru]=Сады
Name[sk]=Záhrada
Name[sl]=Vrt
Name[sq]=Kopshti
Name[sr]=Башта
Name[sr@ijekavian]=Башта
Name[sr@ijekavianlatin]=Bašta
Name[sr@latin]=Bašta
Name[sv]=Trädgård
Name[tr]=Bahçe
Name[ug]=گۈللۈك
Name[uk]=Садок
Name[wa]=Corti
Name[x-test]=xxGardenxx
Name[zh_CN]=花园
Name[zh_TW]=花園
Description=Regular patterns resembling a classical garden
Description[bs]=Regularni uzorci nalik klasičnom vrtu
Description[ca]=Formes regulars que semblen un jardí clàssic
Description[ca@valencia]=Formes regulars que semblen un jardí clàssic
Description[cs]=Pravidelné vzory připomínající klasickou zahradu
Description[da]=Regelmæssige mønstre der ligner en klassisk have
Description[de]=Wiederkehrende Muster stellen einen klassischen Garten dar.
Description[el]=Τυπικά μοτίβα που μοιάζουν με έναν κλασικό κήπο
Description[en_GB]=Regular patterns resembling a classical garden
Description[es]=Motivos regulares que se asemejan a un jardín clásico
Description[et]=Klassikalist aeda meenutavad korrapärased mustrid
Description[eu]=Lorategi klasikoa dirudien eredu erregularrak
Description[fi]=Klassista puutarhaa muistuttavat säännölliset hahmot
Description[fr]=Des motifs réguliers ressemblant à un jardin classique
Description[ga]=Patrúin rialta cosúil le gairdín clasaiceach
Description[gl]=Padróns regulares que lembran ao clásico xardín
Description[hu]=Egy tradícionális kertre emlékeztető minta
Description[id]=Pola teratur yang menyerupai sebuah taman klasik
Description[it]=Tracciati regolari che richiamano un giardino classico
Description[kk]=Классикалық баққа ұқсас өрнек
Description[km]=លំនាំ​ធម្មតា​ដែល​ស្រដៀង​សួន​ច្បារ​ក្លាស៊ិក
Description[lv]=Regulāri šabloni, kas atgādina klasisko dārzu
Description[nb]=Mønster som en klassisk hage
Description[nds]=En klass'sch Goorn ut egaal Mustern
Description[nl]=Regelmatig patroon dat lijkt op een klassieke tuin
Description[nn]=Mønster som ein klassisk hage.
Description[pl]=Regularne kształty przypominające ogród klasyczny
Description[pt]=Padrões regulares que lembram um jardim clássico
Description[pt_BR]=Padrões regulares que lembram um jardim clássico
Description[ru]=Классический ухоженный сад
Description[sk]=Pravidelné vzory pripomínajúce klasickú záhradu
Description[sl]=Vzorci, ki predstavljajo klasičen vrt
Description[sq]=Motive të rregullta që i ngjajnë një kopshti klasik
Description[sr]=Правилни обрасци налик на класичну башту
Description[sr@ijekavian]=Правилни обрасци налик на класичну башту
Description[sr@ijekavianlatin]=Pravilni obrasci nalik na klasičnu baštu
Description[sr@latin]=Pravilni obrasci nalik na klasičnu baštu
Description[sv]=Regelbundna mönster som påminner om en klassisk trädgård
Description[tr]=Klasik bir bahçeyi andıran düzenli desenler
Description[uk]=Правильні візерунки, що нагадують класичний сад
Description[x-test]=xxRegular patterns resembling a classical gardenxx
Description[zh_CN]=一些常规花式组成的古典花园
Description[zh_TW]=一些常規的樣式，組成一個花園
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=garden.layout
