[KMahjonggLayout]
Name=Girl
Name[de]=Mädchen
Name[el]=Κορίτσι
Name[et]=Tüdruk
Name[ga]=Cailín
Name[nds]=Deern
Name[pt]=Menina
Name[pt_BR]=Menina
Name[sv]=Flicka
Name[uk]=Дівчина
Name[x-test]=xxGirlxx
Name[zh_TW]=女孩
Description=A layout resembling a girl's face
Description[de]=Dieses Design stellt das Gesicht eines Mädchens dar.
Description[el]=Μια διάταξη που μοιάζει με το πρόσωπο ενός κοριτσιού
Description[et]=Tüdruku nägu meenutav paigutus
Description[ga]=Leagan amach cosúil le cailín
Description[nds]=En Deern ehr Antlaat
Description[pt]=Um formato que lembra a cara de uma menina
Description[pt_BR]=Um formato que lembra a cara de uma menina
Description[sv]=Ett utlägg som påminner om en flickas ansikte
Description[uk]=Розкладка у формі обличчя дівчини
Description[x-test]=xxA layout resembling a girl's facexx
Description[zh_TW]=一張女孩的臉
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=girl.layout
