[KMahjonggLayout]
Name=Girl
Description=A layout resembling a girl's face
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=girl.layout
