[KMahjonggLayout]
Name=Glade
Name[de]=Lichtung
Name[el]=Ξέφωτο
Name[et]=Metsavälu
Name[ga]=Plásóg Choille
Name[nds]=Lichten
Name[pt]=Pântano
Name[pt_BR]=Pântano
Name[sv]=Glänta
Name[uk]=Прогалина
Name[x-test]=xxGladexx
Name[zh_TW]=沼澤
Description=A small piece of empty space surrounded by a forest
Description[de]=Ein kleines Stück freier Fläche, das von einem Wald umgeben ist.
Description[el]=Ένας μικρός κενός χώρος περιτριγυρισμένος από δάσος
Description[et]=Väike lagendik keset suuri puid
Description[nds]=En Woold rund en lütt Lichten
Description[pt]=Um pedaço pequeno de espaço vazio, rodeado por uma floresta
Description[pt_BR]=Um pedaço pequeno de espaço vazio, rodeado por uma floresta
Description[sv]=Ett litet tomt område omgivet av en skog
Description[uk]=Невеличка порожнє місце, оточене лісом
Description[x-test]=xxA small piece of empty space surrounded by a forestxx
Description[zh_TW]=森林圍繞著一小塊空地
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=glade.layout
