[KMahjonggLayout]
Name=Grid
Name[da]=Gitter
Name[de]=Gitter
Name[el]=Κάνναβος
Name[et]=Võrgustik
Name[ga]=Greille
Name[nds]=Gadder
Name[pt]=Grelha
Name[pt_BR]=Grelha
Name[sr]=Решетка
Name[sr@latin]=Rešetka
Name[sv]=Rutor
Name[uk]=Ґратка
Name[x-test]=xxGridxx
Name[zh_CN]=网格
Name[zh_TW]=格子
Description=A rectangular grid of varying height
Description[da]=Et rektangulært gitter af varierende højde
Description[de]=Ein rechteckiges Gitter unterschiedlicher Höhe.
Description[el]=Ένας ορθογώνιος κάνναβος μεταβαλλόμενου ύψους
Description[et]=Mitmes kõrguses nelinurkne võrgustik
Description[nds]=En rechteckig Gadder mit verscheden Hööchden
Description[pt]=Uma grelha rectangular de altura variada
Description[pt_BR]=Uma grelha rectangular de altura variada
Description[sr]=Правоугаона решетка променљиве висине
Description[sr@latin]=Pravougaona rešetka promenljive visine
Description[sv]=Ett rektangulärt rutnät med varierande höjd
Description[uk]=Прямокутна ґратка змінної висоти
Description[x-test]=xxA rectangular grid of varying heightxx
Description[zh_CN]=高度不同的矩形格子
Description[zh_TW]=不同高度的矩形格子
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=grid.layout
