[KMahjonggLayout]
Name=Grid
Name[ca]=Graella
Name[da]=Gitter
Name[de]=Gitter
Name[el]=Κάνναβος
Name[es]=Rejilla
Name[et]=Võrgustik
Name[eu]=Sareta
Name[ga]=Greille
Name[it]=Griglia
Name[km]=ក្រឡា​ចត្រង្គ
Name[lv]=Tīklojums
Name[mai]=जाल
Name[nds]=Gadder
Name[nl]=Raster
Name[nn]=Rutenett
Name[pt]=Grelha
Name[pt_BR]=Grelha
Name[ru]=Сетка
Name[sr]=Решетка
Name[sr@latin]=Rešetka
Name[sv]=Rutor
Name[uk]=Ґратка
Name[wa]=Grile
Name[x-test]=xxGridxx
Name[zh_CN]=网格
Name[zh_TW]=格子
Description=A rectangular grid of varying height
Description[ca]=Una graella rectangular d'alçada variable
Description[da]=Et rektangulært gitter af varierende højde
Description[de]=Ein rechteckiges Gitter unterschiedlicher Höhe.
Description[el]=Ένας ορθογώνιος κάνναβος μεταβαλλόμενου ύψους
Description[es]=Una rejilla rectangular de altura variable
Description[et]=Mitmes kõrguses nelinurkne võrgustik
Description[eu]=Sareta laukizuzena altuera aldakorrarekin
Description[it]=Una griglia rettangolare di altezza variabile
Description[lv]=Taisnstūra tīklojums ar dažādiem augstumiem
Description[nds]=En rechteckig Gadder mit verscheden Hööchden
Description[nl]=Een rechthoekig raster met verschillende hoogten
Description[nn]=Rektangulært rutenett av varierande høgd.
Description[pt]=Uma grelha rectangular de altura variada
Description[pt_BR]=Uma grelha retangular de altura variada
Description[sr]=Правоугаона решетка променљиве висине
Description[sr@latin]=Pravougaona rešetka promenljive visine
Description[sv]=Ett rektangulärt rutnät med varierande höjd
Description[uk]=Прямокутна ґратка змінної висоти
Description[x-test]=xxA rectangular grid of varying heightxx
Description[zh_CN]=高度不同的矩形格子
Description[zh_TW]=不同高度的矩形格子
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=grid.layout
