[KMahjonggLayout]
Name=Helios
Description=The greek Sun god's sign
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=helios.layout
