[KMahjonggLayout]
Name=Helios
Name[bs]=Helios
Name[ca]=Helios
Name[ca@valencia]=Helios
Name[cs]=Hélios
Name[da]=Helios
Name[de]=Helios
Name[el]=Ήλιος
Name[en_GB]=Helios
Name[eo]=Helios
Name[es]=Helios
Name[et]=Helios
Name[eu]=Helios
Name[fi]=Helios
Name[fr]=Helios
Name[ga]=Helios
Name[gl]=Helios
Name[hr]=Helios
Name[hu]=Héliosz
Name[id]=Helios
Name[it]=Elio
Name[kk]=Гелиос
Name[km]=Helios
Name[lv]=Helios
Name[nb]=Helios
Name[nds]=Helios
Name[nl]=Helios
Name[nn]=Helios
Name[pl]=Helios
Name[pt]=Helios
Name[pt_BR]=Helios
Name[ru]=Гелиос
Name[sk]=Helios
Name[sl]=Helij
Name[sq]=Helios
Name[sr]=Хелиос
Name[sr@ijekavian]=Хелиос
Name[sr@ijekavianlatin]=Helios
Name[sr@latin]=Helios
Name[sv]=Helios
Name[tr]=Güneş
Name[uk]=Геліос
Name[wa]=Helios
Name[x-test]=xxHeliosxx
Name[zh_CN]=太阳神
Name[zh_TW]=太陽
Description=The greek Sun god's sign
Description[bs]=Znak Grčkog Boga sunca
Description[ca]=El signe del deu grec del sol
Description[ca@valencia]=El signe del deu grec del sol
Description[cs]=Znamení řeckého boha Slunce
Description[da]=Tegnet for den græske solgud
Description[de]=Das Zeichen des griechischen Sonnengotts.
Description[el]=Το σύμβολου του αρχαίου Έλληνα θεού Ηλίου
Description[en_GB]=The greek Sun god's sign
Description[es]=El símbolo del dios griego del Sol
Description[et]=Kreeka päikesejumala märk
Description[eu]=Grekoen Eguzkian jainkoaren ikurra
Description[fi]=Kreikkalaisen auringonjumalan symboli
Description[fr]=Le signe du dieu grec du soleil
Description[gl]=Símbolo do deus grego do sol
Description[hu]=Az ógörög napisten jele
Description[id]=Tanda dewa Matahari Yunani
Description[it]=Il simbolo del dio greco del sole
Description[kk]=Көне грек Күннің көзі құдайының белгісі
Description[km]=សញ្ញា​របស់​អាទិទេព​ព្រះអាទិត្យ​ក្រិក
Description[lv]=Grieķu saules dieva zīme
Description[nb]=Grekernes solsymbol
Description[nds]=Den greeksch Sünngott sien Teken
Description[nl]=Het Griekse teken voor de zonnegod
Description[nn]=Grekaranes sitt solsymbol.
Description[pl]=Symbol greckiego boga słońca
Description[pt]=O sinal do grande deus grego do Sol
Description[pt_BR]=O sinal do grande deus grego do Sol
Description[ru]=Знак греческого бога Солнца
Description[sk]=Znamenie gréckeho boha Slnka
Description[sl]=Znak grškega boga Sonca
Description[sq]=Shenja e perëndisë greke të Diellit
Description[sr]=Знак грчког бога сунца
Description[sr@ijekavian]=Знак грчког бога сунца
Description[sr@ijekavianlatin]=Znak grčkog boga sunca
Description[sr@latin]=Znak grčkog boga sunca
Description[sv]=Den grekiska solgudens tecken
Description[tr]=Eski Yunan Güneş Tanrısı'nın simgesi
Description[uk]=Знак грецького бога Сонця
Description[wa]=Li sene då diu grek do Solea
Description[x-test]=xxThe greek Sun god's signxx
Description[zh_CN]=希腊神话中太阳神的符号
Description[zh_TW]=希臘傳說中太陽神的符號
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=helios.layout
