[KMahjonggLayout]
Name=Inner Circle
Name[ca]=Cercle interior
Name[ca@valencia]=Cercle interior
Name[da]=Inderkreds
Name[de]=Innenkreis
Name[el]=Εσώτερος κύκλος
Name[en_GB]=Inner Circle
Name[es]=Círculo interior
Name[et]=Sisering
Name[eu]=Barneko zirkulua
Name[fr]=Cercle intérieur
Name[ga]=Ciorcal Istigh
Name[hr]=Inner Circle
Name[hu]=Belső kör
Name[it]=Cerchio interno
Name[lv]=Iekšējais aplis
Name[nds]=Binnenkrink
Name[nl]=Binnencirkel
Name[nn]=Indre sirkel.
Name[pl]=Wewnętrzne koło
Name[pt]=Círculo Interior
Name[pt_BR]=Círculo interior
Name[ru]=Внутренний круг
Name[sl]=Notranji krog
Name[sr]=Унутрашњи круг
Name[sr@latin]=Unutrašnji krug
Name[sv]=Inre cirkel
Name[uk]=Внутрішнє коло
Name[x-test]=xxInner Circlexx
Name[zh_CN]=同心圆
Name[zh_TW]=內圓
Description=Concentric boxes with openings pointing in opposite directions
Description[ca]=Caixes concèntriques amb obertures apuntant en direccions oposades
Description[ca@valencia]=Caixes concèntriques amb obertures apuntant en direccions oposades
Description[da]=Koncentriske kasser med åbningerne pegende i modsat retning
Description[de]=Konzentrische Kästen mit Öffnungen in entgegengesetzter Richtung.
Description[el]=Ομόκεντρα τετράγωνα με ανοίγματα με όψη σε αντίθετες κατευθύνσεις
Description[en_GB]=Concentric boxes with openings pointing in opposite directions
Description[es]=Cajas concéntricas con aberturas que apuntan en direcciones opuestas
Description[et]=Kontsentrilised kastid, mis avanevad vastassuunda
Description[eu]=Koadro konzentrikoak aurkako norabideetan irekitako puntuekin
Description[fr]=Des boîtes concentriques s'ouvrant dans des directions opposées
Description[hu]=Koncentrikus dobozok ellentétes irányokba néző nyílásokkal
Description[it]=Scatole concentriche con aperture su lati opposti
Description[lv]=Koncentriskas kastes ar atverēm, kas vērstas pretējos virzienos
Description[nds]=Konzentersche Kisten mit Löcker jümmers güntsiets
Description[nl]=Concentrische dozen met openingen die in tegenovergestelde richtingen wijzen
Description[nn]=Konsentriske boksar med opning i motsett retning.
Description[pl]=Współśrodkowe koła z punktami początkowymi w przeciwnych kierunkach
Description[pt]=Caixas concêntricas com aberturas que apontam em direcções opostas
Description[pt_BR]=Caixas concêntricas com aberturas que apontam em direções opostas
Description[sl]=Koncentrične škatle z odprtinami, ki kažejo v nasprotne smeri
Description[sr]=Концентричне кутије са отворима на супротним странама
Description[sr@latin]=Koncentrične kutije sa otvorima na suprotnim stranama
Description[sv]=Koncentriska lådor med öppningar som pekar åt motsatta håll
Description[uk]=Концентричні прямокутники з початковими точками у різних напрямках
Description[x-test]=xxConcentric boxes with openings pointing in opposite directionsxx
Description[zh_CN]=开口指向反方向的同心圆
Description[zh_TW]=同心圓，開口指向反方向
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=inner_circle.layout
