[KMahjonggLayout]
Name=Key
Name[ca]=Clau
Name[da]=Nøgle
Name[de]=Schlüssel
Name[el]=Κλειδί
Name[es]=Llave
Name[et]=Võti
Name[eu]=Giltza
Name[ga]=Eochair
Name[it]=Chiave
Name[nds]=Slötel
Name[nn]=Nøkkel
Name[pt]=Chave
Name[pt_BR]=Chave
Name[ru]=Ключ
Name[sr]=Кључ
Name[sr@latin]=Ključ
Name[sv]=Nyckel
Name[uk]=Ключ
Name[x-test]=xxKeyxx
Name[zh_CN]=钥匙
Name[zh_TW]=鑰匙
Description=A large key made of Mahjongg tiles
Description[ca]=Fitxes del Mahjongg fetes de grans claus
Description[da]=En stor nøgle lavet af Mahjongg-fliser
Description[de]=Ein großer Schlüssel aus Mahjongg-Spielsteinen.
Description[el]=Ένα μεγάλο κλειδί από κομμάτια Mahjongg
Description[es]=Una gran llave hecha de fichas de Mahjongg
Description[et]=Suur võti Mahjonggi klotsidest
Description[eu]=Mahjongg lauzekin sortutako giltza handi bat
Description[ga]=Eochair mhór déanta as tíleanna Mahjongg
Description[it]=Una grande chiave fatta con le tessere del Mahjongg
Description[nds]=En groot Slötel ut Mahjongg-Steen
Description[nl]=Een grote sleutel uit Mahjongg-stenen
Description[nn]=Ein stor nøkkel av Mahjongg-brikker.
Description[pt]=Uma grande chave feita com peças do Mahjongg
Description[pt_BR]=Uma grande chave feita com peças do Mahjongg
Description[sr]=Велики кључ од махђонг плочица
Description[sr@latin]=Veliki ključ od mahđong pločica
Description[sv]=En stor nyckel skapad av Mahjongg-brickor
Description[uk]=Великий ключ, викладений з плиток Маджонг
Description[x-test]=xxA large key made of Mahjongg tilesxx
Description[zh_CN]=大串钥匙造型的麻将牌
Description[zh_TW]=大型的鑰匙
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=key.layout
