[KMahjonggLayout]
Name=Key
Name[bs]=Ključ
Name[ca]=Clau
Name[ca@valencia]=Clau
Name[cs]=Klíč
Name[da]=Nøgle
Name[de]=Schlüssel
Name[el]=Κλειδί
Name[en_GB]=Key
Name[eo]=Klavo
Name[es]=Llave
Name[et]=Võti
Name[eu]=Giltza
Name[fi]=Avain
Name[fr]=Clé
Name[ga]=Eochair
Name[gl]=Chave
Name[hr]=Key
Name[hu]=Kulcs
Name[id]=Kunci
Name[it]=Chiave
Name[kk]=Кілт
Name[km]=សោ​
Name[lt]=Raktas
Name[lv]=Atslēga
Name[mai]=कुँजी
Name[mr]=कळ
Name[nb]=Nøkkel
Name[nds]=Slötel
Name[nl]=Sleutel
Name[nn]=Nøkkel
Name[pl]=Klucz
Name[pt]=Chave
Name[pt_BR]=Chave
Name[ru]=Ключ
Name[sk]=Kľúč
Name[sl]=Ključ
Name[sq]=Kyçi
Name[sr]=Кључ
Name[sr@ijekavian]=Кључ
Name[sr@ijekavianlatin]=Ključ
Name[sr@latin]=Ključ
Name[sv]=Nyckel
Name[tr]=Anahtar
Name[ug]=ئاچقۇچ
Name[uk]=Ключ
Name[wa]=Sere
Name[x-test]=xxKeyxx
Name[zh_CN]=关键词
Name[zh_TW]=鑰匙
Description=A large key made of Mahjongg tiles
Description[bs]=Veliki ključ napravljen od Mahjongg pločica
Description[ca]=Fitxes del Mahjongg fetes de grans claus
Description[ca@valencia]=Fitxes del Mahjongg fetes de grans claus
Description[cs]=Velký klíč složený z kamenů Mahjonggu
Description[da]=En stor nøgle lavet af Mahjongg-fliser
Description[de]=Ein großer Schlüssel aus Mahjongg-Spielsteinen.
Description[el]=Ένα μεγάλο κλειδί από κομμάτια Mahjongg
Description[en_GB]=A large key made of Mahjongg tiles
Description[es]=Una gran llave hecha de fichas de Mahjongg
Description[et]=Suur võti Mahjonggi klotsidest
Description[eu]=Mahjongg lauzekin sortutako giltza handi bat
Description[fi]=Suuri Mahjongg-tiilistä rakennettu avain
Description[fr]=Une grande clé faite avec des tuiles de Mahjongg
Description[ga]=Eochair mhór déanta as tíleanna Mahjongg
Description[gl]=Unha gran chave feita con pezas de Mahjongg
Description[hu]=Egy óriási kulcs Mahjongg-kövekből
Description[id]=Kunci besar yang terbuat dari tile Mahjongg
Description[it]=Una grande chiave fatta con le tessere del Mahjongg
Description[kk]=Маджонг тастарынан салынған кілт
Description[km]=សោ​​ធំ​មួយ​កើត​ពី​ក្រឡា​ក្បឿង Mahjongg 
Description[lt]=Didelis raktas padarytas iš Mahjongg kaladėlių
Description[lv]=Liela atslēga, kas salikta no Mahjongg kauliņiem
Description[nb]=En stor nøkkel av Mahjongg-brikker
Description[nds]=En groot Slötel ut Mahjongg-Steen
Description[nl]=Een grote sleutel uit Mahjongg-stenen
Description[nn]=Ein stor nøkkel av Mahjongg-brikker.
Description[pl]=Duży klucz wykonany z kostek Mahjongga
Description[pt]=Uma grande chave feita com peças do Mahjongg
Description[pt_BR]=Uma grande chave feita com peças do Mahjongg
Description[ru]=Большой ключ из плиток для маджонга
Description[sk]=Veľký kľúč z hracích kameňov Mahjongg
Description[sl]=Velik ključ iz ploščic za Mahjongg
Description[sq]=Një kyç i madh i bërë me tulla Mahjongg
Description[sr]=Велики кључ од маџонг плочица
Description[sr@ijekavian]=Велики кључ од маџонг плочица
Description[sr@ijekavianlatin]=Veliki ključ od madžong pločica
Description[sr@latin]=Veliki ključ od madžong pločica
Description[sv]=En stor nyckel skapad av Mahjongg-brickor
Description[tr]=Mahjongg döşemelerinden yapılmış geniş bir anahtar
Description[uk]=Великий ключ, викладений з плиток Маджонґ
Description[wa]=Ene grande sere fwaite avou des pîces di Mahjongg
Description[x-test]=xxA large key made of Mahjongg tilesxx
Description[zh_CN]=大串钥匙造型的麻将牌
Description[zh_TW]=大型的鑰匙
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=key.layout
