[KMahjonggLayout]
Name=KM
Name[bs]=KM
Name[ca]=KM
Name[ca@valencia]=KM
Name[cs]=KM
Name[da]=KM
Name[de]=KM
Name[el]=KM
Name[en_GB]=KM
Name[eo]=KM
Name[es]=KM
Name[et]=KM
Name[eu]=KM
Name[fi]=KM
Name[fr]=KM
Name[ga]=KM
Name[gl]=KM
Name[hr]=KM
Name[hu]=KM
Name[id]=KM
Name[it]=KM
Name[kk]=KM
Name[km]=KM
Name[lt]=KM
Name[lv]=KM
Name[nb]=KM
Name[nds]=KM
Name[nl]=KM
Name[nn]=KM
Name[pl]=KM
Name[pt]=KM
Name[pt_BR]=KM
Name[ru]=К и М
Name[si]=KM
Name[sk]=KM
Name[sl]=KM
Name[sq]=KM
Name[sr]=КМ
Name[sr@ijekavian]=КМ
Name[sr@ijekavianlatin]=KM
Name[sr@latin]=KM
Name[sv]=KM
Name[tr]=KM
Name[uk]=KM
Name[wa]=KM
Name[x-test]=xxKMxx
Name[zh_CN]=K M
Name[zh_TW]=KM
Description=Letters K and M. Do you have your favourite extension for that?
Description[bs]=Slova K i M. Imate li omiljeno proširenje za to?
Description[ca]=Lletres K i M. Tens la teva ampliació favorita per a això?
Description[ca@valencia]=Lletres K i M. Tens la teva ampliació favorita per a això?
Description[cs]=Písmena K a M. Máte oblíbené rozšíření tohoto rozložení?
Description[da]=Bogstaverne K og M. Hvad er din yndlingsfortsættelse af dem?
Description[de]=Die Buchstaben „K“ und „M“. Denken Sie dabei an etwas bestimmtes?
Description[el]=Τα γράμματα Κ και Μ.
Description[en_GB]=Letters K and M. Do you have your favourite extension for that?
Description[es]=Las letras K y M. ¿Tienes una ampliación favorita para esto?
Description[et]=Tähed K ja M. Kas pole armsad?
Description[eu]=K eta M hizkiak. Baduzu hedapen gogokoena horretarako?
Description[fi]=Kirjaimet K ja M. Minkä selityksen sinä keksit?
Description[fr]=Les lettres « K » et « M ». Avez-vous une extension préférée pour cet acronyme ?
Description[gl]=Letras K e M. Ten unha extensión favorita para iso?
Description[hu]=K és M betű. Ismerős?
Description[id]=Huruf K dan M. Apakah Anda memiliki ekstensi kesukaan Anda untuk itu?
Description[it]=Le lettere K e M. Hanno un significato particolare per te?
Description[kk]=K мен M әріптері. Нені қысқартады дейсіңіз?
Description[km]=អក្សរ K និង M ។​ តើ​អ្នក​មាន​ផ្នែក​បន្ថែម​សម្រាប់​វា​ឬ​ទេ ?
Description[lv]=Burti K un M. Vai jums tam ir jūsu iecienītais paplašinājums?
Description[nb]=Bokstavene K og M. Hva tror du de står for?
Description[nds]=De Bookstaven K un M. Hest Du dor en vörtrocken Verwiedern för?
Description[nl]=De letters K en M. Hebt u hier uw favoriete extensie voor?
Description[nn]=Bokstavane K og M. Kva trur du dei står for?
Description[pl]=Litery K i M. Czy masz swoją ulubioną definicję tych liter?
Description[pt]=As letras K e M. Tem a sua extensão favorita para isso?
Description[pt_BR]=As letras K e M. Você tem a sua extensão favorita para isso?
Description[ru]=Буквы К и М. Какая расшифровка вам нравится больше?
Description[sk]=Písmená K a M. Máte svoje obľúbené rozšírenie pre ne?
Description[sl]=Črki K in M. Imate zanju svojo priljubljeno nadaljevanje?
Description[sr]=Слова К и М. Замислите неко драго значење тих иницијала.
Description[sr@ijekavian]=Слова К и М. Замислите неко драго значење тих иницијала.
Description[sr@ijekavianlatin]=Slova K i M. Zamislite neko drago značenje tih inicijala.
Description[sr@latin]=Slova K i M. Zamislite neko drago značenje tih inicijala.
Description[sv]=Bokstäverna K och M. Har du en favorituttydning av det?
Description[tr]=K ve M harfleri. Bunun için favori bir uzantınız var mı?
Description[uk]=Літери K і M. Маєте улюблений суфікс назв файлів для цього?
Description[wa]=Les letes K et M. Avoz vosse sitindaedje favoris po ça?
Description[x-test]=xxLetters K and M. Do you have your favourite extension for that?xx
Description[zh_CN]=字母 K 和字母 M，您喜欢怎么理解就怎么理解。
Description[zh_TW]=字母 K 與 M。
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=km.layout
