[KMahjonggLayout]
Name=Labyrinth
Name[bs]=Lavirint
Name[ca]=Laberint
Name[ca@valencia]=Laberint
Name[cs]=Labyrint
Name[da]=Labyrint
Name[de]=Labyrinth
Name[el]=Λαβύρινθος
Name[en_GB]=Labyrinth
Name[es]=Labyrinth
Name[et]=Labürint
Name[eu]=Labirintoa
Name[fi]=Labyrintti
Name[fr]=Labyrinthe
Name[ga]=Labyrinth
Name[gl]=Labirinto
Name[hr]=Labyrinth
Name[hu]=Labirintus
Name[id]=Labirin
Name[is]=Völundarhús
Name[it]=Labirinto
Name[kk]=Лабиринт
Name[km]=ផ្លូវ​ស្មុគ​ស្មាញ
Name[lt]=Labirintas
Name[lv]=Labirints
Name[mai]=भूलभुलैया
Name[nb]=Labyrint
Name[nds]=Biestergoorn
Name[nl]=Doolhof
Name[nn]=Labyrint
Name[pl]=Labirynt
Name[pt]=Labirinto
Name[pt_BR]=Labirinto
Name[ro]=Labirint
Name[ru]=Лабиринт
Name[sk]=Labyrint
Name[sl]=Labirint
Name[sq]=Labirinti
Name[sr]=Лавиринт
Name[sr@ijekavian]=Лавиринт
Name[sr@ijekavianlatin]=Lavirint
Name[sr@latin]=Lavirint
Name[sv]=Labyrint
Name[tr]=Labirent
Name[ug]=Labyrinth
Name[uk]=Лабіринт
Name[x-test]=xxLabyrinthxx
Name[zh_CN]=迷宫
Name[zh_TW]=迷宮
Description=A complex yet symmetric labyrinth
Description[bs]=Još kompleksniji simetrični lavirint
Description[ca]=Un complex laberint encara que simètric
Description[ca@valencia]=Un complex laberint encara que simètric
Description[cs]=Složitý, ale symetrický labyrint
Description[da]=En kompleks men symmetrisk labyrint
Description[de]=Ein kompliziertes und symmetrisches Labyrinth.
Description[el]=Ένας σύνθετος συμμετρικός λαβύρινθος
Description[en_GB]=A complex yet symmetric labyrinth
Description[es]=Un laberinto complejo, aunque simétrico
Description[et]=Sümmeetriline, aga keeruline labürint
Description[eu]=Labirinto simetriko konplexua
Description[fi]=Monimutkainen mutta symmetrinen labyrintti
Description[fr]=Un labyrinthe complexe et symétrique
Description[ga]=Lúbra atá casta ach siméadrach freisin
Description[gl]=Un labirinto complexo aínda que simétrico
Description[hu]=Komplex, de szimmetrikus labirintus
Description[id]=Sebuah labirin simetris namun rumit
Description[it]=Un labirinto complicato ma simmetrico
Description[kk]=Күрделі, бірақ симметриялы лабиринт
Description[km]=ផ្លូវ​ខ្វាត់ខ្វែង​ស្មុគ​ស្មាញ​​ថែម​ទាំង​ស៊ីមេទ្រី​ទៀត
Description[lt]=Sudėtingas, tačiau simetriškas labirintas
Description[lv]=Sarežģīts, tomēr simetrisks labirints
Description[nb]=En komplisert men symmetrisk labyrint
Description[nds]=En vigeliensch, man symmetersch Biestergoorn
Description[nl]=Een complex, maar symmetrisch doolhof
Description[nn]=Ein komplisert men symmetrisk labyrint.
Description[pl]=Skomplikowany, ale symetryczny labirynt
Description[pt]=Um labirinto complexo mas simétrico
Description[pt_BR]=Um labirinto complexo mas simétrico
Description[ru]=Симметричный лабиринт
Description[sk]=Zložitý, ešte symetrický labyrint
Description[sl]=Kompleksen, a simetričen labirint
Description[sq]=Një labirint kompleks dhe simetrik
Description[sr]=Сложени, али симетрични лавиринт
Description[sr@ijekavian]=Сложени, али симетрични лавиринт
Description[sr@ijekavianlatin]=Složeni, ali simetrični lavirint
Description[sr@latin]=Složeni, ali simetrični lavirint
Description[sv]=En komplex men ändå symmetrisk labyrint
Description[tr]=Karmaşık ve hâlâ simetrik bir labirent
Description[uk]=Складний, але симетричний лабіринт
Description[x-test]=xxA complex yet symmetric labyrinthxx
Description[zh_CN]=复杂而对称的迷宫
Description[zh_TW]=複雜但對稱的迷宮
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=labyrinth.layout
