[KMahjonggLayout]
Name=Mask
Name[pt]=Máscara
Name[pt_BR]=Máscara
Name[uk]=Маска
Name[zh_TW]=面具
Description=A scary embossed pagan mask
Description[pt]=Uma máscara pagã assustadora
Description[pt_BR]=Uma máscara pagã assustadora
Description[sv]=En skrämmande hednisk mask med reliefer
Description[uk]=Жахлива рельєфна язичницька маска
Description[zh_TW]=恐怖的異教徒雕花面具
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=mask.layout
