[KMahjonggLayout]
Name=Mask
Name[ca]=Màscara
Name[cs]=Maska
Name[da]=Maske
Name[de]=Maske
Name[el]=Μάσκα
Name[es]=Máscara
Name[eu]=Maskara
Name[fr]=Masque
Name[ga]=Masc
Name[it]=Maschera
Name[lv]=Maska
Name[mai]=मास्क
Name[nl]=Masker
Name[nn]=Maske
Name[pt]=Máscara
Name[pt_BR]=Máscara
Name[ru]=Маска
Name[sl]=Maska
Name[sr]=Маска
Name[sr@latin]=Maska
Name[uk]=Маска
Name[wa]=Xhene
Name[x-test]=xxMaskxx
Name[zh_CN]=面具
Name[zh_TW]=面具
Description=A scary embossed pagan mask
Description[ca]=Una màscara pagana amb un relleu terrorífic
Description[da]=Et skræmmende relief af en hedensk maske
Description[de]=Eine unheimlich heidnische Maske.
Description[el]=Μια τρομακτική παγανιστική μάσκα
Description[es]=Una terrorífica máscara pagana en relieve
Description[et]=Kohutav paganlik mask
Description[eu]=Bozeldutako beldurrezko maskara paganoa
Description[fr]=Un effrayant masque païen en relief
Description[it]=Una terrificante maschera pagana a rilievo
Description[lv]=Biedējoša, gofrēta pagānu maska
Description[nds]=En gresig Heiden-Mask
Description[nl]=Een vreesachtig, met reliëf heidens masker
Description[nn]=Ei skummel heidningmaske.
Description[pt]=Uma máscara pagã assustadora
Description[pt_BR]=Uma máscara pagã assustadora
Description[ru]=Резная языческая маска, наводящая ужас
Description[sl]=Strašna poganska maska
Description[sr]=Страшна рељефна паганска маска
Description[sr@latin]=Strašna reljefna paganska maska
Description[sv]=En skrämmande hednisk mask med reliefer
Description[uk]=Жахлива рельєфна язичницька маска
Description[x-test]=xxA scary embossed pagan maskxx
Description[zh_CN]=恐怖的异教面具
Description[zh_TW]=恐怖的異教徒雕花面具
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=mask.layout
