[KMahjonggLayout]
Name=Mask
Name[bs]=Maska
Name[ca]=Màscara
Name[ca@valencia]=Màscara
Name[cs]=Maska
Name[da]=Maske
Name[de]=Maske
Name[el]=Μάσκα
Name[en_GB]=Mask
Name[es]=Máscara
Name[et]=Mask
Name[eu]=Maskara
Name[fi]=Naamio
Name[fr]=Masque
Name[ga]=Masc
Name[gl]=Máscara
Name[hr]=Mask
Name[hu]=Maszk
Name[id]=Kedok
Name[it]=Maschera
Name[kk]=Бет перде
Name[km]=របាំង
Name[lt]=Kaukė
Name[lv]=Maska
Name[mai]=मास्क
Name[mr]=मास्क
Name[nb]=Maske
Name[nds]=Mask
Name[nl]=Masker
Name[nn]=Maske
Name[pl]=Maska
Name[pt]=Máscara
Name[pt_BR]=Máscara
Name[ru]=Маска
Name[sk]=Maska
Name[sl]=Maska
Name[sq]=Maska
Name[sr]=Маска
Name[sr@ijekavian]=Маска
Name[sr@ijekavianlatin]=Maska
Name[sr@latin]=Maska
Name[sv]=Mask
Name[tr]=Maske
Name[ug]=ماسكا
Name[uk]=Маска
Name[wa]=Xhene
Name[x-test]=xxMaskxx
Name[zh_CN]=面具
Name[zh_TW]=面具
Description=A scary embossed pagan mask
Description[bs]=Strašna isklesana paganska maska
Description[ca]=Una màscara pagana amb un relleu terrorífic
Description[ca@valencia]=Una màscara pagana amb un relleu terrorífic
Description[cs]=Děsivá reliéfní pohanská maska
Description[da]=Et skræmmende relief af en hedensk maske
Description[de]=Eine unheimlich heidnische Maske.
Description[el]=Μια τρομακτική παγανιστική μάσκα
Description[en_GB]=A scary embossed pagan mask
Description[es]=Una terrorífica máscara pagana en relieve
Description[et]=Kohutav paganlik mask
Description[eu]=Bozeldutako beldurrezko maskara paganoa
Description[fi]=Pelottava kohokuvioitu pakanallinen naamio
Description[fr]=Un effrayant masque païen en relief
Description[gl]=Unha máscara pagá en relevo que dá medo
Description[hu]=Egy ijesztő, domború maszk
Description[id]=Sebuah topeng berhala timbul menakutkan
Description[it]=Una terrificante maschera pagana a rilievo
Description[kk]=Пұтқа табынушылардын қорқынышты бет пердесі
Description[km]=របាំង​​ pagan ដែល​លាន​​គួរ​ឲ្យ​ខ្លាច
Description[lv]=Biedējoša, gofrēta pagānu maska
Description[nb]=En skummel preget hedningmaske
Description[nds]=En gresig Heiden-Mask
Description[nl]=Een vreesachtig, met reliëf heidens masker
Description[nn]=Ei skummel heidningmaske.
Description[pl]=Straszna wytłoczona maska pogańska
Description[pt]=Uma máscara pagã assustadora
Description[pt_BR]=Uma máscara pagã assustadora
Description[ru]=Резная языческая маска, наводящая ужас
Description[sk]=Strašidelná reliéfová pohanská maska
Description[sl]=Strašna poganska maska
Description[sq]=Një maskë e frikshme pagane
Description[sr]=Страшна рељефна паганска маска
Description[sr@ijekavian]=Страшна рељефна паганска маска
Description[sr@ijekavianlatin]=Strašna reljefna paganska maska
Description[sr@latin]=Strašna reljefna paganska maska
Description[sv]=En skrämmande hednisk mask med reliefer
Description[tr]=Korkunç şekilde süslenmiş bir putperest maskesi
Description[uk]=Жахлива рельєфна язичницька маска
Description[x-test]=xxA scary embossed pagan maskxx
Description[zh_CN]=恐怖的异教面具
Description[zh_TW]=恐怖的異教徒雕花面具
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=mask.layout
