[KMahjonggLayout]
Name=Maya
Name[bs]=Maje
Name[ca]=Maia
Name[ca@valencia]=Maia
Name[cs]=Maya
Name[da]=Maya
Name[de]=Maya
Name[el]=Μάγια
Name[en_GB]=Maya
Name[es]=Maya
Name[et]=Maia
Name[eu]=Maya
Name[fi]=Maya
Name[fr]=Maya
Name[ga]=Máigeach
Name[gl]=Maia
Name[hr]=Maya
Name[hu]=Maya
Name[id]=Maya
Name[is]=Maya
Name[it]=Maya
Name[kk]=Майя
Name[km]=Maya
Name[lv]=Maiji
Name[nb]=Maya
Name[nds]=Maya
Name[nl]=Maya
Name[nn]=Maya
Name[pl]=Majowie
Name[pt]=Maia
Name[pt_BR]=Maia
Name[ru]=Майя
Name[sk]=Maya
Name[sl]=Maji
Name[sq]=Maja
Name[sr]=Мајански
Name[sr@ijekavian]=Мајански
Name[sr@ijekavianlatin]=Majanski
Name[sr@latin]=Majanski
Name[sv]=Maya
Name[tr]=Maya
Name[uk]=Майя
Name[wa]=Maya
Name[x-test]=xxMayaxx
Name[zh_CN]=玛雅
Name[zh_TW]=馬雅
Description=A layout resembling Maya pyramids
Description[bs]=Izgled nalik na Maja piramide
Description[ca]=Una disposició semblant a una piràmide Maia
Description[ca@valencia]=Una disposició semblant a una piràmide Maia
Description[cs]=Rozložení připomínající mayské pyramidy
Description[da]=Et layout der ligner Maya-pyramider
Description[de]=Dieses Design zeigt Maya-Pyramiden (Stufenpyramiden).
Description[el]=Μια διάταξη που μοιάζει με τις πυραμίδες των Μάγια
Description[en_GB]=A layout resembling Maya pyramids
Description[es]=Un diseño que se asemeja a las pirámides mayas
Description[et]=Maia püramiide meenutav paigutus
Description[eu]=Mayako piramideak dirudien diseinua
Description[fi]=Mayapyramideja muistuttava asettelu
Description[fr]=Une forme similaire aux pyramides des Mayas
Description[ga]=Leagan amach cosúil le pirimidí Máigeacha
Description[gl]=Un deseño visual baseado nas pirámides maias
Description[hu]=Maya piramisokra emlékeztető elrendezés
Description[id]=Sebuah tata letak menyerupai piramida Maya
Description[it]=Una disposizione simile ad una piramide maya
Description[kk]=Майя пирамидасына ұқсас салынуы
Description[km]=ប្លង់​ដែល​ស្រដៀង​ពីរ៉ាមីត Maya 
Description[lv]=Izkārtojums, kas atgādina maiju celtnes
Description[nb]=Et oppsett som likner på Maya-pyramider
Description[nds]=Maya-Pyramiden
Description[nl]=Een indeling die lijkt op een Maya piramide
Description[nn]=Maya-pyramidar.
Description[pl]=Układ przypominający piramidy Majów
Description[pt]=Um formato que lembra as pirâmides Maias
Description[pt_BR]=Um formato que lembra as pirâmides Maias
Description[ru]=Раскладка, похожая на пирамиды Майя
Description[sk]=Rozloženie pripomínajúce mayské pyramídy
Description[sl]=Postavitev podobna majanskim piramidam
Description[sq]=Një pamje që i ngjan piramidave Maja
Description[sr]=Распоред налик на пирамиде Маја
Description[sr@ijekavian]=Распоред налик на пирамиде Маја
Description[sr@ijekavianlatin]=Raspored nalik na piramide Maja
Description[sr@latin]=Raspored nalik na piramide Maja
Description[sv]=Ett utlägg som påminner om Maya-pyramider
Description[tr]=Maya piramitlerini temsilen bir yerleşim
Description[uk]=Розкладка, що нагадує піраміди майя
Description[x-test]=xxA layout resembling Maya pyramidsxx
Description[zh_CN]=玛雅金字塔形布局
Description[zh_TW]=馬雅金字塔形佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=maya.layout
