[KMahjonggLayout]
Name=Maya
Name[el]=Μάγια
Name[et]=Maia
Name[ga]=Máigeach
Name[pt]=Maia
Name[pt_BR]=Maia
Name[sr]=Мајански
Name[sr@latin]=Majanski
Name[uk]=Майя
Name[x-test]=xxMayaxx
Name[zh_CN]=玛雅
Name[zh_TW]=馬雅
Description=A layout resembling Maya pyramids
Description[de]=Dieses Design zeigt Maya-Pyramiden (Stufenpyramiden).
Description[el]=Μια διάταξη που μοιάζει με τις πυραμίδες των Μάγια
Description[et]=Maia püramiide meenutav paigutus
Description[ga]=Leagan amach cosúil le pirimidí Máigeacha
Description[nds]=Maya-Pyramiden
Description[pt]=Um formato que lembra as pirâmides Maias
Description[pt_BR]=Um formato que lembra as pirâmides Maias
Description[sr]=Распоред налик на пирамиде Маја
Description[sr@latin]=Raspored nalik na piramide Maja
Description[sv]=Ett utlägg som påminner om Maya-pyramider
Description[uk]=Розкладка, що нагадує піраміди майя
Description[x-test]=xxA layout resembling Maya pyramidsxx
Description[zh_CN]=玛雅金字塔形布局
Description[zh_TW]=馬雅金字塔形佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=maya.layout
