[KMahjonggLayout]
Name=Maze
Name[de]=Irrgarten
Name[et]=Keerdkäigud
Name[ga]=Cathair Ghríobháin
Name[nds]=Biestergoorn 2
Name[pt]=Labirinto
Name[pt_BR]=Labirinto
Name[sv]=Labyrinten på Kreta
Name[uk]=Лабіринт
Name[x-test]=xxMazexx
Name[zh_TW]=迷失
Description=An extremely twisted maze. Beware of minotaurs!
Description[de]=Ein extrem verdrehtes Labyrinth. Nehmen Sie sich vor Minotauros in Acht!
Description[et]=Erakordselt keerulised käigud. Hoidu minotauroste eest!
Description[nds]=En bannig vigeliensch Biestergoorn. Pass op Minotaurus op!
Description[pt]=Um labirinto bastante retorcido. Cuidado com os minotauros!
Description[pt_BR]=Um labirinto bastante retorcido. Cuidado com os minotauros!
Description[sv]=En ytterst krånglig labyrint. Se upp för Minotauros!
Description[uk]=Дуже заплутаний лабіринт. Стережіться мінотаврів!
Description[x-test]=xxAn extremely twisted maze. Beware of minotaurs!xx
Description[zh_TW]=一個極端扭曲的迷宮。小心那些牛頭人身怪！
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=maze.layout
