[KMahjonggLayout]
Name=Maze
Name[ca]=Gran laberint
Name[da]=Labyrint
Name[de]=Irrgarten
Name[el]=Λαβύρινθος
Name[es]=Otro laberinto
Name[et]=Keerdkäigud
Name[eu]=Labirintoa
Name[ga]=Cathair Ghríobháin
Name[it]=Dedalo
Name[mai]=भूल भुलैया
Name[nds]=Biestergoorn 2
Name[pt]=Labirinto
Name[pt_BR]=Labirinto
Name[ru]=Лабиринт Минотавра
Name[sr]=Запетљано
Name[sr@latin]=Zapetljano
Name[sv]=Labyrinten på Kreta
Name[uk]=Лабіринт
Name[x-test]=xxMazexx
Name[zh_CN]=迷路
Name[zh_TW]=迷失
Description=An extremely twisted maze. Beware of minotaurs!
Description[ca]=Un recargolat laberint. Compte amb els minotaures!
Description[da]=En ekstremt kroget labyrint. Pas på minotaurerne!
Description[de]=Ein extrem verdrehtes Labyrinth. Nehmen Sie sich vor Minotauros in Acht!
Description[el]=Ένα στρεβλωμένος λαβύρινθος. Προσοχή στους μινώταυρους!
Description[es]=Un laberinto muy retorcido. ¡Cuidado con los minotauros!
Description[et]=Erakordselt keerulised käigud. Hoidu minotauroste eest!
Description[eu]=Erabat bihurritutako labirintoa. Kontu ibili minotauroarekin!
Description[it]=Un vero dedalo. Attento ai minotauri!
Description[nds]=En bannig vigeliensch Biestergoorn. Pass op Minotaurus op!
Description[pt]=Um labirinto bastante retorcido. Cuidado com os minotauros!
Description[pt_BR]=Um labirinto bastante retorcido. Cuidado com os minotauros!
Description[sr]=Изванредно изувијан лавиринт. Чувај се минотаурâ!
Description[sr@latin]=Izvanredno izuvijan lavirint. Čuvaj se minotaurâ!
Description[sv]=En ytterst krånglig labyrint. Se upp för Minotauros!
Description[uk]=Дуже заплутаний лабіринт. Стережіться мінотаврів!
Description[x-test]=xxAn extremely twisted maze. Beware of minotaurs!xx
Description[zh_CN]=一个极其扭曲的迷宫，当心牛头人身怪！
Description[zh_TW]=一個極端扭曲的迷宮。小心那些牛頭人身怪！
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=maze.layout
