[KMahjonggLayout]
Name=Mesh
Name[ca]=Malla
Name[ca@valencia]=Malla
Name[da]=Masket
Name[de]=Masche
Name[el]=Πλέγμα
Name[en_GB]=Mesh
Name[es]=Malla
Name[et]=Võrk
Name[eu]=Sarea
Name[fr]=Fils
Name[ga]=Mogall
Name[hr]=Mesh
Name[hu]=Mintás
Name[it]=Intreccio
Name[lv]=Režģis
Name[nds]=Nett
Name[nl]=Raster
Name[nn]=Hekleduk
Name[pl]=Siatka
Name[pt]=Malha
Name[pt_BR]=Malha
Name[ru]=Петля
Name[sl]=Mreža
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nät
Name[tr]=Tuzak
Name[uk]=Сітка
Name[x-test]=xxMeshxx
Name[zh_CN]=织网
Name[zh_TW]=網子
Description=An interweaved structure made up of Mahjongg tiles
Description[ca]=Una estructura entrellaçada feta de peces del Mahjongg
Description[ca@valencia]=Una estructura entrellaçada feta de peces del Mahjongg
Description[da]=En indvævet struktur lavet af Mahjongg-fliser
Description[de]=Eine verflochtene Struktur aus Mahjongg-Spielsteinen.
Description[el]=Μια πλεγμένη κατασκευή από κομμάτια Mahjongg
Description[en_GB]=An interweaved structure made up of Mahjongg tiles
Description[es]=Una estructura entretejida hecha de fichas de Mahjongg
Description[et]=Läbipõimunud võrk Mahjonggi klotsidest
Description[eu]=Mahjongg lauzekin sortutako egitura elkar-bilbetua
Description[fr]=Une structure emmélée de tuiles Mahjongg
Description[ga]=Struchtúr fite, déanta as tíleanna Mahjongg
Description[hu]=Érdekes struktúra Mahjongg-lapokból
Description[it]=Una struttura intrecciata fatta con le tessere del Mahjongg
Description[lv]=Savīta struktūra, kas salikta no Mahjongg kauliņiem
Description[nds]=En verweevt Struktuur ut Mahjhongg-Steen
Description[nl]=Een verweven structuur bestaande uit Mahjongg stenen
Description[nn]=Ein hekleduk av Mahjongg-brikker.
Description[pl]=Struktura złożona z kafelków Mahjongga.
Description[pt]=Uma estrutura intercruzada, feita com peças de Mahjongg
Description[pt_BR]=Uma estrutura intercruzada, feita com peças de Mahjongg
Description[sl]=Prepletena struktura narejena iz ploščic za Mahjongg
Description[sr]=Уплетена структура од махђонг плочица
Description[sr@latin]=Upletena struktura od mahđong pločica
Description[sv]=En sammanvävd struktur skapad av Mahjongg-brickor
Description[uk]=Переплетена конструкція з плиток Маджонґ
Description[x-test]=xxAn interweaved structure made up of Mahjongg tilesxx
Description[zh_CN]=绘有交错网络的麻将牌
Description[zh_TW]=網狀交錯結構的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=mesh.layout
