[KMahjonggLayout]
Name=Moth
Name[bs]=Moljac
Name[ca]=Arna
Name[ca@valencia]=Arna
Name[cs]=Můra
Name[da]=Møl
Name[de]=Mücke
Name[el]=Σκόρος
Name[en_GB]=Moth
Name[es]=Polilla
Name[et]=Koiliblikas
Name[eu]=Sitsa
Name[fi]=Hyttynen
Name[fr]=Mite
Name[ga]=Leamhan
Name[gl]=Falena
Name[hr]=Moth
Name[hu]=Molylepke
Name[id]=Ngengat
Name[it]=Falena
Name[kk]=Көбелек
Name[km]=រេណុប្បត្ត​សត្វ
Name[lv]=Tauriņš
Name[nb]=Møll
Name[nds]=Mott
Name[nl]=Mot
Name[nn]=Møll
Name[pl]=Ćma
Name[pt]=Traça
Name[pt_BR]=Traça
Name[ru]=Мотылёк
Name[sk]=Moľa
Name[sl]=Molj
Name[sq]=Moth
Name[sr]=Мољац
Name[sr@ijekavian]=Мољац
Name[sr@ijekavianlatin]=Moljac
Name[sr@latin]=Moljac
Name[sv]=Mygga
Name[tr]=Güve
Name[uk]=Метелик
Name[x-test]=xxMothxx
Name[zh_CN]=蛾
Name[zh_TW]=蛾
Description=A layout representing a small flying insect
Description[bs]=Izgled nalik na male leteće insekte
Description[ca]=Una disposició que representa un petit insecte volador
Description[ca@valencia]=Una disposició que representa un petit insecte volador
Description[cs]=Rozvržení představující malý létající hmyz
Description[da]=Et layout der forestiller et lille flyvende insekt
Description[de]=Dieses Design stellt ein kleines fliegendes Insekt dar.
Description[el]=Μια διάταξη που μοιάζει με έναν μικρό ιπτάμενο έντομο
Description[en_GB]=A layout representing a small flying insect
Description[es]=Un diseño que representa un pequeño insecto volador
Description[et]=Väikest lendavat putukat meenutav paigutus
Description[eu]=Insektu hegalari txikia dirudien diseinua
Description[fi]=Pitkä lentävää hyönteistä muistuttava asettelu
Description[fr]=Une forme représentant un petit insecte volant
Description[ga]=Leagan amach cosúil le feithid bheag eitilte
Description[gl]=Un deseño en forma dunha bolboreta nocturna
Description[hu]=Apró, repülő bogárra emlékeztető elrendezés
Description[id]=Sebuah tata letak yang mewakili serangga terbang kecil
Description[it]=Una disposizione che rappresenta un piccolo insetto volante
Description[kk]=Ұшып жүрген көбелекке ұқсас салынуы
Description[km]=ប្លង់​ដែល​ស្រដៀង​សត្វ​ហើរ​តូច​ៗ​
Description[lv]=Izvietojums, kas atgādina mazu lidojošo insektu
Description[nb]=Et lite, flyvende insekt
Description[nds]=An Anornen, de en lütt flegen Beest vörstellen schall
Description[nl]=Een indeling die lijkt op een klein vliegend insect
Description[nn]=Eit lite, flygande innsekt.
Description[pl]=Układ przedstawiający małe latające insekty
Description[pt]=Um formato que lembra um pequeno insecto voador
Description[pt_BR]=Um formato que lembra um pequeno inseto voador
Description[ru]=Маленькое летающее насекомое
Description[sk]=Rozloženie predstavujúce malý lietajúci hmyz
Description[sl]=Postavitev v podobi majhne leteče žuželke
Description[sq]=Një pamje që përfaqëson një insekt të vogël fluturues
Description[sr]=Распоред налик малом летећем инсекту
Description[sr@ijekavian]=Распоред налик малом летећем инсекту
Description[sr@ijekavianlatin]=Raspored nalik malom letećem insektu
Description[sr@latin]=Raspored nalik malom letećem insektu
Description[sv]=Ett utlägg som liknar en liten flygande insekt
Description[tr]=Küçük uçan bir böceği temsilen bir yerleşim
Description[uk]=Розкладка у формі невеличкої літаючої комашки
Description[x-test]=xxA layout representing a small flying insectxx
Description[zh_CN]=绘有一只小飞虫的布局
Description[zh_TW]=小飛蛾形的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=moth.layout
