[KMahjonggLayout]
Name=Order
Name[de]=Orden
Name[et]=Kord ja kohus
Name[ga]=Ord
Name[nds]=Reeg
Name[pt]=Ordem
Name[pt_BR]=Ordem
Name[sv]=Orden
Name[uk]=Порядок
Name[x-test]=xxOrderxx
Name[zh_TW]=排序
Description=A cross with thick ends
Description[de]=Ein Kreuz mit dicken Enden.
Description[et]=Jämedate otstega rist
Description[nds]=En Krüüz mit dick Ennen
Description[pt]=Um cruz com pontas grossas
Description[pt_BR]=Um cruz com pontas grossas
Description[sv]=Ett kors med tjocka spetsar
Description[uk]=Хрест з потовщеними вершинами
Description[x-test]=xxA cross with thick endsxx
Description[zh_TW]=交錯形，尾端較厚
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=order.layout
