[KMahjonggLayout]
Name=Order
Name[bs]=Red
Name[ca]=Ordre
Name[ca@valencia]=Ordre
Name[cs]=Pořadí
Name[da]=Orden
Name[de]=Orden
Name[el]=Τάξη
Name[en_GB]=Order
Name[eo]=Bitordo
Name[es]=Orden
Name[et]=Kord ja kohus
Name[eu]=Ordena
Name[fi]=Järjestys
Name[fr]=Ordre
Name[ga]=Ord
Name[gl]=Orde
Name[hr]=Order
Name[hu]=Érdemrend
Name[id]=Urutan
Name[it]=Ordine cavalleresco
Name[kk]=Тәртіп
Name[km]=លំដាប់​
Name[lv]=Kārtība
Name[mai]=क्रम
Name[mr]=क्रम
Name[nb]=Orden
Name[nds]=Reeg
Name[nl]=Orde
Name[nn]=Orden
Name[pl]=Order
Name[pt]=Ordem
Name[pt_BR]=Ordem
Name[ru]=Порядок
Name[sk]=Poradie
Name[sl]=Red
Name[sq]=Renditja
Name[sr]=Ред
Name[sr@ijekavian]=Ред
Name[sr@ijekavianlatin]=Red
Name[sr@latin]=Red
Name[sv]=Orden
Name[tr]=Sıralama
Name[ug]=تەرتىپلە
Name[uk]=Порядок
Name[wa]=Ôre
Name[x-test]=xxOrderxx
Name[zh_CN]=序列
Name[zh_TW]=排序
Description=A cross with thick ends
Description[bs]=Krst sa debelim krajevima
Description[ca]=Una creu amb extrems gruixuts
Description[ca@valencia]=Una creu amb extrems gruixuts
Description[cs]=Kříž se silnými konci
Description[da]=Et kors med tykke ender
Description[de]=Ein Kreuz mit dicken Enden.
Description[el]=Ένας σταυρός με χοντρά άκρα
Description[en_GB]=A cross with thick ends
Description[es]=Una cruz de puntas gruesas
Description[et]=Jämedate otstega rist
Description[eu]=Gurutze bat izkin lodiekin
Description[fi]=Risti, jossa on paksut päät
Description[fr]=Une croix avec de larges extrémités
Description[gl]=Unha cruz con extremos avultados
Description[hu]=Vastag végű kereszt
Description[id]=Sebuah silang dengan ujung tebal
Description[it]=Una croce con le estremità ingrossate
Description[kk]=Ұштары қалың айқыш
Description[km]=ឈើឆ្កាង​​ដែល​មាន​ចុង​​ក្រាស់
Description[lv]=Krusts ar strupiem galiem
Description[nb]=Et kors med tykke ender
Description[nds]=En Krüüz mit dick Ennen
Description[nl]=Een kruis met dikke einden
Description[nn]=Ein kross med tjukke endar.
Description[pl]=Krzyż z grubymi zakończeniami
Description[pt]=Um cruz com pontas grossas
Description[pt_BR]=Um cruz com pontas grossas
Description[ru]=Крест с толстыми окончаниями
Description[sk]=Kríž s hrubými koncami
Description[sl]=Križ z odebeljenimi konci
Description[sq]=Një kryq me cepa të trashë
Description[sr]=Крст задебљаних крајева
Description[sr@ijekavian]=Крст задебљаних крајева
Description[sr@ijekavianlatin]=Krst zadebljanih krajeva
Description[sr@latin]=Krst zadebljanih krajeva
Description[sv]=Ett kors med tjocka spetsar
Description[tr]=Kalın uçları olan bir çubuk
Description[uk]=Хрест з потовщеними вершинами
Description[x-test]=xxA cross with thick endsxx
Description[zh_CN]=尾端较厚的交错图案
Description[zh_TW]=交錯形，尾端較厚
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=order.layout
