[KMahjonggLayout]
Name=Pattern
Name[ca]=Patró
Name[da]=Mønster
Name[de]=Muster
Name[el]=Μοτίβο
Name[es]=Diseño
Name[et]=Muster
Name[eu]=Eredua
Name[ga]=Patrún
Name[it]=Motivo
Name[nds]=Muster
Name[nl]=Patroon
Name[nn]=Mønster
Name[pt]=Padrão
Name[pt_BR]=Padrão
Name[ru]=Орнамент 
Name[sl]=Vzorec
Name[sr]=Образац
Name[sr@latin]=Obrazac
Name[sv]=Mönster
Name[uk]=Візерунок
Name[x-test]=xxPatternxx
Name[zh_CN]=花式
Name[zh_TW]=樣式
Description=A mysterious pattern atop rectangular blocks
Description[ca]=Un misteriós patró fet de blocs rectangulars
Description[da]=Et mystisk mønster ovenpå rektangulære blokke
Description[de]=Ein geheimnisvolles Muster auf Rechtecken.
Description[el]=Ένα μυστηριώδες μοτίβο πάνω σε ορθογώνια κομμάτια
Description[es]=Un diseño misterioso sobre bloques rectangulares
Description[et]=Müstiline muster nelinurksetel plokkidel
Description[eu]=Eredu misterioso bat bloke laukizuzenekin gainean
Description[it]=Un motivo misterioso su dei blocchi rettangolari
Description[nds]=En snaaksch Muster op rechteckig Blöck
Description[nn]=Eit mystisk mønster oppå rektangulære blokker.
Description[pt]=Um padrão misterioso sobre blocos rectangulares
Description[pt_BR]=Um padrão misterioso sobre blocos retangulares
Description[ru]=Таинственны орнамент из прямоугольных блоков
Description[sl]=Skrivnosten vzorec na pravokotnih blokih
Description[sr]=Тајанствени образац над правоугаоним блоковима
Description[sr@latin]=Tajanstveni obrazac nad pravougaonim blokovima
Description[sv]=Ett mystiskt mönster ovanpå rektangulära block
Description[uk]=Таємничий візерунок над прямокутними блоками
Description[x-test]=xxA mysterious pattern atop rectangular blocksxx
Description[zh_CN]=在方块上绘制的神秘花式
Description[zh_TW]=在矩形區塊上方一些謎樣的樣式
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=pattern.layout
