[KMahjonggLayout]
Name=Pattern
Name[ar]=النمط
Name[bs]=Obrazac
Name[ca]=Patró
Name[ca@valencia]=Patró
Name[cs]=Vzorek
Name[da]=Mønster
Name[de]=Muster
Name[el]=Μοτίβο
Name[en_GB]=Pattern
Name[eo]=Ŝablono
Name[es]=Diseño
Name[et]=Muster
Name[eu]=Eredua
Name[fi]=Kuvio
Name[fr]=Motif
Name[ga]=Patrún
Name[gl]=Padrón
Name[he]=תבנית
Name[hr]=Pattern
Name[hu]=Minta
Name[ia]=Patrono
Name[id]=Pola
Name[it]=Motivo
Name[ka]=ნიმუში
Name[kk]=Өрнек
Name[km]=លំនាំ​
Name[lv]=Shēma
Name[mai]=प्रारूप
Name[mr]=नमूना
Name[nb]=Mønster
Name[nds]=Muster
Name[nl]=Patroon
Name[nn]=Mønster
Name[pa]=ਪੈਟਰਨ
Name[pl]=Wzór
Name[pt]=Padrão
Name[pt_BR]=Padrão
Name[ru]=Орнамент
Name[sa]=प्रतिमानम्‌
Name[sk]=Vzorka
Name[sl]=Vzorec
Name[sq]=Modeli
Name[sr]=Образац
Name[sr@ijekavian]=Образац
Name[sr@ijekavianlatin]=Obrazac
Name[sr@latin]=Obrazac
Name[sv]=Mönster
Name[tr]=Desen
Name[ug]=ئەندىزە
Name[uk]=Візерунок
Name[wa]=Patron
Name[zh_CN]=花式
Name[zh_TW]=樣式
Description=A mysterious pattern atop rectangular blocks
Description[ar]=نمط غامض فوق الكتل المستطيلة
Description[bs]=Tajanstveni obrazac na vrhu pravougaonih blokova
Description[ca]=Un misteriós patró fet de blocs rectangulars
Description[ca@valencia]=Un misteriós patró fet de blocs rectangulars
Description[cs]=Tajemný vzor na obdélníkových blocích
Description[da]=Et mystisk mønster ovenpå rektangulære blokke
Description[de]=Ein geheimnisvolles Muster auf Rechtecken.
Description[el]=Ένα μυστηριώδες μοτίβο πάνω σε ορθογώνια κομμάτια
Description[en_GB]=A mysterious pattern atop rectangular blocks
Description[eo]=Mistera ŝablono sur rektangulaj blokoj
Description[es]=Un diseño misterioso sobre bloques rectangulares
Description[et]=Müstiline muster nelinurksetel plokkidel
Description[eu]=Eredu misterioso bat bloke laukizuzenekin gainean
Description[fi]=Salaperäinen kuvio nelikulmaisten lohkojen yllä
Description[fr]=Un motif mystérieux avec des blocs rectangulaires aux extrémités
Description[gl]=Un misterioso padrón sobre bloques rectangulares
Description[he]=תבנית מסתורית על גבי לבנים מרובעות
Description[hu]=Titokzatos minta téglaszerű blokkokon
Description[id]=Sebuah pola yang misterius di atas blok empat persegi panjang
Description[it]=Un motivo misterioso su dei blocchi rettangolari
Description[ka]=გამოუცნობი ნიმუში ოთხკუთხედი ბლოკების თავზე
Description[kk]=Тікбұрыштар үстіндегі жұмбақты өрнек
Description[km]=លំនាំ​អាថ៌កំបាំង​នៅ​ពី​លើ​ប្លុក​​រាង​ចតុ​កោណ
Description[lv]=Noslēpumaina shēma virs taisnstūra blokiem
Description[nb]=Et mystisk mønster oppå rektangulære blokker
Description[nds]=En snaaksch Muster op rechteckig Blöck
Description[nl]=Een mysterieus patroon op rechthoekige blokken
Description[nn]=Eit mystisk mønster oppå rektangulære blokker.
Description[pl]=Tajemniczy kwadratowy wzór
Description[pt]=Um padrão misterioso sobre blocos rectangulares
Description[pt_BR]=Um padrão misterioso sobre blocos retangulares
Description[ru]=Таинственны орнамент из прямоугольных блоков
Description[sa]=आयताकारखण्डानां उपरि एकः रहस्यमयः प्रतिरूपः
Description[sk]=Tajomný vzor na vrchole pravouhlých blokov
Description[sl]=Skrivnosten vzorec na pravokotnih blokih
Description[sq]=Një model misterioz mbi blloqe katrore
Description[sr]=Тајанствени образац над правоугаоним блоковима
Description[sr@ijekavian]=Тајанствени образац над правоугаоним блоковима
Description[sr@ijekavianlatin]=Tajanstveni obrazac nad pravougaonim blokovima
Description[sr@latin]=Tajanstveni obrazac nad pravougaonim blokovima
Description[sv]=Ett mystiskt mönster ovanpå rektangulära block
Description[tr]=Dikdörtgen blokların üzerinde gizemli bir desen
Description[uk]=Таємничий візерунок над прямокутними блоками
Description[zh_CN]=在方块上绘制的神秘花式
Description[zh_TW]=在矩形區塊上方一些謎樣的樣式
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=pattern.layout
