[KMahjonggLayout]
Name=Penta
Name[bs]=Penta
Name[ca]=Penta
Name[ca@valencia]=Penta
Name[cs]=Penta
Name[da]=Penta
Name[de]=Penta
Name[el]=Πέντε
Name[en_GB]=Penta
Name[eo]=Penta
Name[es]=Penta
Name[et]=Penta
Name[eu]=Penta
Name[fi]=Penta
Name[fr]=Pentagone
Name[ga]=Peintea
Name[gl]=Penta
Name[hr]=Penta
Name[hu]=Ötágú
Name[id]=Panca
Name[it]=Pentagono
Name[kk]=Пента
Name[km]=បញ្ច
Name[lv]=Penta
Name[nb]=Penta
Name[nds]=Fief
Name[nl]=Penta
Name[nn]=Penta
Name[pl]=Piątka
Name[pt]=Penta
Name[pt_BR]=Penta
Name[ru]=Пента
Name[sk]=Penta
Name[sl]=Penta
Name[sq]=Penta
Name[sr]=Пента
Name[sr@ijekavian]=Пента
Name[sr@ijekavianlatin]=Penta
Name[sr@latin]=Penta
Name[sv]=Penta
Name[tr]=Beş
Name[uk]=Пента
Name[wa]=Pinta
Name[x-test]=xxPentaxx
Name[zh_CN]=五尊塔
Name[zh_TW]=五座塔
Description=A fortress with five towers
Description[bs]=Tvrđava sa pet tornjeva
Description[ca]=Una fortalesa amb cinc torres
Description[ca@valencia]=Una fortalesa amb cinc torres
Description[cs]=Pevnost s pěti věžemi
Description[da]=Et fæstningsværk med fem tårne
Description[de]=Eine Festung mit fünf Türmen.
Description[el]=Ένα οχυρό με πέντε πύργους
Description[en_GB]=A fortress with five towers
Description[es]=Una fortaleza con cinco torres
Description[et]=Viie torniga linnus
Description[eu]=Bost dorreko gotorlekua
Description[fi]=Viisitorninen linnoitus
Description[fr]=Une forteresse à cinq tours
Description[ga]=Dún le cúig thúr
Description[gl]=Unha fortaleza con cinco torres
Description[hu]=Erőd öt toronnyal
Description[id]=Sebuah benteng dengan lima menara
Description[it]=Una fortezza con cinque torri
Description[kk]=Бес мұнарлы қорған
Description[km]=បន្ទាយ​ដែល​មាន​កំពូល​ប្រាំ
Description[lv]=Cietoksnis ar pieciem torņiem
Description[nb]=Et fort med fire tårn
Description[nds]=En Borg mit fief Toorns
Description[nl]=Een fort met vijf torens
Description[nn]=Ein fort med fire tårn.
Description[pl]=Forteca z pięcioma wieżami
Description[pt]=Uma fortaleza com cinco torres
Description[pt_BR]=Uma fortaleza com cinco torres
Description[ru]=Крепость с пятью башнями
Description[sk]=Pevnosť s piatimi vežami
Description[sl]=Utrdba s petimi stolpi
Description[sq]=Një fortesë me pesë kulla
Description[sr]=Тврђава са пет кула
Description[sr@ijekavian]=Тврђава са пет кула
Description[sr@ijekavianlatin]=Tvrđava sa pet kula
Description[sr@latin]=Tvrđava sa pet kula
Description[sv]=En fästning med fem torn
Description[tr]=5 kulesi olan bir kale
Description[uk]=Фортеця з п’ятьма баштами
Description[x-test]=xxA fortress with five towersxx
Description[zh_CN]=森林中的五尊塔
Description[zh_TW]=森林中的五座塔
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=penta.layout
