[KMahjonggLayout]
Name=Penta
Description=A fortress with five towers
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=penta.layout
