[KMahjonggLayout]
Name=Pillars
Name[ca]=Pilars
Name[da]=Piller
Name[de]=Säulen
Name[el]=Κολώνες
Name[es]=Pilares
Name[et]=Tugipostid
Name[eu]=Zutabeak
Name[ga]=Piléir
Name[it]=Pilastri
Name[nds]=Sülen
Name[nn]=Støtter
Name[pt]=Pilares
Name[pt_BR]=Pilares
Name[ru]=Столбы
Name[sl]=Podporniki
Name[sr]=Потпорњи
Name[sr@latin]=Potpornji
Name[sv]=Pelare
Name[tr]=Sütunlar
Name[uk]=Колони
Name[x-test]=xxPillarsxx
Name[zh_CN]=台柱
Name[zh_TW]=柱子
Description=A couple of vertical pillars supporting a flat surface
Description[ca]=Un grup de pilars verticals que suporten una superfície plana
Description[da]=Et par lodrette piller der understøtter en flad overflade
Description[de]=Zwei vertikale Säulen als Stütze einer ebenen Fläche.
Description[el]=Ένα ζεύγος κατακόρυφες κολώνες που υποστηρίζουν μια επίπεδη επιφάνεια
Description[es]=Un conjunto de pilares verticales que sostienen una superficie plana
Description[et]=Paar tugiposti, mis toetavad siledat tasapinda
Description[eu]=Bi zutabe bertikal gainazal lau bat eusten
Description[it]=Una coppia di pilastri verticali che sorreggono un ripiano
Description[nds]=En Reeg vun pielrecht Sülen, de en Flaag stütten doot
Description[nn]=Nokre loddrette støtter for ei flat overflate.
Description[pt]=Um conjunto de pilares verticais que suportam uma superfície plana
Description[pt_BR]=Um conjunto de pilares verticais que suportam uma superfície plana
Description[ru]=Пара вертикальных столбов, поддерживающих плоскую поверхность
Description[sl]=Dvoje navpičnih podpornikov ki podpirata ravno površino
Description[sr]=Пар усправних стубова што подржава равну површ
Description[sr@latin]=Par uspravnih stubova što podržava ravnu površ
Description[sv]=Ett antal vertikala pelare som stöder en plan yta
Description[uk]=Пара вертикальних колон, які підтримують плоску поверхню
Description[x-test]=xxA couple of vertical pillars supporting a flat surfacexx
Description[zh_CN]=支撑着一块平地的垂直台柱
Description[zh_TW]=一些垂直柱狀，支撐著一塊平面
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=pillars.layout
