[KMahjonggLayout]
Name=Pillars
Description=A couple of vertical pillars supporting a flat surface
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=pillars.layout
