[KMahjonggLayout]
Name=Pillars
Name[bs]=Stubovi
Name[ca]=Pilars
Name[ca@valencia]=Pilars
Name[cs]=Pilíře
Name[da]=Piller
Name[de]=Säulen
Name[el]=Κολώνες
Name[en_GB]=Pillars
Name[es]=Pilares
Name[et]=Tugipostid
Name[eu]=Zutabeak
Name[fi]=Pilarit
Name[fr]=Piliers
Name[ga]=Piléir
Name[gl]=Piares
Name[hr]=Pillars
Name[hu]=Oszlopok
Name[id]=Pilar
Name[it]=Pilastri
Name[kk]=Ұстындар
Name[km]=បង្គោល
Name[lv]=Pīlāri
Name[nb]=Støtter
Name[nds]=Sülen
Name[nl]=Pilaren
Name[nn]=Støtter
Name[pl]=Słupy
Name[pt]=Pilares
Name[pt_BR]=Pilares
Name[ru]=Столбы
Name[sk]=Pylóny
Name[sl]=Podporniki
Name[sq]=Mbështetëse
Name[sr]=Потпорњи
Name[sr@ijekavian]=Потпорњи
Name[sr@ijekavianlatin]=Potpornji
Name[sr@latin]=Potpornji
Name[sv]=Pelare
Name[tr]=Sütunlar
Name[ug]=تۈۋرۈكلەر
Name[uk]=Колони
Name[x-test]=xxPillarsxx
Name[zh_CN]=台柱
Name[zh_TW]=柱子
Description=A couple of vertical pillars supporting a flat surface
Description[bs]=Par okomitih stubova podupire ravnu površinu
Description[ca]=Un grup de pilars verticals que suporten una superfície plana
Description[ca@valencia]=Un grup de pilars verticals que suporten una superfície plana
Description[cs]=Pár svislých sloupů podpírajících plošinu
Description[da]=Et par lodrette piller der understøtter en flad overflade
Description[de]=Zwei vertikale Säulen als Stütze einer ebenen Fläche.
Description[el]=Ένα ζεύγος κατακόρυφες κολώνες που υποστηρίζουν μια επίπεδη επιφάνεια
Description[en_GB]=A couple of vertical pillars supporting a flat surface
Description[es]=Un conjunto de pilares verticales que sostienen una superficie plana
Description[et]=Paar tugiposti, mis toetavad siledat tasapinda
Description[eu]=Bi zutabe bertikal gainazal lau bat eusten
Description[fi]=Pystypilarien pari, joka tukee tasaista pintaa
Description[fr]=Un couple de piliers verticaux soutenant une surface plane
Description[gl]=Un par de piares verticais sostendo a superficie dun piso
Description[hu]=Oszlopokon nyugvó sima felület
Description[id]=Beberapa pilar menegak lurus menyangga permukaan datar
Description[it]=Una coppia di pilastri verticali che sorreggono un ripiano
Description[kk]=Жалпақ бетті тіреген тік ұстындар
Description[km]=បង្គោល​​បញ្ឈរ​​មួយ​គូ​ដែល​ទ្រ​ផ្ទៃ​រាប​ស្មើ
Description[lv]=Pāris vertikālu pīlāru, kas atbalsta plakanu virsmu
Description[nb]=Noen loddrette søyler støtter en flate
Description[nds]=En Reeg vun pielrecht Sülen, de en Flaag stütten doot
Description[nl]=Een stel verticale pilaren die een vlak oppervlak ondersteunen
Description[nn]=Nokre loddrette støtter for ei flat overflate.
Description[pl]=Kilka pionowych słupów podpierających płaską powierzchnię
Description[pt]=Um conjunto de pilares verticais que suportam uma superfície plana
Description[pt_BR]=Um conjunto de pilares verticais que suportam uma superfície plana
Description[ru]=Пара вертикальных столбов, поддерживающих плоскую поверхность
Description[sk]=Niekoľko zvislých pilierov podporujúcich rovný povrch
Description[sl]=Dvoje navpičnih podpornikov, ki podpirata ravno površino
Description[sq]=Një grup mbështetësesh vertikale që mbajnë një sipërfaqe të sheshtë
Description[sr]=Пар усправних стубова који подржавају равну површ
Description[sr@ijekavian]=Пар усправних стубова који подржавају равну површ
Description[sr@ijekavianlatin]=Par uspravnih stubova koji podržavaju ravnu površ
Description[sr@latin]=Par uspravnih stubova koji podržavaju ravnu površ
Description[sv]=Ett antal vertikala pelare som stöder en plan yta
Description[tr]=Düz zemini destekleyen bir kaç dik sütun
Description[uk]=Пара вертикальних колон, які підтримують плоску поверхню
Description[x-test]=xxA couple of vertical pillars supporting a flat surfacexx
Description[zh_CN]=支撑着一块平地的垂直台柱
Description[zh_TW]=一些垂直柱狀，支撐著一塊平面
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=pillars.layout
