[KMahjonggLayout]
Name=Pirates
Description=A sailing boat under the sun
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=pirates.layout
