[KMahjonggLayout]
Name=Pyramid
Name[be]=Піраміда
Name[ca]=Piràmide
Name[cs]=Pyramida
Name[da]=Pyramide
Name[de]=Pyramide
Name[el]=Πυραμίδα
Name[eo]=Piramido
Name[es]=Pirámide
Name[et]=Püramiid
Name[fa]=هرم
Name[fi]=Pyramidi
Name[fr]=Pyramide
Name[ga]=Pirimid
Name[gl]=Pirámide
Name[hu]=Piramis
Name[it]=Piramidale
Name[ja]=ピラミッド
Name[km]=ពីរ៉ាមីត
Name[ko]=피라미드
Name[lv]=Piramīda
Name[nds]=Pyramied
Name[nl]=Piramide
Name[nn]=Pyramide
Name[oc]=Piramida
Name[pl]=Piramida
Name[pt]=Pirâmide
Name[pt_BR]=Pirâmide
Name[ru]=Пирамида
Name[sl]=Piramida
Name[uk]=Піраміда
Name[wa]=Piramide
Name[x-test]=xxPyramidxx
Name[zh_CN]=金字塔
Name[zh_TW]=金字塔
Description=Can you tear the pyramid apart?
Description[ca]=Podeu partir la piràmide?
Description[cs]=Dokážete roztrhnout pyramidu?
Description[da]=Kan du skille pyramiden ad?
Description[de]=Können Sie die Pyramide zerstören?
Description[el]=Μπορείτε να διαλύσετε την πυραμίδα;
Description[eo]=Ĉu vi kapablas diskomponi la piramidon?
Description[es]=¿Quiere llorar apartado en la pirámide?
Description[et]=Kas suudad lammutada püramiidi?
Description[fa]=آیا می‌توانید هرم‌را تکه‌تکه کنید؟
Description[fi]=Onnistutko purkamaan pyramidin?
Description[fr]=Viendrez-vous à bout de la pyramide ?
Description[ga]=An bhfuil tú in ann an phirimid a sracadh as a chéile?
Description[gl]=Pode desfacer a pirámide?
Description[hu]=Szét kell szedni egy piramist
Description[it]=Riuscirai a demolire la piramide?
Description[ja]=ピラミッドを崩せますか？
Description[km]=តើ​អ្នក​អាច​ហែក​ពីរ៉ាមីត​ជា​ផ្នែកៗ​បានទេ ?
Description[ko]=피라미드를 떼낼 수 있습니까?
Description[lv]=Vai spēsi nojaukt piramīdu?
Description[nds]=Kannst Du de Pyramied tobreken?
Description[nl]=Kunt u de piramide ontleden?
Description[nn]=Kan du ta pyramiden frå kvarandre?
Description[pl]=Czy umiesz rozłożyć piramidę?
Description[pt]=Consegue separar a pirâmide?
Description[pt_BR]=Você consegue desmontar a pirâmide?
Description[ru]=Вы сможете разобрать пирамиду на части?
Description[sl]=Lahko razdrete piramido?
Description[sv]=Kan du riva sönder pyramiden?
Description[uk]=Можете розібрати піраміду?
Description[x-test]=xxCan you tear the pyramid apart?xx
Description[zh_CN]=你能拆掉这金字塔吗？
Description[zh_TW]=您可以拆掉這個金字塔嗎？
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=pyramid.layout
