[KMahjonggLayout]
Name=Rocket
Name[ga]=Roicéad
Name[nds]=Rakeet
Name[pt]=Foguete
Name[pt_BR]=Foguete
Name[sv]=Raket
Name[uk]=Ракета
Name[x-test]=xxRocketxx
Name[zh_TW]=火箭
Description=A rocket for you to launch off the board
Description[nds]=En Rakeet, mit de Du vun't Brett afflegen kannst
Description[pt]=Um foguete para você lançar para fora do tabuleiro
Description[pt_BR]=Um foguete para você lançar para fora do tabuleiro
Description[sv]=En raket att skjuta upp från brädet
Description[uk]=Ракета для вас, щоб стартувати з дошки
Description[x-test]=xxA rocket for you to launch off the boardxx
Description[zh_TW]=等著您啟動升空的火箭
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=rocket.layout
