[KMahjonggLayout]
Name=Rocket
Name[ca]=Coet
Name[da]=Raket
Name[de]=Rakete
Name[el]=Πύραυλος
Name[es]=Cohete
Name[et]=Rakett
Name[eu]=Suziria
Name[ga]=Roicéad
Name[it]=Razzo
Name[lv]=Raķete
Name[nds]=Rakeet
Name[nl]=Raket
Name[nn]=Rakett
Name[pt]=Foguete
Name[pt_BR]=Foguete
Name[ru]=Ракета
Name[sr]=Ракета
Name[sr@latin]=Raketa
Name[sv]=Raket
Name[uk]=Ракета
Name[x-test]=xxRocketxx
Name[zh_CN]=火箭
Name[zh_TW]=火箭
Description=A rocket for you to launch off the board
Description[ca]=Un coet per llançar-te fora del tauler
Description[da]=En raket til at du kan sætte af fra brættet
Description[de]=Eine Rakete, die das Spielfeld verlassen möchte.
Description[el]=Ένας πύραυλος προς εκτόξευση εκτός του πίνακα
Description[es]=Un cohete para lanzar por la borda
Description[et]=Rakett, millega võid mängulaualt välja lennata
Description[eu]=Zuretzako suziri bat mahaigainetik abiarazteko
Description[it]=Un razzo per lanciarti dove vuoi
Description[lv]=Raķete, ko palaist no laukuma
Description[nds]=En Rakeet, mit de Du vun't Brett afflegen kannst
Description[nl]=Een raket om door u vanaf het bord te lanceren
Description[nn]=Ein rakett klar til utskyting.
Description[pt]=Um foguete para você lançar para fora do tabuleiro
Description[pt_BR]=Um foguete para você lançar para fora do tabuleiro
Description[sr]=Ракета да се лансирате са палубе
Description[sr@latin]=Raketa da se lansirate sa palube
Description[sv]=En raket att skjuta upp från brädet
Description[uk]=Ракета для вас, щоб стартувати з дошки
Description[x-test]=xxA rocket for you to launch off the boardxx
Description[zh_CN]=等候您点火发射的火箭
Description[zh_TW]=等著您啟動升空的火箭
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=rocket.layout
