[KMahjonggLayout]
Name=Shield
Name[ca]=Escut
Name[da]=Skjold
Name[de]=Kampfausstattung
Name[el]=Ασπίδα
Name[et]=Kilp
Name[ga]=Sciath
Name[nds]=Schild
Name[pt]=Escudo
Name[pt_BR]=Escudo
Name[sr]=Штит
Name[sr@latin]=Štit
Name[sv]=Sköld
Name[uk]=Щит
Name[x-test]=xxShieldxx
Name[zh_CN]=剑与盾
Name[zh_TW]=盾牌
Description=A shield and a sword made up of Mahjongg tiles
Description[ca]=Fitxes del Mahjongg fetes d'escuts i espases
Description[da]=Et skjold og sværd lavet af Mahjongg-fliser
Description[de]=Ein Schild und Schwert aus Mahjongg-Spielsteinen.
Description[el]=Μια ασπίδα και ένα σπαθί από κομμάτια Mahjongg
Description[et]=Kilp ja mõõk Mahjonggi klotsidest
Description[nds]=En Schild un en Sweert ut Mahjongg-Steen
Description[pt]=Um escudo e uma espada feitos com peças do Mahjongg
Description[pt_BR]=Um escudo e uma espada feitos com peças do Mahjongg
Description[sr]=Штит и мач начињени од махђонг плочица
Description[sr@latin]=Štit i mač načinjeni od mahđong pločica
Description[sv]=En sköld och ett svärd skapade av Mahjongg-brickor
Description[uk]=Щит і меч, викладені з плиток Маджонг
Description[x-test]=xxA shield and a sword made up of Mahjongg tilesxx
Description[zh_CN]=绘有一柄剑和一块盾的麻将牌
Description[zh_TW]=一把劍與一個盾
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=shield.layout
