[KMahjonggLayout]
Name=Shield
Name[bs]=Štit
Name[ca]=Escut
Name[ca@valencia]=Escut
Name[cs]=Štít
Name[da]=Skjold
Name[de]=Kampfausstattung
Name[el]=Ασπίδα
Name[en_GB]=Shield
Name[es]=Escudo
Name[et]=Kilp
Name[eu]=Ezkutua
Name[fi]=Kilpi
Name[fr]=Bouclier
Name[ga]=Sciath
Name[gl]=Escudo
Name[hr]=Shield
Name[hu]=Pajzs
Name[id]=Perisai
Name[it]=Scudo
Name[kk]=Қалқан
Name[km]=ខែល​
Name[lt]=Skydas
Name[lv]=Vairogs
Name[nb]=Skjold
Name[nds]=Schild
Name[nl]=Schild
Name[nn]=Skjold
Name[pl]=Tarcza
Name[pt]=Escudo
Name[pt_BR]=Escudo
Name[ru]=Щит
Name[sk]=Štít
Name[sl]=Ščit
Name[sq]=Mburojë
Name[sr]=Штит
Name[sr@ijekavian]=Штит
Name[sr@ijekavianlatin]=Štit
Name[sr@latin]=Štit
Name[sv]=Sköld
Name[tr]=Kalkan
Name[uk]=Щит
Name[x-test]=xxShieldxx
Name[zh_CN]=剑与盾
Name[zh_TW]=盾牌
Description=A shield and a sword made up of Mahjongg tiles
Description[bs]=Štit i mač napravljeni od Mahjongg pločica
Description[ca]=Fitxes del Mahjongg fetes d'escuts i espases
Description[ca@valencia]=Fitxes del Mahjongg fetes d'escuts i espases
Description[cs]=Štít a meč složený z kamenů Mahjonggu
Description[da]=Et skjold og sværd lavet af Mahjongg-fliser
Description[de]=Ein Schild und Schwert aus Mahjongg-Spielsteinen.
Description[el]=Μια ασπίδα και ένα σπαθί από κομμάτια Mahjongg
Description[en_GB]=A shield and a sword made up of Mahjongg tiles
Description[es]=Un escudo y una espada hechos de fichas de Mahjongg
Description[et]=Kilp ja mõõk Mahjonggi klotsidest
Description[eu]=Mahjongg lauzakin sortutako ezkutua eta ezpata
Description[fi]=Mahjongg-tiilistä rakennettu kilpi ja miekka
Description[fr]=Un bouclier et une épée réalisés en tuiles de Mahjongg
Description[gl]=Un escudo e unha espada en pezas do Mahjongg
Description[hu]=Pajzs és kard Mahjongg-elemekből
Description[id]=Sebuah perisai dan pedang terdiri dari tile Mahjongg
Description[it]=Uno scudo e una spada fatti con le tessere del Mahjongg
Description[kk]=Маджонг тастарынан салынған қалқан мен қылыш
Description[km]=ខែល​ និង​ដាវ​កើត​ឡើង​ពី​ក្រឡា​ក្បឿង​ Mahjongg 
Description[lv]=Vairogs un zobens, kas salikts no Mahjongg kauliņiem
Description[nb]=Sverd og skjold laget av Mahjongg-brikker
Description[nds]=En Schild un en Sweert ut Mahjongg-Steen
Description[nl]=Een schild en zwaard uit Mahjongg-stenen
Description[nn]=Sverd og skjold laga av Mahjongg-brikker.
Description[pl]=Tarcza i miecz wykonane z kafelków Mahjongga
Description[pt]=Um escudo e uma espada feitos com peças do Mahjongg
Description[pt_BR]=Um escudo e uma espada feitos com peças do Mahjongg
Description[ru]=Щит и меч из плиток для маджонга
Description[sk]= Štít a meč z hracích kameňov Mahjongg
Description[sl]=Ščit in meč iz ploščic za Mahjongg
Description[sq]=Një mburojë dhe një shpatë të krijuara me tulla Mahjongg
Description[sr]=Штит и мач начињени од маџонг плочица
Description[sr@ijekavian]=Штит и мач начињени од маџонг плочица
Description[sr@ijekavianlatin]=Štit i mač načinjeni od madžong pločica
Description[sr@latin]=Štit i mač načinjeni od madžong pločica
Description[sv]=En sköld och ett svärd skapade av Mahjongg-brickor
Description[tr]=Mahjongg döşemelerinden yapılmış bir kalkan ve bir kılıç
Description[uk]=Щит і меч, викладені з плиток Маджонґ
Description[x-test]=xxA shield and a sword made up of Mahjongg tilesxx
Description[zh_CN]=绘有一柄剑和一块盾的麻将牌
Description[zh_TW]=一把劍與一個盾
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=shield.layout
