[KMahjonggLayout]
Name=Spider
Name[ca]=Aranya
Name[cs]=Pavouk
Name[da]=Edderkop
Name[de]=Spinne
Name[el]=Αράχνη
Name[en_GB]=Spider
Name[es]=Araña
Name[et]=Ämblik
Name[eu]=Armiarma
Name[fr]=Araignée
Name[ga]=Damhán Alla
Name[hu]=Pók
Name[it]=Ragno
Name[lv]=Zirneklis
Name[mai]=मकड़ी
Name[nds]=Spinn
Name[nl]=Spin
Name[nn]=Edderkopp
Name[pa]=ਮੱਕੜੀ
Name[pt]=Aranha
Name[pt_BR]=Aranha
Name[ru]=Паук
Name[sl]=Pajek
Name[sr]=Паук
Name[sr@latin]=Pauk
Name[sv]=Spindel
Name[tr]=Örümcek
Name[uk]=Павук
Name[x-test]=xxSpiderxx
Name[zh_CN]=蜘蛛
Name[zh_TW]=蜘蛛
Description=Vista-styled spider layout
Description[ca]=Disposició amb la forma d'una aranya
Description[da]=Eddderkoppelayout i Vista-stil
Description[de]=Eine Spinne im Vista-Stil.
Description[el]=Διάταξη αράχνης Vista
Description[en_GB]=Vista-styled spider layout
Description[es]=Un diseño en forma de araña
Description[et]=Vista stiilis ämbliku paigutus
Description[eu]=VIsta itxurako armiarmaren diseinua
Description[fr]=Forme d'une araignée dans le style Vista
Description[hu]=Vista-stílusú pókszerű elrendezés
Description[it]=Una disposizione a forma di ragno in stile Vista
Description[lv]=Perspektīvas stila zirnekļa izvietojums
Description[nds]=En Spinn in Vista-Stil
Description[nl]=Indeling volgens een spin in vista-stijl 
Description[nn]=Ein edderkopp i Vista-stil
Description[pt]=Um formato que lembra uma aranha
Description[pt_BR]=Um formato que lembra uma aranha
Description[sl]=Postavitev pajka, podobna kot v Visti
Description[sr]=Распоред паука у стилу Висте
Description[sr@latin]=Raspored pauka u stilu Viste
Description[sv]=Spindelutlägg med Vista-stil
Description[uk]=Розкладка павука у стилі Vista
Description[x-test]=xxVista-styled spider layoutxx
Description[zh_CN]=蜘蛛形布局
Description[zh_TW]=蜘蛛形佈局
VersionFormat=1
Author=alchark
AuthorEmail=alchark@gmail.com
FileName=spider.layout
