[KMahjonggLayout]
Name=Spider
Description=Vista-styled spider layout
VersionFormat=1
Author=alchark
AuthorEmail=alchark@gmail.com
FileName=spider.layout
