[KMahjonggLayout]
Name=Squares
Name[ca]=Quadrats
Name[cs]=Čtverce
Name[da]=Felter
Name[de]=Quadrate
Name[el]=Τετράγωνα
Name[en_GB]=Squares
Name[es]=Cuadrados
Name[et]=Ruudud
Name[eu]=Karratuak
Name[fr]=Carrés
Name[ga]=Cearnóga
Name[gl]=Cadrados
Name[it]=Quadri
Name[nds]=Quadraten
Name[nl]=Vierkanten
Name[nn]=Kvadrat
Name[pt]=Quadrados
Name[pt_BR]=Quadrados
Name[ru]=Квадраты
Name[sl]=Kvadrati
Name[sr]=Квадрати
Name[sr@latin]=Kvadrati
Name[sv]=Fyrkanter
Name[tr]=Kareler
Name[uk]=Квадрати
Name[wa]=Cwårés
Name[x-test]=xxSquaresxx
Name[zh_CN]=方块
Name[zh_TW]=方塊
Description=Concentric squares of alterating height
Description[ca]=Quadrats concèntrics d'alçada alterada
Description[da]=Koncentriske felter af varierende højde
Description[de]=Konzentrische Quadrate mit verschiedenen Höhen.
Description[el]=Ομόκεντρα τετράγωνα με μεταβαλλόμενο ύψος
Description[en_GB]=Concentric squares of alterating height
Description[es]=Cuadrados concéntricos de altura alterna
Description[et]=Erineva kõrgusega kontsentrilised ruudud
Description[eu]=Altura desberdineko karratu konzentrikoak
Description[fr]=Des carrés concentriques d'une hauteur différente
Description[gl]=Cadrados concéntricos de distinta altura
Description[it]=Quadri concentrici di vario spessore
Description[nds]=Konzentersch Rechtecken vun verscheden Hööchde
Description[nl]=Concentrische vierkanten met afwisselende hoogten
Description[nn]=Konsentriske kvadrat av varierande høgd.
Description[pt]=Quadrados concêntricos de alturas variadas
Description[pt_BR]=Quadrados concêntricos de alturas variadas
Description[sl]=Koncentrični kvadrati različnih višin
Description[sr]=Концентрични квадрати разнолике висине
Description[sr@latin]=Koncentrični kvadrati raznolike visine
Description[sv]=Koncentriska fyrkanter av varierande höjd
Description[uk]=Концентричні квадрати різної висоти
Description[x-test]=xxConcentric squares of alterating heightxx
Description[zh_CN]=高度参差不齐的同心方块
Description[zh_TW]=不同高度的同心方塊
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=squares.layout
