[KMahjonggLayout]
Name=Squaring
Name[bs]=Kvadriranje
Name[ca]=Quadratura
Name[ca@valencia]=Quadratura
Name[cs]=Čtverce
Name[da]=Fire kanter
Name[de]=Quadratur
Name[el]=Τετραγωνισμός
Name[en_GB]=Squaring
Name[es]=Cuadrando
Name[et]=Ruutuvõtmine
Name[eu]=Karratua
Name[fi]=Neliöiminen
Name[fr]=Quadrature
Name[ga]=Cearnú
Name[gl]=Cuadratura
Name[hr]=Squaring
Name[hu]=Négyzetes 2
Name[id]=Kotak Persegi
Name[it]=Quadrati
Name[kk]=Шаршыландыру
Name[km]=ធ្វើ​ឲ្យ​ទៅ​ជា​ការ៉េ
Name[lv]=Kvadrātošana
Name[nb]=Kvadrering
Name[nds]=Wörpelee
Name[nl]=Vierkanten
Name[nn]=Kvadrering
Name[pl]=Kwadratowo
Name[pt]=Quadrados
Name[pt_BR]=Quadrados
Name[ru]=Квадрат в квадрате
Name[sk]=Kvadratúra
Name[sl]=Kvadratenje
Name[sq]=Katrorizim
Name[sr]=Квадратуре
Name[sr@ijekavian]=Квадратуре
Name[sr@ijekavianlatin]=Kvadrature
Name[sr@latin]=Kvadrature
Name[sv]=Fyrkantsskapande
Name[tr]=Kareleme
Name[uk]=Квадратура
Name[wa]=Fijhadje di cwårés
Name[x-test]=xxSquaringxx
Name[zh_CN]=方形
Name[zh_TW]=方形
Description=Who said squares are flat?
Description[bs]=Ko je rekao da su kvadrati ravni?
Description[ca]=Qui ha dit que els quadrats són plans?
Description[ca@valencia]=Qui ha dit que els quadrats són plans?
Description[cs]=Kdo říká, že čtverce jsou ploché?
Description[da]=Hvem siger at firkanter er flade?
Description[de]=Wer behauptet, dass Quadrate flach sind?
Description[el]=Ποιος είπε ότι τα τετράγωνα είναι επίπεδα;
Description[en_GB]=Who said squares are flat?
Description[es]=¿Quién dijo que los cuadrados eran planos?
Description[et]=Kes ütles, et ruudud peaksid lamedad olema?
Description[eu]=Nork dio karratuak lauak direnik?
Description[fi]=Kuka väitti neliöiden olevan tasaisia?
Description[fr]=Qui a dit que les carrés sont plats ?
Description[gl]=Quen dixo que os cadrados eran lisos?
Description[hu]=Nem minden négyzet lapos...
Description[id]=Siapa bilang persegi yang datar?
Description[it]=Chi ha detto che i quadrati sono piatti?
Description[kk]=Шаршылар жалпақ дейді мә?
Description[km]=អ្នក​ណា​និយាយ​ថា​ការ៉េ​មាន​រាង​ស្មើ​ ?
Description[lt]=Kas pasakė, kad kvadratai plokšti?
Description[lv]=Kurš teica, ka kvadrāti ir plakani?
Description[nb]=Kvadrater trenger ikke være flate!
Description[nds]=Rechtecken sünd jümmers even?
Description[nl]=Wie zegt dan vierkanten vlak zijn?
Description[nn]=Kvadrat treng ikkje vera flate!
Description[pl]=Kto powiedział, że kwadraty są płaskie?
Description[pt]=Quem disse que os quadrados são planos?
Description[pt_BR]=Quem disse que os quadrados são planos?
Description[ru]=Кто сказал, что квадраты плоские?
Description[sk]=Kto povedal, že štvorce sú ploché?
Description[sl]=Kdo je rekel, da so kvadrati ploski?
Description[sq]=Kush tha që katrorët janë të sheshtë?
Description[sr]=Ко каже да су квадрати пљоснати?
Description[sr@ijekavian]=Ко каже да су квадрати пљоснати?
Description[sr@ijekavianlatin]=Ko kaže da su kvadrati pljosnati?
Description[sr@latin]=Ko kaže da su kvadrati pljosnati?
Description[sv]=Vem sa att fyrkanter är plana?
Description[tr]=Kim karelerin düz olduğunu iddia etti ki?
Description[uk]=Хто сказав, що квадрати мають бути плоскими?
Description[x-test]=xxWho said squares are flat?xx
Description[zh_CN]=谁说方形一定是平面的？
Description[zh_TW]=誰說方形永遠是平面的？
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=squaring.layout
