[KMahjonggLayout]
Name=Squaring
Name[ca]=Quadratura
Name[da]=Fire kanter
Name[de]=Quadratur
Name[el]=Τετραγωνισμός
Name[en_GB]=Squaring
Name[es]=Cuadrando
Name[et]=Ruutuvõtmine
Name[eu]=Karratua
Name[ga]=Cearnú
Name[gl]=Cuadratura
Name[it]=Quadrati
Name[nds]=Wörpelee
Name[nl]=Vierkanten
Name[nn]=Kvadrering
Name[pt]=Quadrados
Name[pt_BR]=Quadrados
Name[sl]=Kvadratenje
Name[sr]=Квадратуре
Name[sr@latin]=Kvadrature
Name[sv]=Fyrkantsskapande
Name[uk]=Квадратура
Name[wa]=Fijhadje di cwårés
Name[x-test]=xxSquaringxx
Name[zh_CN]=方形
Name[zh_TW]=方形
Description=Who said squares are flat?
Description[ca]=Qui ha dit que els quadrats són plans?
Description[da]=Hvem siger at firkanter er flade?
Description[de]=Wer behauptet, dass Quadrate flach sind?
Description[el]=Ποιός είπε ότι τα τετράγωνα είναι επίπεδα;
Description[en_GB]=Who said squares are flat?
Description[es]=¿Quién dijo que los cuadrados eran planos?
Description[et]=Kes ütles, et ruudud peaksid lamedad olema?
Description[eu]=Nork dio karratuak lauak direnik?
Description[gl]=Quen dixo que os cadrados eran lisos?
Description[it]=Chi ha detto che i quadrati sono piatti?
Description[nds]=Rechtecken sünd jümmers even?
Description[nl]=Wie zegt dan vierkanten vlak zijn?
Description[nn]=Kvadrat treng ikkje vera flate!
Description[pt]=Quem disse que os quadrados são planos?
Description[pt_BR]=Quem disse que os quadrados são planos?
Description[sl]=Kdo je rekel, da so kvadrati ploski?
Description[sr]=Ко каже да су квадрати пљоснати?
Description[sr@latin]=Ko kaže da su kvadrati pljosnati?
Description[sv]=Vem sa att fyrkanter är plana?
Description[uk]=Хто сказав, що квадрати мають бути плоскими?
Description[x-test]=xxWho said squares are flat?xx
Description[zh_CN]=谁说方形一定是平面的？
Description[zh_TW]=誰說方形永遠是平面的？
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=squaring.layout
