[KMahjonggLayout]
Name=Stadion
Name[pt]=Estádio
Name[pt_BR]=Estádio
Name[uk]=Стадіон
Name[x-test]=xxStadionxx
Name[zh_TW]=運動場
Description=A layout representing a football field
Description[de]=Dieses Design zeigt einen Fussballplatz.
Description[ga]=Leagan amach cosúil le páirc pheile
Description[nds]=En Footballfeld
Description[pt]=Um formato que lembra um campo de futebol
Description[pt_BR]=Um formato que lembra um campo de futebol
Description[sv]=Ett utlägg som representerar en fotbollsplan
Description[uk]=Розкладка, схожа на футбольне поле
Description[x-test]=xxA layout representing a football fieldxx
Description[zh_TW]=足球場形的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=stadion.layout
