[KMahjonggLayout]
Name=Stadion
Name[ca]=Estadi
Name[el]=Στάδιο
Name[es]=Estadio
Name[et]=Staadion
Name[eu]=Futbol-zelaia
Name[it]=Stadio
Name[pt]=Estádio
Name[pt_BR]=Estádio
Name[ru]=Стадион
Name[sr]=Стадион
Name[uk]=Стадіон
Name[x-test]=xxStadionxx
Name[zh_CN]=体育场
Name[zh_TW]=運動場
Description=A layout representing a football field
Description[ca]=Una disposició que representa un petit estadi de futbol
Description[da]=Et layout der forestillerer en fodboldbane
Description[de]=Dieses Design zeigt einen Fussballplatz.
Description[el]=Μια διάταξη που μοιάζει με γήπεδο ποδοσφαίρου
Description[es]=Un diseño que representa un campo de fútbol
Description[et]=Jalgpalliväljakut meenutav paigutus
Description[eu]=Futboleko zelaia dirudien diseinua
Description[ga]=Leagan amach cosúil le páirc pheile
Description[it]=Una disposizione simile ad un campo di football
Description[nds]=En Footballfeld
Description[nn]=Tid for fotball.
Description[pt]=Um formato que lembra um campo de futebol
Description[pt_BR]=Um formato que lembra um campo de futebol
Description[sr]=Распоред налик на фудбалски терен
Description[sr@latin]=Raspored nalik na fudbalski teren
Description[sv]=Ett utlägg som representerar en fotbollsplan
Description[uk]=Розкладка, схожа на футбольне поле
Description[x-test]=xxA layout representing a football fieldxx
Description[zh_CN]=球场形的布局
Description[zh_TW]=足球場形的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=stadion.layout
