[KMahjonggLayout]
Name=Star Ship
Name[de]=Raumschiff
Name[et]=Tähelaev
Name[ga]=Réaltlong
Name[nds]=Ruumschipp
Name[pt]=Nave Espacial
Name[pt_BR]=Nave Espacial
Name[sv]=Stjärnskepp
Name[uk]=Космічний корабель
Name[x-test]=xxStar Shipxx
Name[zh_TW]=太空船
Description=A sci-fi space transport
Description[de]=Ein zukunftsmäßiger Raumtransporter.
Description[et]=Ulmeline kosmoselaev
Description[nds]=En Science-Fiction-Ruumkoor
Description[pt]=Um transporte espacial de ficção científica
Description[pt_BR]=Um transporte espacial de ficção científica
Description[sv]=En sci-fi rymdtransport
Description[uk]=Космічний корабель з наукової фантастики
Description[x-test]=xxA sci-fi space transportxx
Description[zh_TW]=太空船形
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=star_ship.layout
