[KMahjonggLayout]
Name=Star
Name[uk]=Зірка
Name[x-test]=xxStarxx
Description=An asterisk-shaped embossed layout
Description[uk]=Рельєфне компонування у формі зірки
Description[x-test]=xxAn asterisk-shaped embossed layoutxx
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=star.layout
