[KMahjonggLayout]
Name=Star
Name[bs]=Zvijezda
Name[ca]=Estrella
Name[ca@valencia]=Estrella
Name[cs]=Hvězda
Name[da]=Stjerne
Name[de]=Stern
Name[el]=Αστέρι
Name[en_GB]=Star
Name[es]=Estrella
Name[et]=Täht
Name[eu]=Izarra
Name[fi]=Tähti
Name[fr]=Étoile
Name[ga]=Réalta
Name[gl]=Estrela
Name[hr]=Star
Name[hu]=Csillag
Name[id]=Bintang
Name[it]=Stella
Name[kk]=Жұлдыз
Name[km]=ផ្កាយ​
Name[lt]=Žvaigždė
Name[lv]=Zvaigzne
Name[mai]=तारा
Name[mr]=तारा
Name[nb]=Stjerne
Name[nds]=Steern
Name[nl]=Ster
Name[nn]=Stjerne
Name[pa]=ਤਾਰਾ
Name[pl]=Gwiazda
Name[pt]=Estrela
Name[pt_BR]=Estrela
Name[ru]=Звезда
Name[sk]=Hviezda
Name[sl]=Zvezda
Name[sq]=Yll
Name[sr]=Звезда
Name[sr@ijekavian]=Звијезда
Name[sr@ijekavianlatin]=Zvijezda
Name[sr@latin]=Zvezda
Name[sv]=Stjärna
Name[tr]=Yıldız
Name[ug]=يۇلتۇز
Name[uk]=Зірка
Name[wa]=Sitoele
Name[x-test]=xxStarxx
Name[zh_CN]=群星
Name[zh_TW]=星星
Description=An asterisk-shaped embossed layout
Description[bs]=Zvjezdica-oblikovanog reljefnog izgleda
Description[ca]=Una disposició amb forma d'asterisc amb relleu
Description[ca@valencia]=Una disposició amb forma d'asterisc amb relleu
Description[cs]=Hranaté rozložení ve tvaru hvězdy
Description[da]=Et stjerneformet præget layout
Description[de]=Ein sternförmiges Design.
Description[el]=Μια διάταξη σε σχήμα αστερίσκου
Description[en_GB]=An asterisk-shaped embossed layout
Description[es]=Un diseño en forma de asterisco en relieve
Description[et]=Tärnikujuline paigutus
Description[eu]=Izartxoa formako kapsulatutako diseinu bat
Description[fi]=Tähtimäinen kohokuvioasettelu
Description[fr]=Une disposition en astérisque et en relief
Description[ga]=Leagan amach bocóideach cosúil le réiltín
Description[gl]=Un deseño visual en forma de estrela en relevo
Description[hu]=Csillag alakú domború elrendezés
Description[id]=Sebuah tata letak timbul yang berbentuk tanda bintang
Description[it]=Una disposizione a rilievo a forma di stella
Description[kk]=Бедерлі жұлдыз қалыпты салынуы
Description[km]=ប្លង់​លាន​ដែល​មាន​រាង​សញ្ញា​ផ្កាយ
Description[lv]=Zvaigznes formas gofrēts izkārtojums
Description[nb]=En stjerne i 3D
Description[nds]=En steernliek ingraven Muster
Description[nl]=Een stervormige indeling met reliëf
Description[nn]=Ei stjerne i 3D.
Description[pl]=Układ w kształcie gwiazdki
Description[pt]=Um formato com um aspecto de asterisco
Description[pt_BR]=Um formato com um aspecto de asterisco
Description[ru]=Выпуклая конструкция в виде звёздочки
Description[sk]=Hviezdicovo tvarované reliéfové rozloženie
Description[sl]=Reliefna postavitev v obliki zvezdice
Description[sr]=Рељефни распоред у облику звездице
Description[sr@ijekavian]=Рељефни распоред у облику звјездице
Description[sr@ijekavianlatin]=Reljefni raspored u obliku zvjezdice
Description[sr@latin]=Reljefni raspored u obliku zvezdice
Description[sv]=Ett asteriskformat utlägg med reliefer
Description[tr]=Yıldız şeklinde süslenmiş bir yerleşim
Description[uk]=Рельєфне компонування у формі зірки
Description[x-test]=xxAn asterisk-shaped embossed layoutxx
Description[zh_CN]=星形装饰布局
Description[zh_TW]=星形的佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=star.layout
