[KMahjonggLayout]
Name=Stacks
Name[de]=Stapel
Name[es]=Pilas
Name[nl]=Stapels
Name[pt]=Pilhas
Name[pt_BR]=Pilhas
Name[sv]=Högar
Name[zh_TW]=堆疊
Description=Difficult layout with stacks of tiles
Description[de]=Schwieriges Layout mit Stapeln aus Spielsteinen
Description[es]=Diseño difícil con pilas de baldosas
Description[nl]=Moeilijke indeling met stapels stenen
Description[pt]=Disposição complicada com pilhas de peças
Description[pt_BR]=Disposição complicada com pilhas de peças
Description[sv]=Svår layout med högar av brickor
Description[zh_TW]=牌張疊成這樣，不是很好解喔
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=stax.layout
