[KMahjonggLayout]
Name=Stacks
Name[bs]=Stekovi
Name[ca]=Piles
Name[ca@valencia]=Piles
Name[cs]=Zásobníky
Name[da]=Stakke
Name[de]=Stapel
Name[el]=Στοίβες
Name[en_GB]=Stacks
Name[es]=Pilas
Name[et]=Kuhjad
Name[eu]=Pila
Name[fa]=پشته‌ها
Name[fi]=Pinot
Name[fr]=Piles
Name[ga]=Cruacha
Name[gl]=Pilas
Name[hne]=स्टैक्स
Name[hr]=Stacks
Name[hu]=Kupacok
Name[id]=Tumpukan
Name[is]=Staflar
Name[it]=Pile
Name[ja]=積み重ね
Name[kk]=Қатарлар
Name[km]=ជង់​
Name[ko]=더미
Name[lt]=Krūvos
Name[lv]=Steki
Name[nb]=Stabler
Name[nds]=Stapeln
Name[nl]=Stapels
Name[nn]=Stablar
Name[pl]=Stosy
Name[pt]=Pilhas
Name[pt_BR]=Pilhas
Name[ru]=Штабели
Name[sk]=Stohy
Name[sl]=Skladi
Name[sq]=Pengesat
Name[sr]=Гомиле
Name[sr@ijekavian]=Гомиле
Name[sr@ijekavianlatin]=Gomile
Name[sr@latin]=Gomile
Name[sv]=Högar
Name[tr]=Yığınlar
Name[uk]=Штабелі
Name[x-test]=xxStacksxx
Name[zh_CN]=堆叠
Name[zh_TW]=堆疊
Description=Difficult layout with stacks of tiles
Description[bs]=Težak raspored sa stekovima od pločica
Description[ca]=Disposició difícil amb piles de fitxes
Description[ca@valencia]=Disposició difícil amb piles de fitxes
Description[cs]=Těžké rozložení se zásobníky kostek
Description[da]=Svært layout med stakke af fliser
Description[de]=Ein schwieriges Design mit Stapeln aus Spielsteinen.
Description[el]=Δύσκολη διάταξη με στοίβες από πούλια
Description[en_GB]=Difficult layout with stacks of tiles
Description[es]=Diseño difícil con pilas de fichas
Description[et]=Raske mäng klotsikuhjadega
Description[eu]=Lauzen pila duen diseinu zaila
Description[fa]=طرح‌بندی سخت با پشته‌هایی از کاشی‌ها
Description[fi]=Vaikeita tiilipinoja
Description[fr]=Répartition difficile en piles de tuiles
Description[ga]=Leagan amach deacair le cruacha tíleanna
Description[gl]=Deseño visual complexo con pilas de fichas
Description[hne]=टाइलों के झौंहा के साथ कठिन खाका
Description[hu]=Nehéz elrendezés, több kupaccal
Description[id]=Tata letak sulit dengan tumpukan tile
Description[it]=Una difficile disposizione iniziale con tessere impilate
Description[ja]=牌を積み重ねた難しいレイアウト
Description[kk]=Қатарлаған тастардан құрылған қүрделі салынуы
Description[km]=ប្លង់​ពិបាក​ដែល​មាន​ក្រឡា​ក្បឿង​ច្រើន​ជង់
Description[ko]=타일 더미가 있는 어려운 레이아웃
Description[lv]=Sarežģīts izkārtojums ar kauliņu stekiem
Description[nb]=Vanskelig oppsett med brikkestabler
Description[nds]=Vigeliensch Opbuu mit Steenstapels
Description[nl]=Moeilijke indeling met stapels stenen
Description[nn]=Vanskeleg oppsett med stablar av brikker.
Description[pl]=Trudny układ ze stosami kamieni
Description[pt]=Disposição complicada com pilhas de peças
Description[pt_BR]=Formato de tabuleiro difícil, com peças empilhadas
Description[ru]=Сложная раскладка со штабелями плиток
Description[sk]=Ťažké rozloženie s kôpkami hracích kameňov
Description[sl]=Težka razporeditev ploščic v sklade
Description[sq]=Një pamje e vështirë me pengesa tullash
Description[sr]=Тежак распоред са наслаганим плочицама
Description[sr@ijekavian]=Тежак распоред са наслаганим плочицама
Description[sr@ijekavianlatin]=Težak raspored sa naslaganim pločicama
Description[sr@latin]=Težak raspored sa naslaganim pločicama
Description[sv]=Svår layout med högar av brickor
Description[tr]=Döşeme yığınlarıyla zor bir yerleşim
Description[uk]=Складний вид з штабелями плиток
Description[x-test]=xxDifficult layout with stacks of tilesxx
Description[zh_CN]=难玩的堆叠布局
Description[zh_TW]=牌張疊成這樣，不是很好解喔
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=stax.layout
