[KMahjonggLayout]
Name=Swirl
Name[bs]=Vrtlog
Name[ca]=Remolí
Name[ca@valencia]=Remolí
Name[cs]=Vír
Name[da]=Hvirvel
Name[de]=Wirbel
Name[el]=Στρόβιλος
Name[en_GB]=Swirl
Name[eo]=Kirlo
Name[es]=Remolino
Name[et]=Keeris
Name[eu]=Zurrunbiloa
Name[fi]=Kierre
Name[fr]=Tourbillon
Name[ga]=Guairneán
Name[gl]=Remuíño
Name[hr]=Swirl
Name[hu]=Örvény
Name[id]=Lingkar
Name[is]=Sveimur
Name[it]=Vortice
Name[kk]=Құйын
Name[km]=កួច
Name[lt]=Sūkūrys
Name[lv]=Virpulis
Name[mai]=चक्कर खिलाबू
Name[nb]=Spiral
Name[nds]=Küsel
Name[nl]=Draaikolk
Name[nn]=Spiral
Name[pl]=Wir
Name[pt]=Remoinho
Name[pt_BR]=Redemoinho
Name[ru]=Вихрь
Name[sk]=Vír
Name[sl]=Vrtinec
Name[sq]=Swirl
Name[sr]=Вихор
Name[sr@ijekavian]=Вихор
Name[sr@ijekavianlatin]=Vihor
Name[sr@latin]=Vihor
Name[sv]=Virvel
Name[tr]=Girdap
Name[ug]=قاينام
Name[uk]=Вихор
Name[wa]=Toubion
Name[x-test]=xxSwirlxx
Name[zh_CN]=漩涡
Name[zh_TW]=漩渦
Description=A spiral with thick ends
Description[bs]=Spirala sa debelim krajevima
Description[ca]=Una espiral amb extrems gruixuts
Description[ca@valencia]=Una espiral amb extrems gruixuts
Description[cs]=Spirála se silnými konci
Description[da]=En spiral med tykke ender
Description[de]=Eine Spirale mit dicken Enden.
Description[el]=Μια σπείρα με χοντρά άκρα
Description[en_GB]=A spiral with thick ends
Description[es]=Una espiral con puntas gruesas
Description[et]=Ahenevate otstega spiraal
Description[eu]=Espiral bat amaiera lodiekin
Description[fi]=Kierre, jossa on paksut päät
Description[fr]=Une spirale avec des extrémités larges
Description[gl]=Unha espiral con extremos avultados
Description[hu]=Vastag végű spirál
Description[id]=Sebuah spiral dengan ujung tebal
Description[it]=Una spirale con estremità spesse
Description[kk]=Қалыңдатылатың шиыршық
Description[km]=គូច​ដែល​មាន​ចុង​ក្រាស់​​
Description[lt]=Spiralė su storais galais
Description[lv]=Spirāle ar sabiezinātiem galiem
Description[nb]=En spiral med tykke haler
Description[nds]=En Spiraal mit dick Ennen
Description[nl]=Een spiraal met dikke uiteinden
Description[nn]=Ein spiral med tjukke halar.
Description[pl]=Spirala z grubymi zakończeniami
Description[pt]=Uma espiral com pontas grossas
Description[pt_BR]=Uma espiral com pontas grossas
Description[ru]=Спираль с толстыми окончаниями
Description[sk]=Špirála s hrubými koncami
Description[sl]=Spirala z debelimi konci
Description[sq]=Një spirale me funde të trashë
Description[sr]=Спирала задебљаних крајева
Description[sr@ijekavian]=Спирала задебљаних крајева
Description[sr@ijekavianlatin]=Spirala zadebljanih krajeva
Description[sr@latin]=Spirala zadebljanih krajeva
Description[sv]=En spiral med tjocka ändar
Description[tr]=Kalın uçları olan bir sarmal
Description[uk]=Спіраль з товстими кінцями
Description[x-test]=xxA spiral with thick endsxx
Description[zh_CN]=涡流状布局
Description[zh_TW]=漩渦狀佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=swirl.layout
