[KMahjonggLayout]
Name=Swirl
Name[pt]=Remoinho
Name[pt_BR]=Remoinho
Name[sv]=Virvel
Name[uk]=Вихор
Name[zh_TW]=漩渦
Description=A spiral with thick ends
Description[pt]=Uma espiral com pontas grossas
Description[pt_BR]=Uma espiral com pontas grossas
Description[sv]=En spiral med tjocka ändar
Description[uk]=Спіраль з товстими кінцями
Description[zh_TW]=漩渦狀佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=swirl.layout
