[KMahjonggLayout]
Name=Temple
Name[pt]=Templo
Name[pt_BR]=Templo
Name[sv]=Tempel
Name[uk]=Храм
Name[zh_TW]=廟宇
Description=A temple-shaped layout
Description[pt]=Um formato com um aspecto de templo
Description[pt_BR]=Um formato com um aspecto de templo
Description[sv]=Ett tempelformat utlägg
Description[uk]=Розкладка у формі храма
Description[zh_TW]=廟宇形佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=temple.layout
