[KMahjonggLayout]
Name=Temple
Name[de]=Tempelanlage
Name[ga]=Teampall
Name[nds]=Tempel
Name[pt]=Templo
Name[pt_BR]=Templo
Name[sv]=Tempel
Name[uk]=Храм
Name[x-test]=xxTemplexx
Name[zh_TW]=廟宇
Description=A temple-shaped layout
Description[de]=Ein tempelförmiges Design.
Description[ga]=Leagan amach cosúil le teampall
Description[nds]=Lett liek en Tempel
Description[pt]=Um formato com um aspecto de templo
Description[pt_BR]=Um formato com um aspecto de templo
Description[sv]=Ett tempelformat utlägg
Description[uk]=Розкладка у формі храма
Description[x-test]=xxA temple-shaped layoutxx
Description[zh_TW]=廟宇形佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=temple.layout
