[KMahjonggLayout]
Name=Temple
Name[bs]=Hram
Name[ca]=Temple
Name[ca@valencia]=Temple
Name[cs]=Chrám
Name[da]=Tempel
Name[de]=Tempelanlage
Name[el]=Ναός
Name[en_GB]=Temple
Name[es]=Templo
Name[et]=Tempel
Name[eu]=Tenplua
Name[fi]=Temppeli
Name[fr]=Temple
Name[ga]=Teampall
Name[gl]=Templo
Name[hr]=Temple
Name[hu]=Templom
Name[id]=Candi
Name[it]=Tempio
Name[kk]=Ғибадатхана
Name[km]=វិហារ
Name[lt]=Šventykla
Name[lv]=Templis
Name[mai]=टेंपल
Name[nb]=Tempel
Name[nds]=Tempel
Name[nl]=Tempel
Name[nn]=Tempel
Name[pa]=ਮੰਦਰ
Name[pl]=Świątynia
Name[pt]=Templo
Name[pt_BR]=Templo
Name[ru]=Храм
Name[sk]=Chrám
Name[sl]=Tempelj
Name[sq]=Tempulli
Name[sr]=Храм
Name[sr@ijekavian]=Храм
Name[sr@ijekavianlatin]=Hram
Name[sr@latin]=Hram
Name[sv]=Tempel
Name[tr]=Tapınak
Name[ug]=تېمپلې
Name[uk]=Храм
Name[x-test]=xxTemplexx
Name[zh_CN]=神庙
Name[zh_TW]=廟宇
Description=A temple-shaped layout
Description[bs]=Hram-oblikovani izgled
Description[ca]=Una disposició amb forma de temple
Description[ca@valencia]=Una disposició amb forma de temple
Description[cs]=Rozložení ve tvaru chrámu
Description[da]=Et tempelformet layout
Description[de]=Ein tempelförmiges Design.
Description[el]=Μια διάταξη σε σχήμα ναού
Description[en_GB]=A temple-shaped layout
Description[es]=Un diseño en forma de templo
Description[et]=Templikujuline paigutus
Description[eu]=Tenplua formako diseinu bat
Description[fi]=Temppelimäinen asettelu
Description[fr]=Une forme de temple
Description[ga]=Leagan amach cosúil le teampall
Description[gl]=Un deseño visual en forma de templo
Description[hu]=Templom alakú elrendezés
Description[id]=Sebuah tata letak berbentuk candi
Description[it]=Una disposizione a forma di tempio
Description[kk]=Ғибадатхана қалыпты салынуы
Description[km]=ប្លង់​ដែល​មាន​រាង​ព្រះវិហារ
Description[lt]=Šventyklos formos išdėstymas
Description[lv]=Izkārtojums tempļa formā
Description[nb]=Tempelformet oppsett
Description[nds]=Lett liek en Tempel
Description[nl]=Een tempelvormige indeling
Description[nn]=Tempelforma oppsett.
Description[pl]=Układ w kształcie świątyni
Description[pt]=Um formato com um aspecto de templo
Description[pt_BR]=Um formato com um aspecto de templo
Description[ru]=Раскладка в виде храма
Description[sk]=Rozloženie v tvare chrámu
Description[sl]=Postavitev v obliki templja
Description[sq]=Një pamje në formën enjë tempulli
Description[sr]=Распоред у облику храма
Description[sr@ijekavian]=Распоред у облику храма
Description[sr@ijekavianlatin]=Raspored u obliku hrama
Description[sr@latin]=Raspored u obliku hrama
Description[sv]=Ett tempelformat utlägg
Description[tr]=Tapınak şeklinde bir yerleşim
Description[uk]=Розкладка у формі храму
Description[x-test]=xxA temple-shaped layoutxx
Description[zh_CN]=神庙造型的布局
Description[zh_TW]=廟宇形佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=temple.layout
