[KMahjonggLayout]
Name=The Door
Name[nds]=De Döör
Name[pt]=A Porta
Name[pt_BR]=A Porta
Name[sv]=Dörren
Name[uk]=Двері
Name[zh_TW]=門
Description=A doorway through a pyramid-shaped wall
Description[nds]=En Weg dör en Pyramidenmuur
Description[pt]=Uma porta através de uma parede de pirâmide
Description[pt_BR]=Uma porta através de uma parede de pirâmide
Description[sv]=En dörröppning genom en pyramidformad vägg
Description[uk]=Двері крізь стіну у формі піраміди
Description[zh_TW]=門外是通往金字塔形的牆的走道
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=the_door.layout
