[KMahjonggLayout]
Name=The Door
Name[bs]=Vrata
Name[ca]=La porta
Name[ca@valencia]=La porta
Name[cs]=Dveře
Name[da]=Døren
Name[de]=Die Tür
Name[el]=Η πόρτα
Name[en_GB]=The Door
Name[es]=La puerta
Name[et]=Uks
Name[eu]=Atea
Name[fi]=Ovi
Name[fr]=La porte
Name[ga]=An Doras
Name[gl]=A porta
Name[hr]=The Door
Name[hu]=Az Átjáró
Name[id]=Pintu
Name[it]=La porta
Name[kk]=Есік
Name[km]=ទ្វារ
Name[lt]=Durys
Name[lv]=Durvis
Name[nb]=Døra
Name[nds]=De Döör
Name[nl]=De deur
Name[nn]=Døra
Name[pl]=Drzwi
Name[pt]=A Porta
Name[pt_BR]=A porta
Name[ru]=Дверь
Name[sk]=Dvere
Name[sl]=Vrata
Name[sq]=Dera
Name[sr]=Врата
Name[sr@ijekavian]=Врата
Name[sr@ijekavianlatin]=Vrata
Name[sr@latin]=Vrata
Name[sv]=Dörren
Name[tr]=Kapı
Name[uk]=Двері
Name[wa]=L' ouxh
Name[x-test]=xxThe Doorxx
Name[zh_CN]=门扉
Name[zh_TW]=門
Description=A doorway through a pyramid-shaped wall
Description[bs]=Vrata kroz piramidu-oblikovani zid
Description[ca]=Una entrada a través d'una paret amb forma de piràmide
Description[ca@valencia]=Una entrada a través d'una paret amb forma de piràmide
Description[cs]=Vchod ve stěně, která je ve tvaru pyramidy
Description[da]=En døråbning gennem en pyramideformet væg
Description[de]=Ein Durchgang durch eine pyramidenförmige Mauer.
Description[el]=Μια πόρτα σε έναν τοίχο με σχήμα πυραμίδας
Description[en_GB]=A doorway through a pyramid-shaped wall
Description[es]=Una entrada a través de un muro en forma de pirámide
Description[et]=Ukseava läbi püramiidikujulise seina
Description[eu]=Atebidea piramide formako horman zehar
Description[fi]=Ovi pyramidimaisen seinän läpi
Description[fr]=Une porte au travers d'un mur pyramidal
Description[gl]=Unha entrada a través dunha parede de forma piramidal
Description[hu]=Átjáró egy piramisszerű falon
Description[id]=Sebuah pintu melalui dinding berbentuk piramida
Description[it]=Una porta aperta in un muro a forma di piramide
Description[kk]=Пирамида қабырғасындағы есік
Description[km]=ច្រក​ចេញ​ចូល​តាម​ជញ្ជាំង​រាង​ពីរ៉ាមីត
Description[lv]=Ieeja caur piramīdas formas sienu
Description[nb]=En dør gjennom en pyramideformet vegg
Description[nds]=En Weg dör en Pyramidenmuur
Description[nl]=Een doorgang door een piramidevormige muur
Description[nn]=Ei dør gjennom ein pyramideforma vegg.
Description[pl]=Drzwi w ścianie o kształcie piramidy
Description[pt]=Uma porta através de uma parede de pirâmide
Description[pt_BR]=Uma porta através de uma parede de pirâmide
Description[ru]=Дверь в стене пирамиды
Description[sk]=Dvere cez stenu tvaru pyramídy
Description[sl]=Vrata skozi zid v obliki piramide
Description[sq]=Një dorë mes një muri në formën e piramidës
Description[sr]=Врата кроз зид у облику пирамиде
Description[sr@ijekavian]=Врата кроз зид у облику пирамиде
Description[sr@ijekavianlatin]=Vrata kroz zid u obliku piramide
Description[sr@latin]=Vrata kroz zid u obliku piramide
Description[sv]=En dörröppning genom en pyramidformad vägg
Description[tr]=Piramit-şeklinde bir duvardan geçen antre
Description[uk]=Двері крізь стіну у формі піраміди
Description[x-test]=xxA doorway through a pyramid-shaped wallxx
Description[zh_CN]=通向金字塔的门外走道
Description[zh_TW]=門外是通往金字塔形的牆的走道
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=the_door.layout
