[KMahjonggLayout]
Name=The Door
Name[de]=Die Tür
Name[el]=Η πόρτα
Name[et]=Uks
Name[ga]=An Doras
Name[nds]=De Döör
Name[pt]=A Porta
Name[pt_BR]=A Porta
Name[sr]=Врата
Name[sr@latin]=Vrata
Name[sv]=Dörren
Name[uk]=Двері
Name[x-test]=xxThe Doorxx
Name[zh_CN]=门扉
Name[zh_TW]=門
Description=A doorway through a pyramid-shaped wall
Description[de]=Ein Durchgang durch eine pyramidenförmige Mauer.
Description[el]=Μια πόρτα σε έναν τοίχο με σχήμα πυραμίδας
Description[et]=Ukseava läbi püramiidikujulise seina
Description[nds]=En Weg dör en Pyramidenmuur
Description[pt]=Uma porta através de uma parede de pirâmide
Description[pt_BR]=Uma porta através de uma parede de pirâmide
Description[sr]=Врата кроз зид у облику пирамиде
Description[sr@latin]=Vrata kroz zid u obliku piramide
Description[sv]=En dörröppning genom en pyramidformad vägg
Description[uk]=Двері крізь стіну у формі піраміди
Description[x-test]=xxA doorway through a pyramid-shaped wallxx
Description[zh_CN]=通向金字塔的门外走道
Description[zh_TW]=門外是通往金字塔形的牆的走道
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=the_door.layout
