[KMahjonggLayout]
Name=Theatre
Name[bs]=Pozorište
Name[ca]=Teatre
Name[ca@valencia]=Teatre
Name[cs]=Divadlo
Name[da]=Teater
Name[de]=Theater
Name[el]=Θέατρο
Name[en_GB]=Theatre
Name[es]=Teatro
Name[et]=Teater
Name[eu]=Antzezlekua
Name[fi]=Teatteri
Name[fr]=Théâtre
Name[ga]=Amharclann
Name[gl]=Teatro
Name[hr]=Theatre
Name[hu]=Színház
Name[id]=Teater
Name[it]=Teatro
Name[kk]=Театр
Name[km]=រោង​ល្ខោន
Name[lt]=Teatras
Name[lv]=Teātris
Name[nb]=Teater
Name[nds]=Theater
Name[nl]=Theater
Name[nn]=Teater
Name[pl]=Teatr
Name[pt]=Teatro
Name[pt_BR]=Teatro
Name[ru]=Театр
Name[sk]=Divadlo
Name[sl]=Gledališče
Name[sq]=Teatër
Name[sr]=Позориште
Name[sr@ijekavian]=Позориште
Name[sr@ijekavianlatin]=Pozorište
Name[sr@latin]=Pozorište
Name[sv]=Teater
Name[tr]=Tiyatro
Name[uk]=Театр
Name[wa]=Teyåte
Name[x-test]=xxTheatrexx
Name[zh_CN]=剧院
Name[zh_TW]=戲院
Description=A rectangular building with empty space in the middle
Description[bs]=Pravougaona građevina sa praznim prostorom u sredini
Description[ca]=Una construcció rectangular amb un espai buit al mig
Description[ca@valencia]=Una construcció rectangular amb un espai buit al mig
Description[cs]=Obdélníková budova s prázdným prostorem uprostřed
Description[da]=En rektangulær bygning med tomt rum i midten
Description[de]=Ein rechteckiges Gebilde mit einen leeren Raum in der Mitte.
Description[el]=Ένα ορθογώνιο κτήριο με κενό χώρο στο μέσο του
Description[en_GB]=A rectangular building with empty space in the middle
Description[es]=Un edificio rectangular con un espacio vacío en el centro
Description[et]=Kandiline ehitis, keskel tühi ruum
Description[eu]=Eraikin laukizuzena leku huts batekin erdian
Description[fi]=Nelikulmainen rakennus, jonka keskellä tyhjää
Description[fr]=Un bâtiment rectangulaire avec un espace vide au centre
Description[gl]=Un edificio rectangular baleiro polo medio
Description[hu]=Négyszög alakú épület közepén üres térséggel
Description[id]=Sebuah bangunan persegi panjang dengan ruang kosong di tengah
Description[it]=Un edificio rettangolare con uno spazio vuoto al centro
Description[kk]=Ортасында бос төртбұрышты ғимарат
Description[km]=អគារ​រាង​ចតុ​កោណ​ដែល​មាន​កន្លែង​ទំនេរ​នៅ​ចំ​កណ្ដាល
Description[lv]=Taisnstūra ēka ar tukšu telpu vidū
Description[nb]=Rektangulær bygning med tomrom i midten
Description[nds]=En rechteckig Huus mit en leddig Steed in de Merrn
Description[nl]=Een rechthoekig gebouw met een lege ruimte in het midden
Description[nn]=Rektangulær bygning med tomrom i midten.
Description[pl]=Prostokątny budynek, pusty w środku
Description[pt]=Um edifício rectangular com um espaço vazio no meio
Description[pt_BR]=Um edifício retangular com um espaço vazio no meio
Description[ru]=Прямоугольное здание с открытым центром
Description[sk]=Obdĺžniková budova s prázdnym priestorom uprostred
Description[sl]=Štirikotna stavba s praznim prostorom v sredini
Description[sq]=Një ndërtesë katrore me hapësirë bosh në mes
Description[sr]=Правоугаона зграда с празним простором у средини
Description[sr@ijekavian]=Правоугаона зграда с празним простором у средини
Description[sr@ijekavianlatin]=Pravougaona zgrada s praznim prostorom u sredini
Description[sr@latin]=Pravougaona zgrada s praznim prostorom u sredini
Description[sv]=En rektangulär byggnad med tomt utrymme i mitten
Description[tr]=Ortada boş bir alanı olan dikdörtgen bir bina
Description[uk]=Прямокутна будівля з майданчиком посередині
Description[x-test]=xxA rectangular building with empty space in the middlexx
Description[zh_CN]=中空的矩形建筑物
Description[zh_TW]=矩形建築物，中間是空的
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=theatre.layout
