[KMahjonggLayout]
Name=Theatre
Description=A rectangular building with empty space in the middle
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=theatre.layout
