[KMahjonggLayout]
Name=Time Tunnel
Name[ca]=El túnel del temps
Name[da]=Tidstunnel
Name[de]=Zeittunnel
Name[el]=Χρονική σήραγγα
Name[es]=Túnel del tiempo
Name[et]=Ajatunnel
Name[eu]=Denboraren tunela
Name[ga]=Tollán Ama
Name[it]=Tunnel del tempo
Name[nds]=Tiet-Tunnel
Name[nn]=Tidstunell
Name[pt]=Túnel no Tempo
Name[pt_BR]=Túnel no tempo
Name[ru]=Тоннель времени
Name[sr]=Временски тунел
Name[sr@latin]=Vremenski tunel
Name[sv]=Tidstunnel
Name[uk]=Тунель часу
Name[x-test]=xxTime Tunnelxx
Name[zh_CN]=时光隧道
Name[zh_TW]=時光隧道
Description=A pyramid with a hole in the middle
Description[ca]=Una piràmide amb un forat al mig
Description[da]=En pyramide med et hul i midten
Description[de]=Eine Pyramide mit einem Loch in der Mitte.
Description[el]=Μια πυραμίδα με μια τρύπα στο μέσο
Description[es]=Una pirámide con un agujero en medio
Description[et]=Püramiid, mille keskel on avaus
Description[eu]=Piramide bat erdian zuloa duela
Description[ga]=Pirimid le poll sa lár
Description[it]=Una piramide con un buco nel mezzo
Description[nds]=En Pyramied mit en Lock in de Merrn
Description[nn]=Ein pyramide med hol i midten.
Description[pt]=Uma pirâmide com um buraco no meio
Description[pt_BR]=Uma pirâmide com um buraco no meio
Description[sr]=Пирамида с рупом у средини
Description[sr@latin]=Piramida s rupom u sredini
Description[sv]=En pyramid med ett hål i mitten
Description[uk]=Піраміда з діркою у центрі
Description[x-test]=xxA pyramid with a hole in the middlexx
Description[zh_CN]=中间有个洞的金字塔造型
Description[zh_TW]=金字塔形，中間有個洞
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=time_tunnel.layout
