[KMahjonggLayout]
Name=Time Tunnel
Description=A pyramid with a hole in the middle
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=time_tunnel.layout
