[KMahjonggLayout]
Name=Time Tunnel
Name[bs]=Tempirani tunel
Name[ca]=El túnel del temps
Name[ca@valencia]=El túnel del temps
Name[cs]=Časový tunel
Name[da]=Tidstunnel
Name[de]=Zeittunnel
Name[el]=Χρονική σήραγγα
Name[en_GB]=Time Tunnel
Name[es]=Túnel del tiempo
Name[et]=Ajatunnel
Name[eu]=Denboraren tunela
Name[fi]=Aikatunneli
Name[fr]=Tunnel temporel
Name[ga]=Tollán Ama
Name[gl]=Túnel do tempo
Name[hr]=Time Tunnel
Name[hu]=Időalagút
Name[id]=Lorong Waktu
Name[it]=Tunnel del tempo
Name[kk]=Уақыт туннелі
Name[km]=ធ្យូនែល​​ពេល​វេលា
Name[lt]=Laiko tunelis
Name[lv]=Laika tunelis
Name[nb]=Tidstunnel
Name[nds]=Tiet-Tunnel
Name[nl]=Tijdtunnel
Name[nn]=Tidstunell
Name[pl]=Tunel czasu
Name[pt]=Túnel no Tempo
Name[pt_BR]=Túnel no tempo
Name[ru]=Тоннель времени
Name[sk]=Časový tunel
Name[sl]=Časovni predor
Name[sq]=Tuneli i Kohës
Name[sr]=Временски тунел
Name[sr@ijekavian]=Временски тунел
Name[sr@ijekavianlatin]=Vremenski tunel
Name[sr@latin]=Vremenski tunel
Name[sv]=Tidstunnel
Name[tr]=Zaman Tüneli
Name[uk]=Тунель часу
Name[wa]=Trawa do tins
Name[x-test]=xxTime Tunnelxx
Name[zh_CN]=时光隧道
Name[zh_TW]=時光隧道
Description=A pyramid with a hole in the middle
Description[bs]=Piramida sa rupom u sredini
Description[ca]=Una piràmide amb un forat al mig
Description[ca@valencia]=Una piràmide amb un forat al mig
Description[cs]=Pyramida s otvorem uprostřed
Description[da]=En pyramide med et hul i midten
Description[de]=Eine Pyramide mit einem Loch in der Mitte.
Description[el]=Μια πυραμίδα με μια τρύπα στο μέσο
Description[en_GB]=A pyramid with a hole in the middle
Description[es]=Una pirámide con un agujero en medio
Description[et]=Püramiid, mille keskel on avaus
Description[eu]=Piramide bat erdian zuloa duela
Description[fi]=Pyramidi, jonka keskellä reikä
Description[fr]=Une pyramide avec un trou en son centre
Description[ga]=Pirimid le poll sa lár
Description[gl]=Unha pirámide cun burato no medio
Description[hu]=Piramis lyukkal a közepében
Description[id]=Sebuah piramida dengan lubang di tengah
Description[it]=Una piramide con un buco nel mezzo
Description[kk]=Ортасы тесік пирамида
Description[km]=ពីរ៉ាមីត​ដែល​មាន​ប្រហោង​នៅ​ចំ​កណ្ដាល 
Description[lt]=Piramidė su skyle viduryje
Description[lv]=Piramīda ar kopā caurumu vidū
Description[nb]=En pyramide med hull i midten
Description[nds]=En Pyramied mit en Lock in de Merrn
Description[nl]=Een piramide met een put in het midden
Description[nn]=Ein pyramide med hòl i midten.
Description[pl]=Piramida z dziurą w środku
Description[pt]=Uma pirâmide com um buraco no meio
Description[pt_BR]=Uma pirâmide com um buraco no meio
Description[ru]=Пирамида с дыркой в середине
Description[sk]=Pyramída s dierou uprostred
Description[sl]=Piramida z luknjo v sredini
Description[sq]=Një piramidë me një vrimë në mes
Description[sr]=Пирамида с рупом у средини
Description[sr@ijekavian]=Пирамида с рупом у средини
Description[sr@ijekavianlatin]=Piramida s rupom u sredini
Description[sr@latin]=Piramida s rupom u sredini
Description[sv]=En pyramid med ett hål i mitten
Description[tr]=Ortada deliği olan bir piramit
Description[uk]=Піраміда з діркою у центрі
Description[wa]=Ene piramide avou on trô å mitan
Description[x-test]=xxA pyramid with a hole in the middlexx
Description[zh_CN]=中间有个洞的金字塔造型
Description[zh_TW]=金字塔形，中間有個洞
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=time_tunnel.layout
