[KMahjonggLayout]
Name=Tomb
Name[da]=Grav
Name[de]=Grabstätte
Name[el]=Τύμβος
Name[et]=Haud
Name[ga]=Tuama
Name[nds]=Graff
Name[pt]=Túmulo
Name[pt_BR]=Túmulo
Name[sr]=Гробница
Name[sr@latin]=Grobnica
Name[sv]=Grav
Name[uk]=Могила
Name[x-test]=xxTombxx
Name[zh_CN]=古墓
Name[zh_TW]=墳墓
Description=Fans of Lara Croft may start digging
Description[da]=Fans af Lara Croft kan begynde at grave
Description[de]=Verehrer von Lara Croft könnten jetzt mit dem Graben beginnen.
Description[el]=Οι φίλοι της Λάρα Κροφτ μπορούν να αρχίσουν τις ανασκαφές
Description[et]=Lara Crofti fännid võivad kohe asuda kaevama
Description[nds]=Lara Croft ehr Verehrers dörvt dat Graven anfangen
Description[pt]=Os fãs da Lara Croft podem começar a escavar
Description[pt_BR]=Os fãs da Lara Croft podem começar a escavar
Description[sr]=Љубитељи Ларе Крофт могу почети да копају
Description[sr@latin]=Ljubitelji Lare Kroft mogu početi da kopaju
Description[sv]=Anhängare av Lara Croft kan börja gräva
Description[uk]=Фани Лари Крофт можуть починати копання
Description[x-test]=xxFans of Lara Croft may start diggingxx
Description[zh_CN]=古墓丽影的爱好者们开始挖吧
Description[zh_TW]=古墓奇兵愛好者可以開始挖了
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=tomb.layout
