[KMahjonggLayout]
Name=Tomb
Name[bs]=Grobnica
Name[ca]=Tomba
Name[ca@valencia]=Tomba
Name[cs]=Hrobka
Name[da]=Grav
Name[de]=Grabstätte
Name[el]=Τύμβος
Name[en_GB]=Tomb
Name[es]=Tumba
Name[et]=Haud
Name[eu]=Hilobia
Name[fi]=Hautakammio
Name[fr]=Tombe
Name[ga]=Tuama
Name[gl]=Sepulcro
Name[hr]=Tomb
Name[hu]=Sír
Name[id]=Makam
Name[it]=Tomba
Name[kk]=Мазар
Name[km]=ផ្នូរ
Name[lt]=Kapas
Name[lv]=Kaps
Name[nb]=Gravkammer
Name[nds]=Graff
Name[nl]=Tombe
Name[nn]=Gravkammer
Name[pl]=Grobowiec
Name[pt]=Túmulo
Name[pt_BR]=Tumba
Name[ru]=Гробница
Name[sk]=Hrobka
Name[sl]=Grobnica
Name[sq]=Varri
Name[sr]=Гробница
Name[sr@ijekavian]=Гробница
Name[sr@ijekavianlatin]=Grobnica
Name[sr@latin]=Grobnica
Name[sv]=Grav
Name[tr]=Mezar
Name[uk]=Могила
Name[x-test]=xxTombxx
Name[zh_CN]=古墓
Name[zh_TW]=墳墓
Description=Fans of Lara Croft may start digging
Description[bs]=Fanovi Lare Croft mogu početi kopati
Description[ca]=Els fans de Lara Croft poden començar a cavar
Description[ca@valencia]=Els fans de Lara Croft poden començar a cavar
Description[cs]=Fanoušci Lary Croft mohou začít kopat
Description[da]=Fans af Lara Croft kan begynde at grave
Description[de]=Verehrer von Lara Croft könnten jetzt mit dem Graben beginnen.
Description[el]=Οι φίλοι της Λάρα Κροφτ μπορούν να αρχίσουν τις ανασκαφές
Description[en_GB]=Fans of Lara Croft may start digging
Description[es]=Los fans de Lara Coft pueden empezar a excavar
Description[et]=Lara Crofti fännid võivad kohe asuda kaevama
Description[eu]=Lara Croft-en jarraitzaileek has daitezke lurra zulatzen
Description[fi]=Lara Croft -fanit alkakoot kaivaa!
Description[fr]=Les fans de « Lara Croft » vont commencer à creuser
Description[gl]=Os seareiros de Lara Croft que comecen a cavar
Description[hu]=Lara Croft-rajongók, figyelem!
Description[id]=Penggemar dari Lara Croft dapat mulai menggali
Description[it]=I fan di Lara Croft possono incominciare a scavare
Description[kk]=Лара Крофттың ізбасарлары қазуды бастай алады
Description[km]=ក្រុម​គាំ​ទ្រ​ Lara Croft ​​នឹង​ចាប់​ផ្ដើម​ជីក
Description[lv]=Laras Kroftas cienītāji var sākt rakšanu
Description[nb]=De som liker Lara Croft kan begynne å grave
Description[nds]=Lara Croft ehr Verehrers dörvt dat Graven anfangen
Description[nl]=Fans van Lara Croft zouden kunnen beginnen met graven
Description[nn]=Dei som likar Lara Croft kan gle seg.
Description[pl]=Fani Lary Croft mogą już zacząć kopać
Description[pt]=Os fãs da Lara Croft podem começar a escavar
Description[pt_BR]=Os fãs da Lara Croft podem começar a escavar
Description[ru]=Фанаты Лары Крофт могут начинать рыться
Description[sk]=Fanúšikovia Lary Croft môžu začať kopať
Description[sl]=Za vse ljubitelje Lare Croft
Description[sq]=Fansat e Lara Croft mund të fillojnë gërmimin
Description[sr]=Љубитељи Ларе Крофт могу почети да копају
Description[sr@ijekavian]=Љубитељи Ларе Крофт могу почети да копају
Description[sr@ijekavianlatin]=Ljubitelji Lare Kroft mogu početi da kopaju
Description[sr@latin]=Ljubitelji Lare Kroft mogu početi da kopaju
Description[sv]=Anhängare av Lara Croft kan börja gräva
Description[tr]=Lara Croft hayranları kazmaya başlayabilir
Description[uk]=Фани Лари Крофт можуть починати копання
Description[x-test]=xxFans of Lara Croft may start diggingxx
Description[zh_CN]=古墓丽影的爱好者们开始挖吧
Description[zh_TW]=古墓奇兵愛好者可以開始挖了
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=tomb.layout
