[KMahjonggLayout]
Name=Totem
Name[bs]=Totem
Name[ca]=Totem
Name[ca@valencia]=Totem
Name[cs]=Totem
Name[da]=Totem
Name[de]=Talisman
Name[el]=Τοτέμ
Name[en_GB]=Totem
Name[eo]=Totem
Name[es]=Tótem
Name[et]=Tootem
Name[eu]=Totema
Name[fi]=Toteemi
Name[fr]=Totem
Name[ga]=Tótam
Name[gl]=Tótem
Name[hr]=Totem
Name[hu]=Totem
Name[id]=Totem
Name[it]=Totem
Name[kk]=Тотем
Name[km]=តូតឹម
Name[lt]=Totemas
Name[lv]=Totēms
Name[nb]=Totempåle
Name[nds]=Totem
Name[nl]=Totem
Name[nn]=Totempåle
Name[pa]=ਟੋਟੇਮ
Name[pl]=Totem
Name[pt]=Totem
Name[pt_BR]=Totem
Name[ru]=Тотем
Name[sk]=Totem
Name[sl]=Totem
Name[sq]=Totem
Name[sr]=Тотем
Name[sr@ijekavian]=Тотем
Name[sr@ijekavianlatin]=Totem
Name[sr@latin]=Totem
Name[sv]=Totem
Name[tr]=Totem
Name[uk]=Тотем
Name[wa]=Totem
Name[x-test]=xxTotemxx
Name[zh_CN]=图腾
Name[zh_TW]=圖騰
Description=A T-shaped embossed object with a hole
Description[bs]=T-reljefni oblik sa rupom
Description[ca]=Un objecte amb forma de T i relleu amb un forat
Description[ca@valencia]=Un objecte amb forma de T i relleu amb un forat
Description[cs]=Objekt ve tvaru T s otvorem
Description[da]=Et T-formet præget objekt med et hul
Description[de]=Ein T-förmiges Objekt mit einem Loch.
Description[el]=Ένα αντικείμενο με σχήμα Τ και μια τρύπα
Description[en_GB]=A T-shaped embossed object with a hole
Description[es]=Un objeto en relieve en forma de T con un agujero
Description[et]=T-kujuline objekt auguga
Description[eu]=T formako kapsulatutako objektu bat zulo batekin
Description[fi]=T-mäinen kohokuviohahmo, jossa on reikä
Description[fr]=Un objet de la forme d'un « T » en relief avec un trou
Description[gl]=Un obxecto en forma de te en relevo cun burato
Description[hu]=T alakú domború objektum lyukkal a közepén
Description[id]=Suatu objek timbul berbentuk T dengan sebuah lubang
Description[it]=Un oggetto scolpito a forma di T con un buco
Description[kk]=Тесігі бар Т-қалыпты бедерлі нысан
Description[km]=វត្ថុ​លាន​រាង A T ដែល​មាន​ប្រហោង
Description[lv]='T' formas gofrēts priekšmets ar caurumu
Description[nb]=T-formet totempåle med et hull
Description[nds]=En ingraven Objekt liek en "T" mit en Lock
Description[nl]=Een T-vormig object met reliëf en een gat
Description[nn]=T-forma totempåle med eit hòl.
Description[pl]=Obiekt w kształcie litery T z dziurą
Description[pt]=Um objecto em forma de T com um buraco
Description[pt_BR]=Um objeto em forma de T com um buraco
Description[ru]=Выпуклая T-образная конструкция с дырой в середине
Description[sk]=Reliéfový objekt tvaru T s otvorom
Description[sl]=Predmet v obliki T-ja z luknjo
Description[sq]=Një objekt i mbivendosur në formën e gërmës T me një vrimë
Description[sr]=Рељефни објекат у облику слова Т и с рупом
Description[sr@ijekavian]=Рељефни објекат у облику слова Т и с рупом
Description[sr@ijekavianlatin]=Reljefni objekat u obliku slova T i s rupom
Description[sr@latin]=Reljefni objekat u obliku slova T i s rupom
Description[sv]=Ett T-format objekt med reliefer och ett hål
Description[tr]=Deliği olan, T-şeklinde süslenmiş bir nesne
Description[uk]=Рельєфний об’єкт у формі літери Т з діркою
Description[x-test]=xxA T-shaped embossed object with a holexx
Description[zh_CN]=中间有个洞的 T 型装饰
Description[zh_TW]=T 形雕花物體，中間有個洞
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=totem.layout
