[KMahjonggLayout]
Name=Totem
Description=A T-shaped embossed object with a hole
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=totem.layout
