[KMahjonggLayout]
Name=Tower
Name[be]=Башня
Name[bs]=Kula
Name[ca]=Torre
Name[ca@valencia]=Torre
Name[cs]=Věž
Name[da]=Tårn
Name[de]=Turm
Name[el]=Πύργος
Name[en_GB]=Tower
Name[eo]=Turo
Name[es]=Torre
Name[et]=Torn
Name[eu]=Dorrea
Name[fa]=برج
Name[fi]=Torni
Name[fr]=Tour
Name[ga]=Túr
Name[gl]=Torre
Name[hne]=मीनार
Name[hr]=Tower
Name[hu]=Torony
Name[id]=Menara
Name[is]=Turn
Name[it]=Torre
Name[ja]=タワー
Name[kk]=Мұнара
Name[km]=ប៉ម
Name[ko]=탑
Name[lt]=Bokštas
Name[lv]=Tornis
Name[nb]=Tårn
Name[nds]=Toorn
Name[nl]=Toren
Name[nn]=Tårn
Name[pa]=ਟਾਵਰ
Name[pl]=Wieża
Name[pt]=Torre
Name[pt_BR]=Torre
Name[ro]=Turn
Name[ru]=Башня
Name[sk]=Veža
Name[sl]=Stolp
Name[sq]=Kulla
Name[sr]=Торањ
Name[sr@ijekavian]=Торањ
Name[sr@ijekavianlatin]=Toranj
Name[sr@latin]=Toranj
Name[sv]=Torn
Name[tr]=Kule
Name[uk]=Башта
Name[wa]=Tour
Name[x-test]=xxTowerxx
Name[zh_CN]=堡垒
Name[zh_TW]=塔
Description=Remove the towers
Description[bs]=Ukloni tornjeve
Description[ca]=Elimina les torres
Description[ca@valencia]=Elimina les torres
Description[cs]=Odstraňte věže
Description[da]=Fjern tårnene
Description[de]=Entfernen Sie die Türme.
Description[el]=Αφαιρέστε τους πύργους
Description[en_GB]=Remove the towers
Description[eo]=Forigi la turojn
Description[es]=Elimina las torres
Description[et]=Tornide eemaldamine
Description[eu]=Kendu dorreak
Description[fa]=برج‌ها را حذف کنید
Description[fi]=Poista tornit
Description[fr]=Supprimez les tours
Description[ga]=Bain na túir
Description[gl]=Retira as torres
Description[hne]=मीनार मन ल हटाव
Description[hu]=Le kell bontani a tornyokat
Description[id]=Lepaskan menara
Description[is]=Fjarlægja turnana
Description[it]=Rimuovi le torri
Description[ja]=タワーを取り除きます
Description[kk]=Мұнараларды кетіру
Description[km]=យក​ប៉ម​ចេញ
Description[ko]=탑을 없애십시오
Description[lt]=Nugriaukite bokštus
Description[lv]=Novāc torņus
Description[nb]=Fjern tårnene
Description[nds]=De Toorns wegmaken
Description[nl]=Verwijder de torens
Description[nn]=Fjern tårna.
Description[pa]=ਟਾਵਰ ਹਟਾਓ
Description[pl]=Usuń wieże
Description[pt]=Remova as torres
Description[pt_BR]=Remova as torres
Description[ro]=Elimină turnurile
Description[ru]=Удалите башни
Description[sk]=Odstrániť veže
Description[sl]=Odstranite stolpe
Description[sq]=Hiqi kullat
Description[sr]=Уклоните торњеве
Description[sr@ijekavian]=Уклоните торњеве
Description[sr@ijekavianlatin]=Uklonite tornjeve
Description[sr@latin]=Uklonite tornjeve
Description[sv]=Ta bort tornen
Description[tr]=Kuleleri sil
Description[uk]=Вилучіть башти
Description[wa]=Disfé les tours
Description[x-test]=xxRemove the towersxx
Description[zh_CN]=拆除这座堡垒
Description[zh_TW]=把塔移除掉
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=tower.layout
