[KMahjonggLayout]
Name=Tower
Description=Remove the towers
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=tower.layout
