[KMahjonggLayout]
Name=Triangle
Name[uk]=Трикутник
Name[x-test]=xxTrianglexx
Description=Triangular pyramid
Description[uk]=Трикутна піраміда
Description[x-test]=xxTriangular pyramidxx
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=triangle.layout
