[KMahjonggLayout]
Name=Triangle
Description=Triangular pyramid
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=triangle.layout
