[KMahjonggLayout]
Name=Triangle
Name[de]=Dreieck
Name[el]=Τρίγωνο
Name[eo]=Triangulo
Name[es]=Triángulo
Name[et]=Kolmnurk
Name[ga]=Triantán
Name[gl]=Triángulo
Name[it]=Triangolo
Name[ja]=トライアングル
Name[ko]=삼각형
Name[lv]=Trīsstūris
Name[nds]=Dre'eck
Name[nl]=Driehoek
Name[pl]=Trójkąt
Name[pt]=Triângulo
Name[pt_BR]=Triângulo
Name[sl]=Trikotnik
Name[sv]=Triangel
Name[uk]=Трикутник
Name[wa]=Triyangue
Name[x-test]=xxTrianglexx
Name[zh_CN]=三角
Name[zh_TW]=三角形
Description=Triangular piramid
Description[ca]=Piràmide triangular
Description[de]=Dreieckige Pyramide
Description[el]=Τριγωνική πυραμίδα
Description[eo]=Triangula piramido
Description[es]=Pirámide triangular
Description[et]=Kolmnurkne püramiid
Description[gl]=Pirámide triangular
Description[it]=Piramide triangolare
Description[ja]=三角形のピラミッド
Description[ko]=삼각형 피라미드
Description[lv]=Trīsstūrveida piramīda
Description[nds]=Dre'eckig Pyramied
Description[nl]=Driehoekige piramide
Description[pl]=Trójkątna piramida
Description[pt]=Pirâmide triangular
Description[pt_BR]=Pirâmide triangular
Description[sl]=Trikotna piramida
Description[sv]=Triangulär pyramid
Description[x-test]=xxTriangular piramidxx
Description[zh_CN]=三角锥形塔
Description[zh_TW]=三角金字塔
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=triangle.layout
