[KMahjonggLayout]
Name=Up&Down
Name[de]=Auf & Ab
Name[nds]=Rop un daal
Name[pt]=Cima&Baixo
Name[pt_BR]=Cima&Baixo
Name[sv]=Uppåt och neråt
Name[uk]=Вгору і вниз
Name[x-test]=xxUp&Downxx
Name[zh_TW]=上與下
Description=Have you ever tried to represent waves in rectangular blocks?
Description[de]=Haben Sie jemals versucht Wellen in einem Rechteck darzustellen?
Description[nds]=Hest Du almaal versöcht, Bülgen ut eckig Blöck to formen?
Description[pt]=Já alguma vez tentou representar ondas com blocos rectangulares?
Description[pt_BR]=Já alguma vez tentou representar ondas com blocos rectangulares?
Description[sv]=Har du någonsin försökt representera vågor med rektangulära block?
Description[uk]=Ніколи не намагалися викласти хвилі з прямокутних блоків?
Description[x-test]=xxHave you ever tried to represent waves in rectangular blocks?xx
Description[zh_TW]=您試過在矩形區塊中體驗波浪嗎？
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=up&down.layout
