[KMahjonggLayout]
Name=Up&Down
Name[ca]=Amunt i avall
Name[da]=Op-og-ned
Name[de]=Auf & Ab
Name[el]=Πάνω&κάτω
Name[es]=Arriba y abajo
Name[et]=Üles ja alla
Name[eu]=Gora eta behera
Name[fr]=Haut et bas
Name[it]=Sotto-sopra
Name[km]=លើ និង ក្រោម
Name[lv]=Augšup un lejup
Name[nds]=Rop un daal
Name[nl]=Op&Neer
Name[nn]=Opp og ned
Name[pa]=ਉੱਤੇ&ਹੇਠਾਂ
Name[pt]=Cima&Baixo
Name[pt_BR]=Para cima e para baixo
Name[ru]=Вверх-вниз
Name[sl]=Gor in dol
Name[sr]=Горе‑доле
Name[sr@latin]=Gore‑dole
Name[sv]=Uppåt och neråt
Name[tr]=Yukarı&Ağaşı
Name[uk]=Вгору і вниз
Name[x-test]=xxUp&Downxx
Name[zh_CN]=上上下下
Name[zh_TW]=上與下
Description=Have you ever tried to represent waves in rectangular blocks?
Description[ca]=Has intentat mai representar ones amb blocs rectangulars?
Description[da]=Har du nogensinde prøvet at forestille bølger i firkantede blokke?
Description[de]=Haben Sie jemals versucht Wellen in einem Rechteck darzustellen?
Description[el]=Έχετε προσπαθήσει να αναπαραστήσετε κύμματα με ορθογώνια κομμάτια;
Description[es]=¿Alguna vez has intentado representar ondas con bloques rectangulares?
Description[et]=Kas oled kunagi püüdnud laineid joonistada nelinurksete kastidena?
Description[eu]=Inoiz saiatu zara uhinak bloke laukizuzenetan adierazten?
Description[fr]=Avez-vous déjà essayé de représenter des vagues avec des blocs rectangulaires ?
Description[it]=Hai mai tentato di disegnare delle onde in blocchi rettangolari?
Description[lv]=Esi kādreiz mēģinājis attēlot viļņus ar taisnstūra bloku palīdzību?
Description[nds]=Hest Du almaal versöcht, Bülgen ut eckig Blöck to formen?
Description[nl]=Hebt u ooit geprobeerd golven weer te geven met rechthoekige blokken?
Description[nn]=Som rektangulære bølgjer.
Description[pt]=Já alguma vez tentou representar ondas com blocos rectangulares?
Description[pt_BR]=Você já tentou alguma vez representar ondas com blocos retangulares?
Description[sl]=Ste kdaj poskušali narediti val iz štirikotnih blokov?
Description[sr]=Јесте ли икад покушали да прикажете таласе правоугаоним блоковима?
Description[sr@latin]=Jeste li ikad pokušali da prikažete talase pravougaonim blokovima?
Description[sv]=Har du någonsin försökt representera vågor med rektangulära block?
Description[uk]=Ніколи не намагалися викласти хвилі з прямокутних блоків?
Description[x-test]=xxHave you ever tried to represent waves in rectangular blocks?xx
Description[zh_CN]=您体验过在矩形区块中沉浮随浪的感觉吗？
Description[zh_TW]=您試過在矩形區塊中體驗波浪嗎？
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=up&down.layout
