[KMahjonggLayout]
Name=Up&Down
Name[bs]=Gore&Dolje
Name[ca]=Amunt i avall
Name[ca@valencia]=Amunt i avall
Name[cs]=Nahoru a dolů
Name[da]=Op-og-ned
Name[de]=Auf & Ab
Name[el]=Πάνω&κάτω
Name[en_GB]=Up&Down
Name[es]=Arriba y abajo
Name[et]=Üles ja alla
Name[eu]=Gora eta behera
Name[fi]=Ylösalas
Name[fr]=Haut et bas
Name[ga]=Up&Down
Name[gl]=Arriba e abaixo
Name[hr]=Up&Down
Name[hu]=Fel és le
Name[id]=Naik&Turun
Name[is]=Upp&Niður
Name[it]=Sotto-sopra
Name[kk]=Жоғары-төмен
Name[km]=ឡើង  ចុះ
Name[lt]=Viršun ir žemyn
Name[lv]=Augšup un lejup
Name[nb]=Opp&Ned
Name[nds]=Rop un daal
Name[nl]=Op&Neer
Name[nn]=Opp og ned
Name[pl]=Góra&Dół
Name[pt]=Cima&Baixo
Name[pt_BR]=Para cima e para baixo
Name[ru]=Вверх-вниз
Name[sk]=Hore&Dole
Name[sl]=Gor in dol
Name[sq]=Lart&Poshtë
Name[sr]=Горе‑доле
Name[sr@ijekavian]=Горе‑доље
Name[sr@ijekavianlatin]=Gore‑dolje
Name[sr@latin]=Gore‑dole
Name[sv]=Uppåt och neråt
Name[tr]=Yukarı&Aşağı
Name[uk]=Вгору і вниз
Name[x-test]=xxUp&Downxx
Name[zh_CN]=上上下下
Name[zh_TW]=上與下
Description=Have you ever tried to represent waves in rectangular blocks?
Description[bs]=Jesi li ikad pokušalo da predstaviš valove u pravougaonim blokovima?
Description[ca]=Has intentat mai representar ones amb blocs rectangulars?
Description[ca@valencia]=Has intentat mai representar ones amb blocs rectangulars?
Description[cs]=Zkoušeli jste si představit vlny v obdélníkových blocích?
Description[da]=Har du nogensinde prøvet at forestille bølger i firkantede blokke?
Description[de]=Haben Sie jemals versucht Wellen in einem Rechteck darzustellen?
Description[el]=Έχετε προσπαθήσει να αναπαραστήσετε κύματα με ορθογώνια κομμάτια;
Description[en_GB]=Have you ever tried to represent waves in rectangular blocks?
Description[es]=¿Alguna vez has intentado representar ondas con bloques rectangulares?
Description[et]=Kas oled kunagi püüdnud laineid joonistada nelinurksete kastidena?
Description[eu]=Inoiz saiatu zara uhinak bloke laukizuzenetan adierazten?
Description[fi]=Oletko yrittänyt rakentaa aaltoja nelikulmaisista kappaleista?
Description[fr]=Avez-vous déjà essayé de représenter des vagues avec des blocs rectangulaires ?
Description[gl]=Algunha vez intentaches representar ondas con bloques rectangulares?
Description[hu]=Hullámok négyszögletű blokkokból
Description[id]=Apakah Anda pernah mencoba untuk mewakili gelombang di blok empat persegi panjang?
Description[it]=Hai mai tentato di disegnare delle onde in blocchi rettangolari?
Description[kk]=Тікбұрыш кірпіштерден толқынды салып көрдіңіз бе?
Description[km]=តើ​អ្នក​ធ្លាប់​សាក​ល្បង​បង្ហាញ​រលក​នៅ​ក្នុង​ប្លុក​រាង​ចតុ​កោណ​ទេ ?
Description[lv]=Esi kādreiz mēģinājis attēlot viļņus ar taisnstūra bloku palīdzību?
Description[nb]=Har du noen gang forsøkt å vise bølger med rektangulære blokker?
Description[nds]=Hest Du almaal versöcht, Bülgen ut eckig Blöck to formen?
Description[nl]=Hebt u ooit geprobeerd golven weer te geven met rechthoekige blokken?
Description[nn]=Som rektangulære bølgjer.
Description[pl]=Czy kiedykolwiek próbowałeś/aś przedstawić fale w postaci prostokątów?
Description[pt]=Já alguma vez tentou representar ondas com blocos rectangulares?
Description[pt_BR]=Você já tentou alguma vez representar ondas com blocos retangulares?
Description[ru]=Вы когда-нибудь пытались изобразить волны кирпичами?
Description[sk]=Už ste niekedy skúšali stelesniť vlny v pravouhlých kvádroch?
Description[sl]=Ali ste kdaj poskušali narediti val iz štirikotnih blokov?
Description[sr]=Јесте ли икад покушали да прикажете таласе правоугаоним блоковима?
Description[sr@ijekavian]=Јесте ли икад покушали да прикажете таласе правоугаоним блоковима?
Description[sr@ijekavianlatin]=Jeste li ikad pokušali da prikažete talase pravougaonim blokovima?
Description[sr@latin]=Jeste li ikad pokušali da prikažete talase pravougaonim blokovima?
Description[sv]=Har du någonsin försökt representera vågor med rektangulära block?
Description[tr]=Hiç dikdörtgen bloklarda dalgaları tasvir etmeyi denemiş miydiniz?
Description[uk]=Ніколи не намагалися викласти хвилі з прямокутних блоків?
Description[x-test]=xxHave you ever tried to represent waves in rectangular blocks?xx
Description[zh_CN]=您体验过在矩形区块中沉浮随浪的感觉吗？
Description[zh_TW]=您試過在矩形區塊中體驗波浪嗎？
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=up&down.layout
