[KMahjonggLayout]
Name=Vi
Description=A V-shaped layout with thick lower corners
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=Vi.layout
