[KMahjonggLayout]
Name=Vi
Name[bs]=Vi
Name[ca]=Vi
Name[ca@valencia]=Vi
Name[cs]=Vi
Name[da]=Ve
Name[de]=Vi
Name[el]=Vi
Name[en_GB]=Vi
Name[eo]=Vi
Name[es]=Uve
Name[et]=<entry>VI</entry>
Name[eu]=Vi
Name[fi]=Vee
Name[fr]=V
Name[ga]=Vi
Name[gl]=Uve
Name[hr]=Vi
Name[hu]=Vi
Name[id]=Vi
Name[it]=V
Name[kk]=Vi
Name[km]=Vi​
Name[lv]=Vi
Name[nb]=Vi
Name[nds]=Vi
Name[nl]=Vi
Name[nn]=V-dagen
Name[pl]=Vi
Name[pt]=Vi
Name[pt_BR]=Vi
Name[ru]=Vi
Name[sk]=Vi
Name[sl]=Vi
Name[sq]=Vi
Name[sr]=Ве
Name[sr@ijekavian]=Ве
Name[sr@ijekavianlatin]=Ve
Name[sr@latin]=Ve
Name[sv]=Vi
Name[tr]=Vi
Name[uk]=Vi
Name[x-test]=xxVixx
Name[zh_CN]=V 字布局
Name[zh_TW]=V 型佈局
Description=A V-shaped layout with thick lower corners
Description[bs]=A V-oblikovan izgled sa velikim nižim uglovima
Description[ca]=Una disposició amb forma de V amb cantonades primes
Description[ca@valencia]=Una disposició amb forma de V amb cantonades primes
Description[cs]=Rozložení ve tvaru V s plnými dolními rohy
Description[da]=Et V-formet layout med tykke nedre hjørner
Description[de]=Ein V-förmiges Design mit dicken unteren Ecken.
Description[el]=Μια διάταξη σε σχήμα V με χοντρές κάτω γωνίες
Description[en_GB]=A V-shaped layout with thick lower corners
Description[es]=Un diseño en forma de V con gruesos ángulos inferiores
Description[et]=V-kujuline paigutus alanevate nurkadega
Description[eu]=V formako diseinua ertz baxu lodiekin
Description[fi]=V-mäinen asettelu, jossa on paksut alakulmat
Description[fr]=La forme d'un « V » avec des bords larges en partie inférieure
Description[ga]=Leagan amach i gcruth V, le cúinní tiubha íochtaracha
Description[gl]=Un deseño visual en forma de uve cos extremos inferiores avultados
Description[hu]=V alakú elrendezés vastagított alsó sarkokkal
Description[id]=Sebuah tata letak berbentuk V dengan sudut lebih tebal
Description[it]=Una disposizione a V con angoli inferiori inspessiti
Description[kk]=Төмен жағы қалың V-қалыпты салынуы
Description[km]=ប្លង់​រាង​ V ដែល​មាន​ជ្រុង​ផ្នែក​ខាង​ក្រោម​ក្រាស់
Description[lv]='V' formas izkārtojums ar bieziem apakšējiem stūriem
Description[nb]=Et V-formet oppsett med tykke hjørner nede
Description[nds]=En Utsehn liek en "V" mit dick Ecken nerrn
Description[nl]=Een V-vormige indeling met dikke hoeken aan de onderkant
Description[nn]=Eit V-forma oppsett med tjukke hjørne nede.
Description[pl]=Układ w kształcie litery V z grubymi rogami
Description[pt]=Um formato em V com cantos inferiores grossos
Description[pt_BR]=Um formato em V com cantos inferiores grossos
Description[ru]=V-образная конструкция с утолщёнными нижними углами
Description[sk]=Do V tvarované rozloženie s hrubými dolnými rohmi
Description[sl]=Postavitev v obliki V-ja z debelimi spodnjimi koti
Description[sr]=Распоред у облику слова V са задебљаним угловима
Description[sr@ijekavian]=Распоред у облику слова V са задебљаним угловима
Description[sr@ijekavianlatin]=Raspored u obliku slova V sa zadebljanim uglovima
Description[sr@latin]=Raspored u obliku slova V sa zadebljanim uglovima
Description[sv]=Ett v-format utlägg med tjocka nedre hörn
Description[tr]=Kalın alt köşeleri olan V-şeklinde bir yerleşim
Description[uk]=Розкладка у формі літери V з широкими нижніми краями
Description[x-test]=xxA V-shaped layout with thick lower cornersxx
Description[zh_CN]=低角度的 V 字布局
Description[zh_TW]=V 型佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=Vi.layout
