[KMahjonggLayout]
Name=Vi
Name[et]=<entry>VI</entry>
Name[x-test]=xxVixx
Name[zh_TW]=V 型佈局
Description=A V-shaped layout with thick lower corners
Description[de]=Ein V-förmiges Design mit dicken unteren Ecken.
Description[et]=V-kujuline paigutus alanevate nurkadega
Description[ga]=Leagan amach i gcruth V, le cúinní tiubha íochtaracha
Description[nds]=En Utsehn liek en "V" mit dick Ecken nerrn
Description[pt]=Um formato em V com cantos inferiores grossos
Description[pt_BR]=Um formato em V com cantos inferiores grossos
Description[sv]=Ett v-format utlägg med tjocka nedre hörn
Description[uk]=Розкладка у формі літери V з широкими нижніми краями
Description[x-test]=xxA V-shaped layout with thick lower cornersxx
Description[zh_TW]=V 型佈局
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=Vi.layout
