[KMahjonggLayout]
Name=Well
Name[ca]=Pou
Name[cs]=Studna
Name[da]=Brønd
Name[de]=Brunnen
Name[el]=Πηγάδι
Name[es]=Pozo
Name[et]=Kaev
Name[eu]=Putzua
Name[fr]=Puit
Name[ga]=Tobar
Name[it]=Pozzo
Name[lv]=Aka
Name[nds]=Born
Name[nl]=Bron
Name[nn]=Brønn
Name[pa]=ਵਧੀਆ
Name[pt]=Poço
Name[pt_BR]=Poço
Name[ru]=Колодец
Name[sr]=Бунар
Name[sr@latin]=Bunar
Name[sv]=Brunn
Name[uk]=Колодязь
Name[x-test]=xxWellxx
Name[zh_CN]=井
Name[zh_TW]=井
Description=A rectangular well with stairs at all sides
Description[ca]=Un pou rectangular amb escales a totes les cares
Description[da]=En firkantet skakt med trapper på alle sider
Description[de]=Ein rechteckiger Brunnen mit Stufen auf allen Seiten.
Description[el]=Ένα ορθογώνιο πηγάδι με κλίμακες σε όλες τις πλευρές
Description[es]=Un pozo rectangular con escaleras por todos los lados
Description[et]=Nelinurkne kaev igas küljes astmetega
Description[eu]=Putzu laukizuzena albo guztietan eskailererkin
Description[fr]=Un puit rectangulaire avec des escaliers de chaque côté
Description[it]=Un pozzo rettangolare con gradini su tutti i fianchi
Description[lv]=Taisnstūrveida aka ar kāpnēm visās pusēs
Description[nds]=En rechteckig Born mit Treppstopen an elk Siet
Description[nl]=Een rechthoekige bron met trappen aan alle kanten
Description[nn]=Ein rektangulær brønn med trapper langs sidene.
Description[pt]=Um poço rectangular com escadas de ambos os lados
Description[pt_BR]=Um poço retangular com escadas de ambos os lados
Description[sr]=Правоугаони бунар са степеницама са свих страна
Description[sr@latin]=Pravougaoni bunar sa stepenicama sa svih strana
Description[sv]=En rektangulär brunn med trappor på alla sidor
Description[uk]=Прямокутний колодязь зі сходами з усіх сторін
Description[x-test]=xxA rectangular well with stairs at all sidesxx
Description[zh_CN]=四周有阶梯的矩形井
Description[zh_TW]=矩形的井，週邊有階梯
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=well.layout
