[KMahjonggLayout]
Name=Well
Name[sv]=Brunn
Name[uk]=Колодязь
Description=A rectangular well with stairs at all sides
Description[sv]=En rektangulär brunn med trappor på alla sidor
Description[uk]=Прямокутний колодязь зі сходами з усіх сторін
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=well.layout
