[KMahjonggLayout]
Name=X-shaped
Description=A large letter X made of mahjongg tiles
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=X_shaped.layout
