[KMahjonggLayout]
Name=X-shaped
Name[sv]=X-form
Name[uk]=X-форма
Description=A large letter X made of mahjongg tiles
Description[sv]=Den stora bokstaven X skapad av Mahjongg-brickor
Description[uk]=Велика літера X викладена з плиток маджонг
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=X_shaped.layout
